<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		{% include 'section/sidebar/sidebar.html' %}
	</div>
	<div class="col-md-9">

		<div class="breadcrumbs">
			<div itemscope="" itemtype="http://schema.org/BreadcrumbList">
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem"><a href="/" title="Главная" itemprop="item"><span
							itemprop="name">Miele</span></a>
				</div>
				<div class="breadcrumbs__sep">/</div>
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem">
					<span itemprop="name">
						Поиск
					</span>
					<a itemprop="item" href=''></a>
				</div>
			</div>
		</div>
		<h1 class="title">
			Результаты поиска
		</h1>
		<div class="search-found special-offers catalog catalog__thumb">
			<div class="search-found__item">
				<form class="search-found__form" action="" method="get">
					<input type="text" name="q" placeholder="Евгений" value="">
					<input type="submit" value="Найти" class="btn-sub3 abuse-popup__submit" name="">
				</form>
			</div>
			<div class="search-found__item">
				<span class="search__info">Найдено товаров: 5 позиций</span>
			</div>
			<div class="catalog__items">
				<div class="catalog__item">
					<div class="swiper" data-swiper>
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_1.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_2.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_3.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide swiper-slide-text">
									<a href="#" class="special-offers__new">
										<div class="special-offers__caption">
											Характеристики
										</div>
										<!-- /.special-offers__caption -->
										<div class="special-offers__desc">
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
										</div>
										<!-- /.special-offers__desc -->
										<div class="special-offers__info">
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
										</div>
										<!-- /.special-offers__info -->
									</a>
									<!-- /.special-offers__new -->
								</div>
							</div>
						</div>
						<a href="#" class="swiper-pagination">
						</a>
						<!-- /.swper-pagination -->
					</div>
					<div class="special-offers__content">
						<div class="announcing">
							<div class="announcing__item"
								data-announcing="Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/sale.svg" src="images/small/sale.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__item"
								data-announcing="Специальное-Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/hit.svg" src="images/small/hit.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__status">
								<span>
									В наличии
								</span>
								<div class="ratings">
									<div class="ratings__star">
									</div>
									<b class="ratings__number">4,5</b>
									<a href="" class="ratings__link">(5)</a>
								</div>
							</div>
							<!-- /.announcing__status -->
						</div>
						<!-- /.announcing -->
						<a href="#" class="special-offers__text">
							<p>Стиральная машина</p>
							Miele WWD120 WCS
						</a>
						<div class="special-offers__sale">
							<span class="special-offers__price">64 900<i class="special-offers__rub">руб.</i>
							</span>
							<div class="special-offers__fav tooltip" data-tippy-content="Добавить в избранное">
							</div>
							<!-- /.special-offers__fav -->
							<div class="special-offers__compare tooltip" data-tippy-content="Добавить в сравнение">
							</div>
							<!-- /.special-offers__compare -->
							<a href="#" data-url="ajax/add-cart.html " data-tippy-content="Добавить в корзину" data-ajax
								class="special-offers__buy tooltip">купить</a>
						</div>
					</div>
					<!-- /.special-offers__content -->
				</div>
				<div class="catalog__item">
					<div class="swiper" data-swiper>
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_1.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_2.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_3.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide swiper-slide-text">
									<a href="#" class="special-offers__new">
										<div class="special-offers__caption">
											Характеристики
										</div>
										<!-- /.special-offers__caption -->
										<div class="special-offers__desc">
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
										</div>
										<!-- /.special-offers__desc -->
										<div class="special-offers__info">
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
										</div>
										<!-- /.special-offers__info -->
									</a>
									<!-- /.special-offers__new -->
								</div>
							</div>
						</div>
						<a href="#" class="swiper-pagination">
						</a>
						<!-- /.swper-pagination -->
					</div>
					<div class="special-offers__content">
						<div class="announcing">
							<div class="announcing__item"
								data-announcing="Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/sale.svg" src="images/small/sale.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__item"
								data-announcing="Специальное-Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/hit.svg" src="images/small/hit.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__item" data-announcing="Cделано в Германия">
								<img data-src="images/small/flag_ger.svg" src="images/small/flag_ger.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__status">
								<span>
									В наличии
								</span>
								<div class="ratings">
									<div class="ratings__star">
									</div>
									<b class="ratings__number">4,5</b>
									<a href="" class="ratings__link">(5)</a>
								</div>
							</div>
							<!-- /.announcing__status -->
						</div>
						<!-- /.announcing -->
						<a href="#" class="special-offers__text">
							<p>Стиральная машина</p>
							Miele WWD120 WCS
						</a>
						<div class="special-offers__sale">
							<span class="special-offers__price">64 900<i class="special-offers__rub">руб.</i>
							</span>
							<div class="special-offers__fav tooltip" data-tippy-content="Добавить в избранное">
							</div>
							<!-- /.special-offers__fav -->
							<div class="special-offers__compare tooltip" data-tippy-content="Добавить в сравнение">
							</div>
							<!-- /.special-offers__compare -->
							<a href="#" data-url="ajax/add-cart.html " data-tippy-content="Добавить в корзину" data-ajax
								class="special-offers__buy tooltip">купить</a>
						</div>
					</div>
					<!-- /.special-offers__content -->
				</div>
				<div class="catalog__item">
					<div class="swiper" data-swiper>
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_1.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_2.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_3.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide swiper-slide-text">
									<a href="#" class="special-offers__new">
										<div class="special-offers__caption">
											Характеристики
										</div>
										<!-- /.special-offers__caption -->
										<div class="special-offers__desc">
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
										</div>
										<!-- /.special-offers__desc -->
										<div class="special-offers__info">
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
										</div>
										<!-- /.special-offers__info -->
									</a>
									<!-- /.special-offers__new -->
								</div>
							</div>
						</div>
						<a href="#" class="swiper-pagination">
						</a>
						<!-- /.swper-pagination -->
					</div>
					<div class="special-offers__content">
						<div class="announcing">
							<div class="announcing__item"
								data-announcing="Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/sale.svg" src="images/small/sale.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__item"
								data-announcing="Специальное-Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/hit.svg" src="images/small/hit.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__status">
								<span>
									В наличии
								</span>
								<div class="ratings">
									<div class="ratings__star">
									</div>
									<b class="ratings__number">4,5</b>
									<a href="" class="ratings__link">(5)</a>
								</div>
							</div>
							<!-- /.announcing__status -->
						</div>
						<!-- /.announcing -->
						<a href="#" class="special-offers__text">
							<p>Стиральная машина</p>
							Miele WWD120 WCS
						</a>
						<div class="special-offers__sale">
							<span class="special-offers__price catalog__price price__dashed">
								199 000
								<i class="special-offers__rub catalog__rub">руб.</i>
								<span class="price__absolute">
									250 000 руб.
									<div class="price__cheaper">
										-10%
									</div>
									<!-- /.catalog__cheaper -->
								</span>
								<div class="announcing__popup">
									Цена действует при покупке комплекта техники Miele
									<a href="#">
										Подробнее
									</a>
								</div>
							</span>
							<div class="special-offers__fav tooltip" data-tippy-content="Добавить в избранное">
							</div>
							<!-- /.special-offers__fav -->
							<div class="special-offers__compare tooltip" data-tippy-content="Добавить в сравнение">
							</div>
							<!-- /.special-offers__compare -->
							<a href="#" data-url="ajax/add-cart.html " data-tippy-content="Добавить в корзину" data-ajax
								class="special-offers__buy tooltip">купить</a>
						</div>
					</div>
					<!-- /.special-offers__content -->
				</div>
				<div class="catalog__item">
					<div class="swiper" data-swiper>
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_1.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_2.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_3.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide swiper-slide-text">
									<a href="#" class="special-offers__new">
										<div class="special-offers__caption">
											Характеристики
										</div>
										<!-- /.special-offers__caption -->
										<div class="special-offers__desc">
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
										</div>
										<!-- /.special-offers__desc -->
										<div class="special-offers__info">
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
										</div>
										<!-- /.special-offers__info -->
									</a>
									<!-- /.special-offers__new -->
								</div>
							</div>
						</div>
						<a href="#" class="swiper-pagination">
						</a>
						<!-- /.swper-pagination -->
					</div>
					<div class="special-offers__content">
						<div class="announcing">
							<div class="announcing__item"
								data-announcing="Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/sale.svg" src="images/small/sale.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__item"
								data-announcing="Специальное-Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/hit.svg" src="images/small/hit.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__status">
								<span>
									В наличии
								</span>
								<div class="ratings">
									<div class="ratings__star">
									</div>
									<b class="ratings__number">4,5</b>
									<a href="" class="ratings__link">(5)</a>
								</div>
							</div>
							<!-- /.announcing__status -->
						</div>
						<!-- /.announcing -->
						<a href="#" class="special-offers__text">
							<p>Стиральная машина</p>
							Miele WWD120 WCS
						</a>
						<div class="special-offers__sale">
							<span class="special-offers__price">64 900<i class="special-offers__rub">руб.</i>
							</span>
							<div class="special-offers__fav tooltip" data-tippy-content="Добавить в избранное">
							</div>
							<!-- /.special-offers__fav -->
							<div class="special-offers__compare tooltip" data-tippy-content="Добавить в сравнение">
							</div>
							<!-- /.special-offers__compare -->
							<a href="#" data-url="ajax/add-cart.html " data-tippy-content="Добавить в корзину" data-ajax
								class="special-offers__buy tooltip">купить</a>
						</div>
					</div>
					<!-- /.special-offers__content -->
				</div>
				<div class="catalog__item">
					<div class="swiper" data-swiper>
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_1.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_2.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_3.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide swiper-slide-text">
									<a href="#" class="special-offers__new">
										<div class="special-offers__caption">
											Характеристики
										</div>
										<!-- /.special-offers__caption -->
										<div class="special-offers__desc">
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
										</div>
										<!-- /.special-offers__desc -->
										<div class="special-offers__info">
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
										</div>
										<!-- /.special-offers__info -->
									</a>
									<!-- /.special-offers__new -->
								</div>
							</div>
						</div>
						<a href="#" class="swiper-pagination">
						</a>
						<!-- /.swper-pagination -->
					</div>
					<div class="special-offers__content">
						<div class="announcing">
							<div class="announcing__item"
								data-announcing="Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/sale.svg" src="images/small/sale.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__item"
								data-announcing="Специальное-Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/hit.svg" src="images/small/hit.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__status">
								<span>
									В наличии
								</span>
								<div class="ratings">
									<div class="ratings__star">
									</div>
									<b class="ratings__number">4,5</b>
									<a href="" class="ratings__link">(5)</a>
								</div>
							</div>
							<!-- /.announcing__status -->
						</div>
						<!-- /.announcing -->
						<a href="#" class="special-offers__text">
							<p>Стиральная машина</p>
							Miele WWD120 WCS
						</a>
						<div class="special-offers__sale">
							<span class="special-offers__price">64 900<i class="special-offers__rub">руб.</i>
							</span>
							<div class="special-offers__fav tooltip" data-tippy-content="Добавить в избранное">
							</div>
							<!-- /.special-offers__fav -->
							<div class="special-offers__compare tooltip" data-tippy-content="Добавить в сравнение">
							</div>
							<!-- /.special-offers__compare -->
							<a href="#" data-url="ajax/add-cart.html " data-tippy-content="Добавить в корзину" data-ajax
								class="special-offers__buy tooltip">купить</a>
						</div>
					</div>
					<!-- /.special-offers__content -->
				</div>
			</div>
		</div>
	</div>
</div>
