<div class="category">
	<div class="category-container container">
		<div class="swiper-wrapper category__items">
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/category-1.png')">
				<span class="category__caption">
					Стиральные машины<br>
					Miele
				</span>
				<!-- /.category__caption -->
				<div class="category__text">
					Качество и надежность
				</div>
				<!-- /.category__text -->
				<span class="category__price">
					от 54 800 <span>до 270 000 руб.</span>
				</span>
				<!-- /.category__price -->
			</a>
			<!-- /.swiper-slide category__item -->
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/category-1.png')">
				<span class="category__caption">
					Пылесосы Miele
				</span>
				<!-- /.category__caption -->
				<div class="category__text">
					Чистота и комфорт
				</div>
				<span class="category__price">
					от 54 800 <span>до 270 000 руб.</span>
				</span>
				<!-- /.category__price -->
			</a>
			<!-- /.swiper-slide category__item -->
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/category-1.png')">
				<span class="category__caption">
					Посудомоечные
					<span> машины Mie</span>le
				</span>
				<!-- /.category__caption -->
				<div class="category__text">
					Гигиеничность и удобство
				</div>
				<span class="category__price">
					от 54 800 <span>до 270 000 руб.</span>
				</span>
				<!-- /.category__price -->
			</a>
			<!-- /.swiper-slide category__item -->
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/category-1.png')">
				<span class="category__caption">
					Сушильные машины<br>
					Miele
				</span>
				<!-- /.category__caption -->
				<div class="category__text">
					Забота и бережливость
				</div>
				<span class="category__price">
					от 54 800 <span>до 270 000 руб.</span>
				</span>
				<!-- /.category__price -->
			</a>
			<!-- /.swiper-slide category__item -->
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/category-1.png')">
				<span class="category__caption">
					Духовые шкафы Miele
				</span>
				<!-- /.category__caption -->
				<div class="category__text">
					Функциональность и экономичность
				</div>
				<span class="category__price">
					от 54 800 <span>до 270 000 руб.</span>
				</span>
				<!-- /.category__price -->
			</a>
			<!-- /.swiper-slide category__item -->
			<a href="#" class="swiper-slide category__item" style="background-image: url('images/category-1.png')">
				<span class="category__caption">
					Варочные панели<br>
					Miele
				</span>
				<!-- /.category__caption -->
				<div class="category__text">
					Быстрота и удобство
				</div>
				<span class="category__price">
					от 54 800 <span>до 1 000 000 руб.</span>
				</span>
				<!-- /.category__price -->
			</a>
			<!-- /.swiper-slide category__item -->
		</div>
		<!-- /.swiper-wrapper category__items -->
	</div>
	<!-- /.category-container -->
	<div class="swiper-pagination category-pagination"></div>
</div>
<!-- /.category -->
