.category {
	position: relative;
	width: 100%;
	max-width: 100%;
	font-family: "HelveticaNeueCyr-Roman";
	margin-bottom: 54px;

	@media screen and (max-width: 767px) {
		padding-bottom: 0;
		margin-bottom: 28px;

		.category__items {
			flex-wrap: nowrap;
		}

		.swiper-pagination {
			display: flex;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);

			&-bullet {
				margin: 5px 3px !important;
				background-color: #d8d8d8;
				opacity: 1;

				&-active {
					background-color: $base;
				}
			}
		}

		.category__item {
			justify-content: space-between;
			width: 228px;
			// height: auto;
			height: 151px;
			padding: 11px 98px 12px 16px !important;
			// background-position: calc(100% -5px) bottom;
			background-size: auto;
			background-position: calc(100% + 50px) 100%;

			&:nth-child(-n+3) {
				margin-bottom: 0;
			}

			&:nth-child(3n+2) {
				margin-left: auto;
				margin-right: auto;
			}

			// &:hover {
			// 	background-color: $base;
			// 	.category__caption {
			// 		color: #ffffff;
			// 		text-decoration: underline;
			// 	}
			// 	.category__price {
			// 		color: #ffffff;
			// 	}
			// }
		}

		.category__caption {
			// color: #ba1212;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			margin-bottom: 5px;
		}

		.category__text {
			margin-bottom: 10px;
		}

		.category__price {
			display: flex;
			flex-direction: column;
			font-size: 13px;
			line-height: 16px;

			span {
				margin-top: 3px;
			}

			br {
				display: block;
			}
		}

		.swiper-pagination {
			justify-content: center;
			position: static;
			transform: none;
		}

		.category-container {
			margin-bottom: 16px;
		}
	}

	// .category__items
	.category__items {
		display: flex;
		flex-wrap: wrap;
	}

	// .category__item
	.category__item {
		display: flex;
		flex-direction: column;
		width: calc((100%/3) -20px);
		height: 151px;
		padding: 22px 150px 16px 26px;
		background-repeat: no-repeat;
		background-position: calc(100% - -5px) 0;
		background-color: #f1f1f1;
		text-decoration: none !important;

		&:hover {
			background-color: $base;

			// &:before {
			// 	content: '';
			// 	position: absolute;
			// 	top: 0;
			// 	left: 0;
			// 	background: #ffdede;
			// 	right: 0;
			// 	bottom: 0;
			// 	// background-color: #C1C1C1;
			// }
			.category {
				&__caption {
					color: #ffffff;
					text-decoration: underline !important;
				}

				&__price, &__text {
					color: #ffffff;
				}
			}

			// .category__price {
			// 	color: #ffffff;
			// 	margin-top: auto;
			// }
		}

		// position: relative;
		&:nth-child(-n+3) {
			margin-bottom: 16px;
		}

		&:nth-child(3n+2) {
			margin-left: 29px;
			margin-right: 29px;
		}

		&:last-child {
			padding: 22px 125px 16px 26px;
		}

		* {
			text-decoration: none !important;
		}
	}

	.swiper-pagination {
		display: none;
	}

	// .category__caption
	&__caption {
		color: $base;
		font-family: "HelveticaNeueCyr-Roman";
		font-size: 18px;
		font-weight: 400;
		line-height: 22px;
		margin-bottom: 6px;
	}

	&__text {
		color: #4b4b4b;
		font-family: "HelveticaNeueCyr-Roman";
		font-size: 14px;
		font-weight: 400;
		line-height: 19px;
		margin-bottom: 20px;
	}

	// .category__price
	&__price {
		font-family: "HelveticaNeueCyr-Bold";
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		margin-top: auto;
		color: black;

		br {
			display: none;
		}
	}

	* {
		box-sizing: border-box;
	}
}
