<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		{% include 'section/sidebar/sidebar.html' %}
	</div>
	<div class="col-md-9">
		<div class="breadcrumbs">
			<div itemscope="" itemtype="http://schema.org/BreadcrumbList">
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem">
					<a href="/" title="Главная" itemprop="item">
						<span itemprop="name">
							Miele
						</span>
					</a>
					<meta itemprop="position" content="1">
				</div>
				<div class="breadcrumbs__sep">»</div>
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem">
					<span itemprop="name">Сервис</span>
					<a itemprop="item" href="/delivery-and-payment/" title="Сервис"></a>
					<meta itemprop="position" content="2">
				</div>
			</div>
		</div>
		<h1 class="title">
			Сервис
		</h1>
		<div class="text-default">
			<div class="shipping-payment service">
				<picture>
					<source media="(max-width: 767px)" srcset="{{src}}service-767.jpeg">
					<img src="{{src}}service.jpeg" alt="" class="shipping-payment__banner lazyload">
				</picture>
				<div class="shipping-payment__row">
					<div class="shipping-payment__caption">
						<span><img src="{{src}}ustanovka.svg" alt=""></span> Установка техники
					</div>
					<!-- /.shipping-payment__caption -->
					<div class="shipping-payment__text">
						<p>
							По предварительному согласованию покупатели нашего интернет-магазина могут заказать
							установку крупногабаритной техники в
							день доставки.
						</p>
						<b>
							Стоимость установки бытовой техники Miele рассчитывается в соответствии с <a
								href="#">официально действующими тарифами.</a>
						</b>
					</div>
					<!-- /.shipping-payment__text -->
				</div>
				<!-- /.shipping-payment__row -->
				<div class="shipping-payment__row">
					<div class="shipping-payment__caption">
						<span><img src="{{src}}servisnoe-obsl.svg" alt=""></span>Сервисное обслуживание
					</div>
					<div class="shipping-payment__text">
						<p>
							По всем вопросам, связанным с организацией сервисного обслуживания Miele в России, Вы можете
							обращаться в контактный
							центр.
						</p>
						<div class="shipping-payment__info">
							Телефон контактного центра: <a href="tel:+8(800)2002900">8 (800) 200 2900.</a> Звонок по
							России бесплатный.
						</div>
						<!-- /.shipping-payment__info -->
					</div>
					<!-- /.shipping-payment__text -->
					<div class="shipping-payment__column">
						<div class="shipping-payment__col">
							<div class="shipping-payment__subtitle">Москва</div>
							<!-- /.shipping-payment__subtitle -->
							<a href="#" class="shipping-payment__link">Магазин Сервиса (Miele Service Point)</a>
							<!-- /.shipping-payment__link -->
							<div class="shipping-payment__desc">
								<span>
									<b>Адрес:</b>
									25284, Москва, Ленинградский проспект, д.31а, стр.1.
								</span>
								<i>
									Проезд до станции метро «Динамо», далее по 1-му Боткинскому проезду до Бизнес-Центра
									«Монарх», вход в торговый центр со
									стороны 2-го Боткинского проезда — 1 этаж, налево. Магазин осуществляет продажу
									запасных частей, аксессуаров и средств
									по уходу. Сервисное обслуживание пылесосов и настольных кофемашин.
								</i>
								<span>
									<b>Часы работы:</b>
									пн-вс, с 10.00 до 20.00
								</span>
								<span>
									<b>
										Тел.:
									</b>
									+7(495) 745-89-90
								</span>
								<span>
									<b>
										Телефон контактного центра:
									</b>
									8(800) 200 2900 (по РФ бесплатно)
								</span>
							</div>
							<!-- /.shipping-payment__desc -->
						</div>
						<!-- /.shipping-payment__col -->
						<div class="shipping-payment__col">
							<div class="shipping-payment__subtitle">Санкт-Петербург</div>
							<!-- /.shipping-payment__subtitle -->
							<a href="#" class="shipping-payment__link">Магазин Сервиса (Miele Service Point)</a>
							<!-- /.shipping-payment__link -->
							<div class="shipping-payment__desc">
								<span>
									<b>Адрес:</b>
									197046, Санкт-Петербург, Петроградская набережная, д. 18а.
								</span>
								<span>
									<b>Часы работы:</b>
									пн-чт, с 9.00 до 18.00; пт, с 9.00 до 17.00; сб и вс — выходной.
								</span>
								<span>
									<b>
										Тел.:
									</b>
									+7(812) 332-08-00
								</span>
								<span>
									<b>
										Факс.:
									</b>
									+7(812) 332-03-32
								</span>
								<span>
									<b>
										Телефон контактного центра:
									</b>
									8(800) 200 2900 (по РФ бесплатно)
								</span>
							</div>
							<!-- /.shipping-payment__desc -->
						</div>
						<!-- /.shipping-payment__col -->
					</div>
					<!-- /.shipping-payment__column -->
				</div>
				<div class="shipping-payment__row info">
					<div class="shipping-payment__caption">
						Сервисное обслуживание в других городах России
					</div>
					<!-- /.shipping-payment__caption -->
					<div class="shipping-payment__service">
						<div class="shipping-payment__top">
							<div class="shipping-payment__service-name">Екатеринбург</div>
							<!-- /.shipping-payment__service-name -->
							<div class="shipping-payment__service-name">Самара</div>
							<!-- /.shipping-payment__service-name -->
							<div class="shipping-payment__service-name">Ростов-на-Дону</div>
							<!-- /.shipping-payment__service-name -->
							<div class="shipping-payment__service-name">Казань</div>
							<!-- /.shipping-payment__service-name -->
							<div class="shipping-payment__service-name">Челябинск</div>
							<!-- /.shipping-payment__service-name -->
							<div class="shipping-payment__service-name">Краснодар</div>
							<!-- /.shipping-payment__service-name -->
							<div class="shipping-payment__service-name">Сочи</div>
							<!-- /.shipping-payment__service-name -->
						</div>
						<!-- /.shipping-payment__top -->
						<div class="shipping-payment__bottom">
							<div class="shipping-payment__service-text">Мобильный сервисный центр:</div>
							<!-- /.shipping-payment__service-text -->
							<a href="tel:+88002002900" class="shipping-payment__service-tel">
								8 (800) 200 2900
							</a>
							<!-- /.shipping-payment__service-tel -->
						</div>
						<!-- /.shipping-payment__bottom -->
					</div>
					<!-- /.shipping-payment__service -->
				</div>
				<div class="shipping-payment__row maps">
					<div class="shipping-payment__caption">
						Сервисные центры Miele по обслуживанию бытовой техники
					</div>
					<div class="shipping-payment__map">
						<div class="warranty__map" id="js-warranty__map" data-center="59.9386300,30.3141300">
							<div class="warranty__map-point js-warranty__map-point"
								data-coords="59.829889||30.346312||Miele Service Point|| г. Москва, Ленинградский проспект, д.31а, стр.1. || +7(495) 745-89-90 ||8(800) 200 2900 (по РФ бесплатно)">
							</div>
							<div class="warranty__map-point js-warranty__map-point"
								data-coords="59.9386300||30.3141300||Miele Service Point|| г. Москва, Ленинградский проспект, д.31а, стр.1. || +7(495) 745-89-90 || ">
							</div>
						</div>
					</div>
					<!-- /.shipping-payment__map -->
				</div>
				<div class="shipping-payment__row">
					<div class="shipping-payment__caption">
						<span><img src="{{src}}m.svg" alt=""></span> Стоимость услуг и дополнительная информация
					</div>
					<div class="shipping-payment__text">
						<div class="shipping-payment__table">
							<div class="shipping-payment__item">
								<span>
									Прейскурант цен на работы и услуги Сервисной службы Miele
								</span>
								<div class="documentation">
									<a href="#" class="doc_loading doc_loading_first" title="">
										<i class="icon_doc"></i>
										<span>Скачать</span>
										PDF, 1.24 Мб
									</a>
								</div>
							</div>
							<!-- /.shipping-payment__item -->
							<div class="shipping-payment__item">
								<span>
									Прайс-лист на услуги ООО Миле СНГ для Покупателей MCA
								</span>
								<div class="documentation">
									<a href="#" class="doc_loading doc_loading_first" title="">
										<i class="icon_doc"></i>
										<span>Скачать</span>
										PDF, 1.24 Мб
									</a>
								</div>
							</div>
							<!-- /.shipping-payment__item -->
							<div class="shipping-payment__item">
								<span>
									Брошюра «Расширенная установка»
								</span>
								<div class="documentation">
									<a href="#" class="doc_loading doc_loading_first" title="">
										<i class="icon_doc"></i>
										<span>Скачать</span>
										PDF, 1.24 Мб
									</a>
								</div>
							</div>
							<!-- /.shipping-payment__item -->
							<div class="shipping-payment__item">
								<span>
									О технических требованиях к коммуникациям и помещениям
								</span>
								<div class="documentation">
									<a href="#" class="doc_loading doc_loading_first" title="">
										<i class="icon_doc"></i>
										<span>Скачать</span>
										PDF, 1.24 Мб
									</a>
								</div>
							</div>
							<!-- /.shipping-payment__item -->
							<div class="shipping-payment__item">
								<span>
									Организации, уполномоченные на подключение КБТ Miele
								</span>
								<div class="documentation">
									<a href="#" class="doc_loading doc_loading_first" title="">
										<i class="icon_doc"></i>
										<span>Скачать</span>
										PDF, 1.24 Мб
									</a>
								</div>
							</div>
							<!-- /.shipping-payment__item -->
							<div class="shipping-payment__item">
								<span>
									Памятка по подключению стиральных и сушильных машин Miele
								</span>
								<div class="documentation">
									<a href="#" class="doc_loading doc_loading_first" title="">
										<i class="icon_doc"></i>
										<span>Скачать</span>
										PDF, 1.24 Мб
									</a>
								</div>
							</div>
							<!-- /.shipping-payment__item -->
							<div class="shipping-payment__item">
								<span>
									Памятка по доставке и установке холодильников MasterCool и отдельно стоящих
									комбинаций Side-by-Side
								</span>
								<div class="documentation">
									<a href="#" class="doc_loading doc_loading_first" title="">
										<i class="icon_doc"></i>
										<span>Скачать</span>
										PDF, 1.24 Мб
									</a>
								</div>
							</div>
							<!-- /.shipping-payment__item -->
							<div class="shipping-payment__item">
								<span>
									Организации, уполномоченные на подключение малого профессионального оборудования
									Miele
								</span>
								<div class="documentation">
									<a href="#" class="doc_loading doc_loading_first" title="">
										<i class="icon_doc"></i>
										<span>Скачать</span>
										PDF, 1.24 Мб
									</a>
								</div>
							</div>
							<!-- /.shipping-payment__item -->
						</div>
						<!-- /.shipping-payment__table -->
					</div>
					<!-- /.shipping-payment__text -->
				</div>
			</div>
			<!-- /.shipping-payment -->
		</div>
	</div>
</div>
