.special-offers, .favorite__items .special-offers, .favorite__items, .js-news, .js-news .special-offers {
	display: flex;
	flex-direction: column;
	// overflow: hidden;
	position: relative;
	width: 100%;
	max-width: 1436px;
	margin: 44px 0 47px;
	margin-left: auto;
	margin-right: auto;

	@media screen and (max-width: 767px) {
		margin: 27px 0 36px;
		padding-bottom: 24px;

		.announcing {
			top: 15px;
			left: 16px;
		}

		.swiper-button-next {
			top: 17px;
			right: -1px;
		}

		.swiper-button-prev {
			top: 17px;
			right: 46px;
		}

		.swiper-pagination_2 {
			// right: 122px;
			// top: 9px;
		}

		.swiper {
			.swiper-slide {
				opacity: 1 !important;

				.special-offers__new {
					position: static;
				}

				&-text {
					position: static;
				}
			}
		}

		.swiper-pagination-bullet {}

		.new-items_prev, .swiper-button-prev, .new-items_next, .swiper-button-next {
			display: none;
		}

		.new-items__link {
			width: 100%;
			text-align: center;
		}

		.swiper-button-prev, .swiper-button-next {
			display: none !important;
		}

		.special-offers__buy {
			// background-image: none;
			// width: 92px;
			// height: 36px;
			display: flex;
			justify-content: center;
			color: #ffffff;
		}

		.announcing {
			top: 20px;
			left: 20px;

			&__status {
				width: auto;
				margin-top: 0;
				margin-left: auto;

				span {
					display: none;
				}
			}
		}

		.special-offers__buy, .special-offers__compare, .special-offers__fav {
			opacity: 1;
			background-repeat: no-repeat;
		}

		.special-offers__slide {
			min-height: unset;
			padding: 15px 19px 12px;
		}

		.special-offers__sale {
			align-items: center;
			justify-content: unset;
		}

		.special-offers__fav {
			margin-left: auto;
			background-size: 24px;
		}

		.special-offers__compare {
			// margin: 0 20px 0 7px;
			background-size: 24px;
		}

		.special-offers__pic {
			max-height: 240px;
		}

		.special-offers__text {
			padding: 19px 0 37px;
			font-size: 18px;

			span {
				display: block;
			}
		}

		.special-offers__content {
			padding-right: 4px;
		}

		.swiper-pagination_2, .swiper-pagination {
			display: flex;
			justify-content: center;
			top: unset;
			bottom: -28px;
			left: 0;
			width: 100%;
			margin: 0 auto;

			* {
				margin: 0 5px;
			}
		}

		.ratings {
			&__star {
				width: 21px;
				height: 21px;
				background-size: 21px;
			}

			&__number {
				margin-left: 6px;
			}
		}

		.swiper {
			.swiper {
				&-pagination {
					bottom: unset;
					height: auto;
				}
			}
		}

		&__pic {}

		&__title {
			margin-bottom: 19px;
			color: #212121;
			font-size: 24px;
			font-weight: 400;
			white-space: normal;
			line-height: 34px;
			padding-left: 0;
		}

		&.promotional-goods {
			margin-bottom: 31px;

			.special-offers__text {
				padding-bottom: 39px;
			}

			.special-offers__sale {
				flex-grow: 0;
				margin-top: auto;
			}

			.swiper-pagination {
				position: unset;
				margin: 28px auto 0;
			}

			.special-offers__slide {
				padding: 30px 21px 15px;
			}
		}
	}

	.container {
		display: flex;
		flex-wrap: wrap;
		position: relative;
	}

	.swiper-scrollbar {
		display: none;
	}

	.swiper-pagination, .swiper-pagination_2, .swiper-pagination_3 {
		display: flex;
		justify-content: flex-end;
		top: 23px;
		right: 124px;
	}

	.swiper-pagination-bullet {
		margin-left: 16px;
	}

	.swiper-button-prev, .new-items_prev {
		position: absolute;
		top: 30px;
		right: 48px;
		left: unset;
		width: 34px;
		height: 34px;
		background: url("../images/special-offers_prev.svg") 0/34px no-repeat;

		// &:hover {
		// 	background: url("../images/swiper-button-color-prev.svg") 0/34px no-repeat;
		// }
		&:hover {
			background: url("../images/swiper-button-color-prev.svg") 0/34px no-repeat;
		}
	}

	.new-items_prev {
		background: url("../images/new-items_prev.png") 0/34px no-repeat;
	}

	.swiper-button-next, .new-items_next {
		top: 30px;
		right: 3px;
		width: 34px;
		height: 34px;
		background: url("../images/special-offers_next.svg") 0/34px no-repeat;

		// &:hover {
		// 	background: url("../images/swiper-button-color-next.svg") 0/34px no-repeat;
		// }
		&:hover {
			background: url("../images/swiper-button-color-next.svg") 0/34px no-repeat;
		}
	}

	.new-items_next {
		background: url("../images/new-items_next.png") 0/34px no-repeat;
	}

	.swiper-pagination-bullet {
		background: #000 !important;

		&-active {
			box-sizing: border-box;
			background: $base !important;
		}
	}

	.swiper-container {
		width: calc(100%+40px);
		margin: -20px;
		padding: 20px;
	}

	.swiper {
		display: flex;
		max-width: 100%;
		// position: relative;
		margin-bottom: 14px;

		.swiper {
			&-slide {
				position: unset;
				height: 243px;
				transform: unset !important;
				opacity: 0 !important;

				&-active {
					order: -1;
					opacity: 1 !important;

					&.swiper-slide-text {
						// position: absolute;
						// top: 0;
						// left: 0;
						// bottom: 64px;
						// background: white;
						transform: unset !important;

						.special-offers__new {
							&:hover {}

							&:active {}

							&:focus {}
						}
					}
				}
			}

			&-pagination {
				display: flex;
				top: 4px;
				right: 8px;
				left: 8px;
				width: auto;
				height: 256px;

				&-bullet {
					display: flex;
					flex-grow: 1;
					width: auto;
					height: 100%;
					opacity: 1;
					border-radius: unset;
					margin-left: unset;
					background: unset !important;
					opacity: 0;

					&:before {
						content: "";
						display: flex;
						width: 100%;
						height: 1px;
						background: #ececec;
					}

					&:not(:last-of-type) {
						margin-right: 4px;
					}

					&-active {
						&:before {
							background: #4b4b4b;
						}
					}
				}
			}

			&-wrapper {
				transform: unset !important;
			}

			&-wrapper, &-container {
				position: unset;
			}

			&-container {
				width: 100%;
				margin: 0;
				padding: 0;
			}
		}

		* {
			transition: 0s !important;
		}
	}

	.announcing {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: flex-end;
		width: 100%;
		background-size: cover;
		background-position: -4px 0;
		margin-top: auto;

		&__item {
			display: block;
			// height: 24px;
			margin-right: 8px;

			img {
				width: 24px;
				height: 24px;
				overflow: hidden;
				clip-path: circle(50%);
				border-radius: 50%;
			}
		}

		&__status {
			display: flex;
			width: 100%;
			font-family: "HelveticaNeueCyr-Medium";
			font-size: 14px;
			font-weight: 400;
			line-height: 23px;
			margin-top: 8px;

			span {
				color: #31b64b;
			}
		}
	}

	.ratings {
		display: flex;
		align-items: center;
		margin-left: auto;

		&__star {
			width: 16px;
			height: 16px;
			background: url(../images/star.svg) no-repeat;
			background-position: 50%;
			background-size: 16px 16px;

			&.ratings__none {
				background: url(../images/rectangle-2.svg) no-repeat;
				background-position: 50%;
				background-size: 16px 16px;
			}
		}

		&__number {
			margin: 0 2px 0 8px;
			font-family: "HelveticaNeueCyr-Bold";
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
		}

		&__link {
			font-family: "HelveticaNeueCyr-Roman";
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
		}
	}

	&__title {
		width: 100%;
		font-family: "HelveticaNeueCyr-Light";
		font-size: 30px;
		font-weight: 400;
		line-height: 36px;
		margin-bottom: 38px;
		white-space: nowrap;
		padding-left: 4px;
	}

	&__slide {
		display: flex;
		flex-direction: column;
		align-content: stretch;
		justify-content: flex-start;
		position: relative;
		border: 1px solid #f1f1f1;
		padding: 20px 18px 14px;
		background-color: #ffffff;
		// min-height: 445px;
		box-shadow: 0 2px 21px 0 transparent;

		&:hover {
			box-shadow: 0 2px 21px rgba(0, 0, 0, .1);
			// border: 1px solid transparent;
		}
	}

	&__text {
		display: block;
		flex-shrink: 0;
		padding: 7px 0 17px;
		font-family: "HelveticaNeueCyr-Roman";
		font-size: 18px;
		font-weight: 400;
		line-height: 26px;
		color: black;
		text-decoration: unset !important;

		&:hover {
			color: $base;
		}

		p {
			color: #4b4b4b;
			font-family: "HelveticaNeueCyr-Roman";
			font-size: 13px;
			font-weight: 400;
			line-height: 20px;
			margin-bottom: 2px;
		}
	}

	&__sale {
		display: flex;
		flex-wrap: wrap;
		flex-grow: 0;
		// align-items: center;
		flex-shrink: 0;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		// margin-top: auto;
		margin-bottom: 8px;
	}

	&__price {
		display: flex;
		align-items: baseline;
		position: relative;
		font-family: "HelveticaNeueCyr-Medium";
		font-size: 18px;
		font-weight: 400;
		line-height: 22px;
		color: black;

		.price__absolute {
			position: absolute;
			top: -20px;
			// text-decoration: line-through;
			left: 0;
			color: #a6a6a6;
			font-size: 11px;
			font-weight: 400;
			line-height: 15px;
			white-space: nowrap;

			&:before {
				content: "";
				position: absolute;
				bottom: 6px;
				width: calc(100% - 24px);
				height: 1px;
				transform: rotate(-13deg);
				background: $base;
			}
		}

		// @media screen and (max-width: 1128px) {
		//     font-size: 18px;
		//     flex-shrink: 0;
		// }
		// @media screen and (max-width:1100px) {
		//     font-size: 17px;
		//     flex-shrink: 0;
		// }
		&.price__dashed {
			flex-wrap: wrap;
			flex-grow: 0;
			align-items: flex-start !important;
			position: relative;
			position: relative;
			height: 36px !important;
			// width: 50%;
			height: 100%;
			margin-top: auto !important;
			margin-bottom: 0 !important;
			padding-right: 3px;
			color: $base;

			.catalog__price {
				align-items: flex-start;
				width: calc(100% - 112px);
				height: 100%;
				padding-top: 2px;
				line-height: 1;
			}

			.special-offers__rub {
				line-height: 1;
			}

			.catalog__price {
				flex-wrap: wrap;
				align-items: flex-start;
				position: relative;
				// width: 50%;
				height: 100%;
				color: $base;
			}

			.price__absolute {
				display: flex;
				position: absolute;
				top: unset;
				bottom: -1px;
				left: 0;
				left: 0;
				color: #a6a6a6;

				&:before {
					content: "";
					position: absolute;
					bottom: 6px;
					width: calc(100% - 23px);
					height: 1px;
					-webkit-transform: rotate(-14deg);
					-moz-transform: rotate(-14deg);
					-ms-transform: rotate(-14deg);
					-o-transform: rotate(-14deg);
					transform: rotate(-14deg);
					background: #8c0014;
				}
			}

			.price__cheaper {
				position: absolute;
				left: calc(100% + 6px);
				padding: 2px 4px;
				border-radius: 11px;
				background: #f59b00;
				color: #ffffff;
				font-size: 12px;
				font-weight: 400;
				line-height: 1;
				text-transform: uppercase;
			}

			+.special-offers__buy {
				margin-top: auto;
			}
		}
	}

	&__rub {
		font-family: "HelveticaNeueCyr-Medium";
		font-size: inherit;
		font-weight: 400;
		line-height: 22px;
		margin-left: 5px;
		font-style: normal;
	}

	&__buy {
		width: 32px;
		height: 30px;
		font-size: 0;
		background: url("../images/buy02.svg");
		margin-left: 8px;

		// @media screen and (max-width: 1128px) {
		//     font-size: 11px;
		//     padding: 0;
		//     width: 39%;
		//     text-align: center;
		//     justify-content: center;
		// }
		&:hover {
			background: url("../images/buy05.svg") no-repeat;
			box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .16);
			text-decoration: none;
		}

		&:before {
			display: none;
		}
	}

	&__pic {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		max-height: 250px;

		picture {
			display: flex;
			align-items: normal;
			justify-content: center;
		}

		img {
			width: auto;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		width: 100%;
	}

	&__fav {
		width: 30px;
		height: 30px;
		background: url("../images/fav.svg");
		cursor: pointer;
		margin-left: auto;
		margin-right: 8px;

		&:hover {
			background: url("../images/fav-c.svg");
		}

		&.active {
			background: url("../images/fav-a.svg");
		}
	}

	&__compare {
		width: 30px;
		height: 30px;
		background: url("../images/com.svg");
		cursor: pointer;

		&:hover, &.active {
			background: url("../images/com-c.svg");
		}
	}

	&__new {
		position: absolute;
		top: 20px;
		right: 18px;
		right: 18px;
		bottom: 64px;
		left: 18px;
		background: white;
		text-decoration: unset;

		&:hover {
			text-decoration: unset;
		}

		&:active {}

		&:focus {}
	}

	&__caption {
		font-family: "HelveticaNeueCyr-Roman";
		font-size: 18px;
		font-weight: 400;
		line-height: 26px;
		margin-bottom: 8px;
		margin-top: 4px;
	}

	&__desc {
		display: flex;
		flex-direction: column;

		ul {
			list-style: none;
			padding-left: unset;
			margin-bottom: 4px;
		}

		li {
			display: flex;
			align-items: flex-start;
			color: #4b4b4b;
			font-family: "HelveticaNeueCyr-Roman";
			font-size: 12px;
			font-weight: 400;
			line-height: 14px;
			margin-bottom: 8px;

			b {
				flex-shrink: 0;
				width: 130px;
				font-family: "HelveticaNeueCyr-Bold";
				margin-left: auto;
				text-align: right;
				padding-left: 16px;
			}
		}
	}

	&__info {
		display: -webkit-box;
		overflow: hidden;
		font-family: "HelveticaNeueCyr-Roman";
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		margin-top: 13px;
		color: black;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
	}

	&__fav, &__compare, &__buy {
		opacity: 0;
		background-repeat: no-repeat;
		background-size: contain !important;
	}

	&__slide:hover, .catalog__item:hover {
		.special-offers {

			&__fav, &__compare, &__buy {
				opacity: 1;
			}
		}

		.swiper-pagination-bullet {
			opacity: 1;
		}
	}

	&.new-items {
		margin-bottom: 46px;

		.swiper-button-prev, .swiper-button-next {
			top: 21px;
		}

		.swiper-pagination, .swiper-pagination_2, .swiper-pagination_3 {
			top: 14px;
		}
	}

	&.promotional-goods {
		margin-top: 0;
		margin-bottom: 47px;

		.swiper-pagination {
			display: flex;
			top: 14px;
			right: 124px;
			// justify-content: flex-end;
		}

		.price__dashed {
			flex-grow: 0;
			align-items: flex-end;
			position: relative;
			height: 36px;
			margin-top: auto !important;
			margin-bottom: 8px;
			padding-right: 3px;

			.catalog__price {
				align-items: flex-start;
				width: calc(100% - 112px);
				height: 100%;
				padding-top: 2px;
				line-height: 1;
			}

			.special-offers__rub {
				line-height: 1;
			}

			.catalog__price {
				flex-wrap: wrap;
				align-items: flex-start;
				position: relative;
				// width: 50%;
				height: 100%;
				color: $base;
			}

			.price__absolute {
				position: absolute;
				top: unset;
				bottom: 0;
				left: 0;
				// text-decoration: line-through;
				left: 0;
				color: #999999;
				font-size: 13px;
				font-weight: 400;
				line-height: 1;
			}
		}
	}
}
