.tags {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1176px;
	// margin-top: auto;
	margin-bottom: 21px;
	margin-right: auto;
	margin-left: auto;
	font-family: "HelveticaNeueCyr-Roman";

	@media screen and (max-width: 767px) {
		display: block;
		position: relative;
		overflow-x: auto;
		margin-bottom: 30px;
		margin-right: unset;
		margin-left: unset;

		&__container {
			display: block;
			overflow-x: auto;
		}

		&__list {
			width: 1176px;
			width: max-content;
			max-width: 1176px;
			overflow-x: scroll;
			padding-bottom: 10px;
		}

		&__title {
			max-width: 90%;
			font-size: 20px;
			font-weight: 400;
			margin-bottom: 15px;
			line-height: 28px;
			padding-left: 0;
		}

		&__all {
			display: none;
		}

		&__item {

			&.last, &.js-tags_data {
				display: flex;
				align-items: center;
				border: none;
				background-color: transparent;
				color: $base;

				&:after {
					content: "";
					width: 12px;
					height: 12px;
					background: url("https://icongr.am/entypo/chevron-small-down.svg?color=bb0000&size=50");
					background-size: 22px;
					background-position: 50%;
					background-repeat: no-repeat;
					margin-left: 5px;
				}

				a {
					border-bottom: 1px dashed $base;
					line-height: 1;
				}
			}
		}

		&.main-tags {
			display: block;
			overflow-x: unset;
			margin-bottom: 30px;
			padding-left: 16px;
		}
	}

	.container {
		position: relative;
	}

	.text-default & {
		margin: 0 auto 0 0;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;

		&.active {
			.tags__item {
				display: block !important;
			}
		}
	}

	&__item {
		border: 1px solid #f1f1f1;
		padding: 5px 12px;
		margin-right: 4px;
		margin-bottom: 3px;

		&:hover {
			border: solid 1px $base;
			color: $base;
			font-size: 14px;
			font-weight: 400;
			line-height: 28px;

			a {
				color: $base;
				// font-family: Arial, sans-serif;
				// font-size: 14px;
				// font-weight: 700;
				// letter-spacing: 0.6px;
			}
		}

		a {
			color: #4b4b4b;
			font-family: "HelveticaNeueCyr-Roman";
			font-size: 14px;
			font-weight: 400;
			line-height: 28px;
			padding-bottom: 3px;
			text-decoration: none !important;

			&:hover {
				// border-bottom: 1px dashed transparent;
			}
		}

		// &:last-child {
		// 	margin-right: 0;
		// }
		&.last {
			display: flex;
			align-items: center;
			border: none;
			border: 0 !important;
			padding: 0;
			margin-left: 10px;
			color: $base;
			// background: url("../images/round-bottom.svg") no-repeat 102% 50%/15px;
			background-color: transparent !important;

			a {
				padding: 0 0 2px;
				margin-right: 4px;
				border-bottom: 1px dotted $base;
				line-height: 1;
				font-family: "HelveticaNeueCyr-Roman" !important;
			}

			&:after {
				content: "";
				width: 18px;
				height: 18px;
				background: url("../images/round-bottom.svg") no-repeat 50% 50%/15px;
			}

			&.active {
				&:after {
					transform: rotate(180deg);
				}
			}
		}

		&.active {
			border: solid 1px #ba1212;
			background: #ececec;
			line-height: 28px;

			a {
				color: $base;
				font-family: "HelveticaNeueCyr-Bold";
				font-size: 14px;
			}
		}

		&.button {
			order: 2;
		}

		// &:nth-child(-n+8) {
		// 	display: block;
		// }
		&.show {
			display: flex;
		}
	}

	&__title {
		font-family: "HelveticaNeueCyr-Light";
		font-size: 26px;
		font-weight: 400;
		line-height: 32px;
		margin-bottom: 26px;
		padding-left: 3px;
	}

	&__all {
		position: absolute;
		top: 0;
		right: 0;
		border: 1px solid $base;
		padding: 5px 18px;
		transform: translateY(0);
		border-radius: 3px;
		color: $base;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
		text-decoration: none !important;
		&:hover {
			background: #ececec;
		}
	}

	&.main-tags {
		position: relative;
		margin-bottom: 46px;

		// width: 1176px;
		// max-width: 100%;
		@media screen and (max-width: 1200px) and (min-width: 768px) {
			flex: 1 1 100%;
			width: fill-available;
			max-width: 100%;
			margin: 0 16px 48px;
		}
	}
}
