.text-default, .articles-main__info, .about-store, .about-brand, .description {
	margin-bottom: 48px;
	display: flex;
	flex-direction: column;

	@media screen and (max-width: 767px) {
		margin-bottom: 17px;

		.official-dealers {
			margin-bottom: 22px !important;
			display: flex !important;
			opacity: 1 !important;
			max-height: unset !important;

			.mobile {
				display: block;
				color: #262626;
				font-size: 14px;
				line-height: 22px;
				margin-bottom: 16px;
			}

			&__link {
				display: flex !important;
				order: 1 !important;
				position: relative;
				width: auto;
				width: calc(100% + 32px);
				overflow: hidden;
				margin-bottom: 5px;
				margin-top: 14px;

				@media screen and (max-width: 480px) {
					margin: 0 -16px 12px !important;
				}

				&:after {
					// height: calc(105% - 36px)
				}

				.official-dealers__pic {
					height: auto !important;
					margin: 0 0 0 !important;
				}

				&:nth-of-type(1) {
					margin-right: 0;
				}

				span {
					height: auto;
					padding: 0 20px 0 12px;
					font-size: 16px;
					font-weight: 400;
					line-height: 26px;
				}

				* {
					transition: 0.5s !important;
				}
			}

			h2 {
				text-align: left;
			}

			p, ul {
				display: none;
			}

			a {
				display: block;
			}

			&.active {
				.mobile {
					display: none;
				}

				p, ul {
					display: block;
				}
			}
		}

		.table {
			margin-top: 0;
			width: 100%;

			tbody {
				.table_tr:nth-child(odd) {}

				.table_tr {
					display: flex;
					flex-direction: column;
					padding: 9px 14px;
				}

				.table_td {
					flex-shrink: 1;
					width: unset;
					width: unset !important;
					padding: 0;
					font-size: 14px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					letter-spacing: normal;
					text-align: left;

					&:first-child {
						margin-bottom: 10px;
					}

					&:last-child {
						flex-shrink: 0;
						text-align: left;
						margin-left: 0;
					}
				}
			}
		}

		.page__table {
			display: block;
			overflow-x: auto;

			tbody {
				display: flex;
				flex-direction: column;
				width: 480px;
				max-width: 1176px;
				overflow-x: scroll;
			}
		}

		.about-store__button, .seo-text__button, .about-brand__button, .switch {
			display: block !important;
			position: absolute;
			z-index: 8;
			bottom: 16px;
			left: 16px;
			width: fit-content !important;
			// width: 100%;
			// padding: 0 16px;
			height: auto;
			height: auto;
			max-height: unset !important;
			margin: 0 0 0 0;
			color: $base;
			font-family: "HelveticaNeueCyr-Roman";
			font-size: 14px;
			font-weight: 400;
			line-height: 19px;
			// display: none;
			padding-bottom: 2px;
			border-bottom: 1px dashed $base;
			opacity: 1 !important;
			opacity: 1;
			cursor: pointer;

			&:after {
				content: "";
				position: absolute;
				top: 50%;
				right: -22px;
				width: 20px;
				height: 20px;
				transform: translateY(-50%);
				background: url("https://icongr.am/entypo/chevron-small-down.svg?color=8c0014&size=50") no-repeat;
				background-size: contain;
			}

			&.active {

				// position: relative;
				// bottom: 0;
				// right: unset;
				// margin-top: 16px;
				&:before {
					width: 63px;
				}

				&:after {
					content: "";
					right: -24px;
					background: url("https://icongr.am/entypo/chevron-up.svg?color=8c0014&size=50") center/16px no-repeat;
				}
			}

			&:not(.active)+.container {
				max-height: unset;

				p {

					// margin-bottom: 12px;
					&~* {
						max-height: 0;
						margin: 0;
						opacity: 0;
					}
				}
			}
		}

		img {
			// max-height: 52px;
			margin-top: -5px;
			margin-bottom: 24px;
		}

		h3 {
			font-size: 18px;
			font-weight: 400;
			line-height: 24px;
			margin-bottom: 16px;
		}

		h4 {
			font-size: 16px;
			font-weight: 400;
			line-height: 25px;
			margin-bottom: 23px;
			padding-top: 0;
		}

		h5 {
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
		}

		p, [style="text-align: justify;"] {
			font-size: 14px;
			line-height: 22px;
			margin-bottom: 24px;

			&+table+p {
				margin-top: 16px;
				margin-bottom: 35px;
			}

			// &:last-child {
			// 	margin-bottom: 0;
			// }

			img{
				margin-bottom: 16px;
			}
		}

		b {
			width: 100%;
			margin-bottom: 11px;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			margin-top: 0;
		}

		h2 {
			font-size: 22px;
			font-weight: 400;
			line-height: 30px;
		}

		ol {
			margin-bottom: 0;

			li {
				margin-left: 25px;
				line-height: 21px;
			}
		}

		ul {
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			margin-bottom: 12px;
			letter-spacing: -0.15px;
		}

		li {
			color: #262626;
			font-size: 14px;
			margin-bottom: 4px;
			margin-left: 31px;
		}

		&.seo-text {
			padding-bottom: 12px;

			.container {
				max-height: 80000px;
				overflow: hidden;
				transition: max-height .5s;

				.official-dealers {
					margin-bottom: 3px !important;
				}

				* {
					transition: max-height .5s,
						opacity .5s;
				}

				&:not(.active) {
					// p {
					// 	margin-bottom: 12px;
					// 	// &~* {
					// 	// 	max-height: 0;
					// 	// 	opacity: 0;
					// 	// 	margin: 0;
					// 	// }
					// }
				}
			}

			h2 {
				font-family: "HelveticaNeueCyr-Light";
				font-size: 20px;
				font-weight: 400;
				line-height: 26px;
				margin-bottom: 8px;
				// order: -1;
			}

			img {
				width: calc(100% + 30px);
				max-width: calc(100% + 30px);
				margin: 18px -15px 8px;
				padding: 0 !important;
			}

			p:last-of-type {
				margin-bottom: 0;
			}
		}

		tr {
			&:first-child {
				td {}
			}
		}

		td {

			// width: 50% !important;
			&:first-child {
				width: 120px !important;
				padding-left: 0;
			}

			&:last-child {
				margin-left: auto;
			}

			i {}
		}

		blockquote {
			padding: 16px;
			margin-bottom: 35px;

			ol {
				margin-bottom: 10px;

				&+ol {
					margin-bottom: 0;
				}
			}

			a {
				margin-top: 22px;
			}

			&.column {
				.time {
					b {
						display: block;
					}

					br {
						display: block;
					}
				}

				ul {
					width: 100%;
					margin-bottom: 0;

					&:last-of-type {
						margin-bottom: 16px;
					}
				}
			}
		}

		&.seo-text {
			// height: 700px;
			// overflow: hidden;
			position: relative;

			.container {
				display: flex;

				&:first-child {

					// :nth-child(5),
					// :nth-child(6) {
					// 	display: none;
					// }
					// :nth-child(-n+6) {
					// 	order: -1;
					// }
					&.active {

						:nth-child(5), :nth-child(6) {
							display: block;
						}
					}
				}
			}
		}

		// .active {
		// 	height: auto;
		// }
	}

	// div:not(.return-exchange__field) {
	// 	display: block;
	// 	// flex-wrap: wrap;
	// 	// justify-content: center;
	// }
	.table {
		width: 100%;
		margin-bottom: 22px;
		margin-top: 19px;

		tbody {
			.table_tr:nth-child(odd) {
				background-color: #f8f8f8;
			}

			.table_td {
				font-size: 14px;
				font-weight: 400;
				padding: 8px 0 7px 13px;

				&:first-child {
					flex-grow: 1;
					width: unset;
				}

				&:last-child {
					text-align: right;
					padding-right: 50px;
				}
			}
		}
	}

	.tags__status {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		border: 1px solid #f1f1f1;
		padding: 16px;

		a {
			color: $base;
			font-size: 12px;
			margin-right: 26px;
		}
	}

	.container {
		display: block;
	}

	.official-dealers {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin-bottom: 22px;

		// .official-dealers__link
		&__link {
			display: flex;
			flex-direction: column;
			position: relative;
			width: calc(50%-16px);
			overflow: hidden;
			margin-bottom: 0;
			margin-top: 14px;

			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: calc(100% - 0px);
				background-image: url("../images/play.svg");
				background-repeat: no-repeat;
				background-size: 40px 40px;
				// background-color: rgba(0, 0, 0, 0.5);
				background-position: center center;
			}

			&:hover {
				img {
					transform: scale(1.1);
				}
			}

			* {
				transition: 0.3s;
			}

			&:nth-of-type(1) {
				margin-right: 29px;
			}

			span {
				display: flex;
				align-items: flex-end;
				z-index: 9;
				width: 100%;
				// margin-top: 16px;
				height: 45px;
				font-size: 18px;
				font-weight: 400;
				line-height: 26px;
				background: white;
			}
		}

		h2 {
			text-align: center;
			width: 100%;
			margin-bottom: 18px;
			margin-top: 18px;
		}

		p {
			margin-bottom: 10px;
		}

		img {
			margin-bottom: 0;
		}
	}

	.about-store__button, .seo-text__button, .about-brand__button, .switch {
		display: none;
	}

	.mobile {
		display: none;
	}

	.pic_left {
		float: left;
		margin: 1px 30px 24px 0;
	}

	.pic_right {
		float: right;
		margin: 1px 0 30px 24px;
	}

	.table_delivery {
		tr {
			td:last-child {
				b {
					color: #333;
					font-size: 14px;
					font-weight: 400;
				}
			}

			td {
				padding: 11px 7px 13px;

				&[colspan="2"] {
					b {
						font-size: 14px;
						font-weight: 700;
					}
				}
			}
		}
	}

	img {
		// display: block;
		max-width: 100%;

		// margin-bottom: 28px;
		+p {
			margin-top: 18px;
		}
	}

	h2 {
		font-family: "HelveticaNeueCyr-Light";
		font-size: 26px;
		font-weight: 400;
		line-height: 32px;
		//   text-align: center;
		margin-bottom: 16px;
		margin-top: 0;

		b {
			margin: 0;
		}

		&:first-child {
			width: 100%;
		}
	}

	h3 {
		font-size: 20px;
		font-weight: 400;
		line-height: 28px;
	}

	h4 {
		text-align: left;
		font-size: 22px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 32px;
		letter-spacing: normal;
		color: $base;
		margin-bottom: 40px;
	}

	h5 {
		font-size: 18px;
		font-weight: 400;
		line-height: 28px;

		b {
			color: $base;
			line-height: inherit;
		}
	}

	b {
		width: 100%;
		margin-bottom: 13px;
		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
		// text-align: left;
		margin-top: 18px;
	}

	p, .about-us__block-text, [style="text-align: justify;"] {
		z-index: 99;
		// display: block;
		width: 100%;
		margin: 6px 0 15px;
		font-size: 14px;
		line-height: 22px;
		text-align: left;

		a {
			color: $base;

			&[href^="tel:"] {
				font-size: 14px;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.57;
				letter-spacing: normal;
				text-align: left;
				color: #262626;
			}
		}

		span {
			width: 100%;
			padding: 5px 0;
			font-weight: 700;
		}

		strong {
			margin-bottom: 0;
		}

		&+strong {
			margin-bottom: 10px;
		}

		&+table {
			&+p {
				margin-top: 16px;
			}
		}

		// img {
		// 	margin: 0 auto;
		// 	&:nth-last-child(2):first-child,
		// 	&:nth-last-child(2):first-child~img {
		// 		color: green;
		// 	}
		// }
		img {
			margin-right: 0;
			margin-left: 0;
			margin-bottom: 0;
		}
	}

	ol {
		font-size: 14px;
		font-weight: 700;
		line-height: 22px;
		padding-left: 0;
		margin-bottom: 20px;

		li:first-child {
			margin-top: 16px;
		}
	}

	ul {
		display: flex;
		flex-direction: column;
		z-index: 99;
		width: 100%;
		list-style: disc;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		text-align: left;
		padding-left: 0;
		margin-bottom: 12px;
		margin-top: 0;

		p {
			margin-top: 12px;
		}

		// li:first-child {
		// 	margin-top: 16px;
		// }
		b {
			margin-bottom: 16px;
		}

		ul {
			margin-bottom: 0;

			+p {
				margin: 4px 0 12px;

				+p {
					margin: 4px 0 12px;
				}
			}

			li {
				margin-bottom: 2px;
			}
		}
	}

	li {
		font-size: 14px;
		line-height: 20px;
		text-align: left;
		margin-left: 43px;
		font-weight: 400;
		margin-bottom: 8px;
	}

	strong {
		font-size: 14px;
		font-weight: 700;
		line-height: 22px;
		margin: 5px 0;
	}

	tr {
		display: flex;
		z-index: 99;
		width: 100%;
		list-style: none;
		font-size: 16px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		padding-left: 0;
		border-bottom: 1px solid #e8e8e8;

		&:first-child {
			td {
				padding: 11px 7px 13px;
				color: #666666;
				font-size: 12px;
				font-weight: 700;
			}
		}

		td:not(:first-child) {
			flex-grow: 1;
			flex-shrink: 0;
			min-width: 150px;
			max-width: 200px;
			// margin-left: auto;
		}

		p {
			width: auto;
			margin: 0;
		}
	}

	td {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 11px 11px 13px;
		font-size: 14px;

		&:first-child {
			width: 100%;
			max-width: 575px;
			// width: 286px;
			// flex-shrink: 0;
			margin-right: auto;
		}

		i {
			color: #666666;
			font-size: 14px;
			font-style: normal;
		}

		b {
			margin: 0;
			padding: 0;
			color: #666666;
			font-size: 12px;
			font-weight: 700;
		}
	}

	hr {
		width: 100%;
		background: #e2e2e2;
		height: 2px;
	}

	blockquote {
		padding: 24px;
		background-color: #f8f8f8;
		margin-bottom: 2rem;

		b {
			width: 100%;
			margin-bottom: 13px;
			font-size: 18px;
			font-weight: 700;
			line-height: 24px;
			text-align: left;
			margin-top: 18px;
		}

		p {
			margin: 0 0 14px;

			b {
				font-size: inherit;
				line-height: inherit;
			}
		}

		strong {
			margin-bottom: 15px;
			display: block;
		}

		ul {
			li {
				color: #ba1212;
				margin-left: 16px;

				p {
					margin: 0;
				}
			}
		}

		&.column {
			display: flex;
			flex-wrap: wrap;

			.time {
				margin-top: 14px;

				br {
					display: none;
				}
			}

			ul {
				width: 33%;
			}
		}
	}

	&.seo-text {
		h2 {
			color: #262626;
			font-size: 26px;
			font-weight: 400;
			line-height: 24px;
			margin-bottom: 24px;
		}
	}

	&.repair {
		margin-bottom: 0;
	}
}

.about-brand {}
