<div class="d-flex flex-column-reverse flex-md-row">
	<div class="breadcrumbs">
		<a href="#" class="breadcrumbs__link">Liebherr</a>
		<span class="breadcrumbs__sep">/</span>
		<span class="breadcrumbs__text">избранное</span>
	</div>
	<h1 class="title">
		избранное
	</h1>
	<div class="col-md-3">
		<div class="js-favorite_filter">
			<form class="filter__form js-form" action="" method="post">
				<input type="hidden" name="action" value="changeSectionsFavorites">
				<div class="filter__item">
					<div class="filter__title js-filter__title">Категории</div>
					<div class="filter__checkbox">
						<label>
							<input class="checkbox filter_checkbox pers_data_check js-art_type-change" type="checkbox"
								name="F_SECTIONS[]" value="19">
							<span class="checkbox-custom">Все</span>
							<span class="checkbox-number">3</span>
							<div class="checkbox-close">x</div>
						</label>
						<label>
							<input class="checkbox filter_checkbox pers_data_check js-art_type-change" type="checkbox"
								name="F_SECTIONS[]" value="19">
							<span class="checkbox-custom">Холодильники</span>
							<span class="checkbox-number">3</span>
							<div class="checkbox-close">x</div>
						</label>
						<label>
							<input class="checkbox filter_checkbox pers_data_check js-art_type-change" type="checkbox"
								name="F_SECTIONS[]" value="19">
							<span class="checkbox-custom">Стиральные машины</span>
							<span class="checkbox-number">31</span>
							<div class="checkbox-close">x</div>
						</label>
						<label>
							<input class="checkbox filter_checkbox pers_data_check js-art_type-change" type="checkbox"
								name="F_SECTIONS[]" value="19">
							<span class="checkbox-custom">Мойки</span>
							<span class="checkbox-number">23</span>
							<div class="checkbox-close">x</div>
						</label>
						<label>
							<input class="checkbox filter_checkbox pers_data_check js-art_type-change" type="checkbox"
								name="F_SECTIONS[]" value="19">
							<span class="checkbox-custom">Аксессуары</span>
							<span class="checkbox-number">13</span>
							<div class="checkbox-close">x</div>
						</label>
						<label>
							<input class="checkbox filter_checkbox pers_data_check js-art_type-change" type="checkbox"
								name="F_SECTIONS[]" value="19">
							<span class="checkbox-custom">Холодильники Side-by-Side</span>
							<span class="checkbox-number">153</span>
							<div class="checkbox-close">x</div>
						</label>
						<label>
							<input class="checkbox filter_checkbox pers_data_check js-art_type-change" type="checkbox"
								name="F_SECTIONS[]" value="534">
							<span class="checkbox-custom">Духовые шкафы</span>
							<span class="checkbox-number">153</span>
							<div class="checkbox-close js-favorite_category-remove" >x</div>
						</label>
						<label>
							<input class="checkbox filter_checkbox pers_data_check js-art_type-change" type="checkbox"
								name="F_SECTIONS[]" value="533">
							<span class="checkbox-custom">Посудомоечные машины</span>
							<span class="checkbox-number">23</span>
							<div class="checkbox-close js-favorite_category-remove">x</div>
						</label>
					</div>
				</div>
			</form>
		</div>
		<!-- <form class="filter__form  js-form" action="" method="get" id="products-filter">
			<input type="hidden" name="F[SET_FILTER]" id="SET_FILTER" value="Y">
			<div class="filter__item">
				<div class="filter__title  js-filter__title">Категории</div>
				<div class="filter__checkbox">
					<label>
						<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
						<span class="checkbox-custom">
							Все
						</span>
					</label>
					<label>
						<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
						<span class="checkbox-custom">Винные шкафы</span>
						<span class="checkbox-number">13</span>
					</label>
					<label>
						<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
						<span class="checkbox-custom">
							морозильник-шкаф
						</span>
						<span class="checkbox-number">13</span>
					</label>
					<label>
						<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
						<span class="checkbox-custom">Side-by-Side</span>

						<span class="checkbox-number">13</span>
					</label>
					<label>
						<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
						<span class="checkbox-custom">морозильник</span>

						<span class="checkbox-number">13</span>
					</label>
					<label>
						<input class="checkbox filter_checkbox pers_data_check" type="checkbox">
						<span class="checkbox-custom">Хьюмидоры
						</span>
						<span class="checkbox-number">13</span>
					</label>
				</div>
			</div>
		</form> -->
		{% include 'section/sidebar/sidebar.html' %}
	</div>
	<div class="col-md-9">
		<a href="#" class="favorite__reset">Сбросить избранное</a>
		<div class="js-favorite_list js-ecom_product-list favorite__items" data-list="Избранное">
			<div class="favorite__items catalog__items">
				<div class="catalog__item">
					<div class="swiper" data-swiper>
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_1.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_2.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_3.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide swiper-slide-text">
									<a href="#" class="special-offers__new">
										<div class="special-offers__caption">
											Характеристики
										</div>
										<!-- /.special-offers__caption -->
										<div class="special-offers__desc">
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
										</div>
										<!-- /.special-offers__desc -->
										<div class="special-offers__info">
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
										</div>
										<!-- /.special-offers__info -->
									</a>
									<!-- /.special-offers__new -->
								</div>
							</div>
						</div>
						<a href="#" class="swiper-pagination">
						</a>
						<!-- /.swper-pagination -->
					</div>
					<div class="special-offers__content">
						<div class="announcing">
							<div class="announcing__item"
								data-announcing="Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/sale.svg" src="images/small/sale.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__item"
								data-announcing="Специальное-Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/hit.svg" src="images/small/hit.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__item" data-announcing="Cделано в Германия">
								<img data-src="images/small/flag_ger.svg" src="images/small/flag_ger.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__status">
								<span>
									В наличии
								</span>
								<div class="ratings">
									<div class="ratings__star">
									</div>
									<b class="ratings__number">4,5</b>
									<a href="" class="ratings__link">(5)</a>
								</div>
							</div>
							<!-- /.announcing__status -->
						</div>
						<!-- /.announcing -->
						<a href="#" class="special-offers__text">
							<p>Стиральная машина</p>
							Miele WWD120 WCS
						</a>
						<div class="special-offers__sale">
							<span class="special-offers__price">64 900<i class="special-offers__rub">руб.</i>
							</span>
							<div class="special-offers__fav tooltip" data-tippy-content="Добавить в избранное">
							</div>
							<!-- /.special-offers__fav -->
							<div class="special-offers__compare tooltip" data-tippy-content="Добавить в сравнение">
							</div>
							<!-- /.special-offers__compare -->
							<a href="#" data-url="ajax/add-cart.html " data-tippy-content="Добавить в корзину" data-ajax
								class="special-offers__buy tooltip">купить</a>
						</div>
					</div>
					<!-- /.special-offers__content -->
				</div>
				<div class="catalog__item">
					<div class="swiper" data-swiper>
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_1.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_2.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_3.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide swiper-slide-text">
									<a href="#" class="special-offers__new">
										<div class="special-offers__caption">
											Характеристики
										</div>
										<!-- /.special-offers__caption -->
										<div class="special-offers__desc">
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
										</div>
										<!-- /.special-offers__desc -->
										<div class="special-offers__info">
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
										</div>
										<!-- /.special-offers__info -->
									</a>
									<!-- /.special-offers__new -->
								</div>
							</div>
						</div>
						<a href="#" class="swiper-pagination">
						</a>
						<!-- /.swper-pagination -->
					</div>
					<div class="special-offers__content">
						<div class="announcing">
							<div class="announcing__item"
								data-announcing="Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/sale.svg" src="images/small/sale.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__item"
								data-announcing="Специальное-Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/hit.svg" src="images/small/hit.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__status">
								<span>
									В наличии
								</span>
								<div class="ratings">
									<div class="ratings__star">
									</div>
									<b class="ratings__number">4,5</b>
									<a href="" class="ratings__link">(5)</a>
								</div>
							</div>
							<!-- /.announcing__status -->
						</div>
						<!-- /.announcing -->
						<a href="#" class="special-offers__text">
							<p>Стиральная машина</p>
							Miele WWD120 WCS
						</a>
						<div class="special-offers__sale">
							<span class="special-offers__price">64 900<i class="special-offers__rub">руб.</i>
							</span>
							<div class="special-offers__fav tooltip" data-tippy-content="Добавить в избранное">
							</div>
							<!-- /.special-offers__fav -->
							<div class="special-offers__compare tooltip" data-tippy-content="Добавить в сравнение">
							</div>
							<!-- /.special-offers__compare -->
							<a href="#" data-url="ajax/add-cart.html " data-tippy-content="Добавить в корзину" data-ajax
								class="special-offers__buy tooltip">купить</a>
						</div>
					</div>
					<!-- /.special-offers__content -->
				</div>
				<div class="catalog__item">
					<div class="swiper" data-swiper>
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_1.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_2.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_3.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide swiper-slide-text">
									<a href="#" class="special-offers__new">
										<div class="special-offers__caption">
											Характеристики
										</div>
										<!-- /.special-offers__caption -->
										<div class="special-offers__desc">
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
										</div>
										<!-- /.special-offers__desc -->
										<div class="special-offers__info">
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
										</div>
										<!-- /.special-offers__info -->
									</a>
									<!-- /.special-offers__new -->
								</div>
							</div>
						</div>
						<a href="#" class="swiper-pagination">
						</a>
						<!-- /.swper-pagination -->
					</div>
					<div class="special-offers__content">
						<div class="announcing">
							<div class="announcing__item"
								data-announcing="Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/sale.svg" src="images/small/sale.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__item"
								data-announcing="Специальное-Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/hit.svg" src="images/small/hit.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__status">
								<span>
									В наличии
								</span>
								<div class="ratings">
									<div class="ratings__star">
									</div>
									<b class="ratings__number">4,5</b>
									<a href="" class="ratings__link">(5)</a>
								</div>
							</div>
							<!-- /.announcing__status -->
						</div>
						<!-- /.announcing -->
						<a href="#" class="special-offers__text">
							<p>Стиральная машина</p>
							Miele WWD120 WCS
						</a>
						<div class="special-offers__sale">
							<span class="special-offers__price catalog__price price__dashed">
								199 000
								<i class="special-offers__rub catalog__rub">руб.</i>
								<span class="price__absolute">
									250 000 руб.
									<div class="price__cheaper">
										-10%
									</div>
									<!-- /.catalog__cheaper -->
								</span>
								<div class="announcing__popup">
									Цена действует при покупке комплекта техники Miele
									<a href="#">
										Подробнее
									</a>
								</div>
							</span>
							<div class="special-offers__fav tooltip" data-tippy-content="Добавить в избранное">
							</div>
							<!-- /.special-offers__fav -->
							<div class="special-offers__compare tooltip" data-tippy-content="Добавить в сравнение">
							</div>
							<!-- /.special-offers__compare -->
							<a href="#" data-url="ajax/add-cart.html " data-tippy-content="Добавить в корзину" data-ajax
								class="special-offers__buy tooltip">купить</a>
						</div>
					</div>
					<!-- /.special-offers__content -->
				</div>
				<div class="catalog__item">
					<div class="swiper" data-swiper>
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_1.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_2.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_3.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide swiper-slide-text">
									<a href="#" class="special-offers__new">
										<div class="special-offers__caption">
											Характеристики
										</div>
										<!-- /.special-offers__caption -->
										<div class="special-offers__desc">
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
										</div>
										<!-- /.special-offers__desc -->
										<div class="special-offers__info">
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
										</div>
										<!-- /.special-offers__info -->
									</a>
									<!-- /.special-offers__new -->
								</div>
							</div>
						</div>
						<a href="#" class="swiper-pagination">
						</a>
						<!-- /.swper-pagination -->
					</div>
					<div class="special-offers__content">
						<div class="announcing">
							<div class="announcing__item"
								data-announcing="Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/sale.svg" src="images/small/sale.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__item"
								data-announcing="Специальное-Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/hit.svg" src="images/small/hit.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__status">
								<span>
									В наличии
								</span>
								<div class="ratings">
									<div class="ratings__star">
									</div>
									<b class="ratings__number">4,5</b>
									<a href="" class="ratings__link">(5)</a>
								</div>
							</div>
							<!-- /.announcing__status -->
						</div>
						<!-- /.announcing -->
						<a href="#" class="special-offers__text">
							<p>Стиральная машина</p>
							Miele WWD120 WCS
						</a>
						<div class="special-offers__sale">
							<span class="special-offers__price">64 900<i class="special-offers__rub">руб.</i>
							</span>
							<div class="special-offers__fav tooltip" data-tippy-content="Добавить в избранное">
							</div>
							<!-- /.special-offers__fav -->
							<div class="special-offers__compare tooltip" data-tippy-content="Добавить в сравнение">
							</div>
							<!-- /.special-offers__compare -->
							<a href="#" data-url="ajax/add-cart.html " data-tippy-content="Добавить в корзину" data-ajax
								class="special-offers__buy tooltip">купить</a>
						</div>
					</div>
					<!-- /.special-offers__content -->
				</div>
				<div class="catalog__item">
					<div class="swiper" data-swiper>
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_1.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_2.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_3.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide swiper-slide-text">
									<a href="#" class="special-offers__new">
										<div class="special-offers__caption">
											Характеристики
										</div>
										<!-- /.special-offers__caption -->
										<div class="special-offers__desc">
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
										</div>
										<!-- /.special-offers__desc -->
										<div class="special-offers__info">
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
										</div>
										<!-- /.special-offers__info -->
									</a>
									<!-- /.special-offers__new -->
								</div>
							</div>
						</div>
						<a href="#" class="swiper-pagination">
						</a>
						<!-- /.swper-pagination -->
					</div>
					<div class="special-offers__content">
						<div class="announcing">
							<div class="announcing__item"
								data-announcing="Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/sale.svg" src="images/small/sale.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__item"
								data-announcing="Специальное-Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/hit.svg" src="images/small/hit.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__status">
								<span>
									В наличии
								</span>
								<div class="ratings">
									<div class="ratings__star">
									</div>
									<b class="ratings__number">4,5</b>
									<a href="" class="ratings__link">(5)</a>
								</div>
							</div>
							<!-- /.announcing__status -->
						</div>
						<!-- /.announcing -->
						<a href="#" class="special-offers__text">
							<p>Стиральная машина</p>
							Miele WWD120 WCS
						</a>
						<div class="special-offers__sale">
							<span class="special-offers__price">64 900<i class="special-offers__rub">руб.</i>
							</span>
							<div class="special-offers__fav tooltip" data-tippy-content="Добавить в избранное">
							</div>
							<!-- /.special-offers__fav -->
							<div class="special-offers__compare tooltip" data-tippy-content="Добавить в сравнение">
							</div>
							<!-- /.special-offers__compare -->
							<a href="#" data-url="ajax/add-cart.html " data-tippy-content="Добавить в корзину" data-ajax
								class="special-offers__buy tooltip">купить</a>
						</div>
					</div>
					<!-- /.special-offers__content -->
				</div>
				<div class="catalog__item">
					<div class="swiper" data-swiper>
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_1.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_2.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_3.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide swiper-slide-text">
									<a href="#" class="special-offers__new">
										<div class="special-offers__caption">
											Характеристики
										</div>
										<!-- /.special-offers__caption -->
										<div class="special-offers__desc">
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
										</div>
										<!-- /.special-offers__desc -->
										<div class="special-offers__info">
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
										</div>
										<!-- /.special-offers__info -->
									</a>
									<!-- /.special-offers__new -->
								</div>
							</div>
						</div>
						<a href="#" class="swiper-pagination">
						</a>
						<!-- /.swper-pagination -->
					</div>
					<div class="special-offers__content">
						<div class="announcing">
							<div class="announcing__item"
								data-announcing="Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/sale.svg" src="images/small/sale.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__item"
								data-announcing="Специальное-Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/hit.svg" src="images/small/hit.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__status">
								<span>
									В наличии
								</span>
								<div class="ratings">
									<div class="ratings__star">
									</div>
									<b class="ratings__number">4,5</b>
									<a href="" class="ratings__link">(5)</a>
								</div>
							</div>
							<!-- /.announcing__status -->
						</div>
						<!-- /.announcing -->
						<a href="#" class="special-offers__text">
							<p>Стиральная машина</p>
							Miele WWD120 WCS
						</a>
						<div class="special-offers__sale">
							<span class="special-offers__price">64 900<i class="special-offers__rub">руб.</i>
							</span>
							<div class="special-offers__fav tooltip" data-tippy-content="Добавить в избранное">
							</div>
							<!-- /.special-offers__fav -->
							<div class="special-offers__compare tooltip" data-tippy-content="Добавить в сравнение">
							</div>
							<!-- /.special-offers__compare -->
							<a href="#" data-url="ajax/add-cart.html " data-tippy-content="Добавить в корзину" data-ajax
								class="special-offers__buy tooltip">купить</a>
						</div>
					</div>
					<!-- /.special-offers__content -->
				</div>
				<div class="catalog__item">
					<div class="swiper" data-swiper>
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_1.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_2.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_3.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide swiper-slide-text">
									<a href="#" class="special-offers__new">
										<div class="special-offers__caption">
											Характеристики
										</div>
										<!-- /.special-offers__caption -->
										<div class="special-offers__desc">
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
										</div>
										<!-- /.special-offers__desc -->
										<div class="special-offers__info">
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
										</div>
										<!-- /.special-offers__info -->
									</a>
									<!-- /.special-offers__new -->
								</div>
							</div>
						</div>
						<a href="#" class="swiper-pagination">
						</a>
						<!-- /.swper-pagination -->
					</div>
					<div class="special-offers__content">
						<div class="announcing">
							<div class="announcing__item"
								data-announcing="Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/sale.svg" src="images/small/sale.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__item"
								data-announcing="Специальное-Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/hit.svg" src="images/small/hit.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__status">
								<span>
									В наличии
								</span>
								<div class="ratings">
									<div class="ratings__star">
									</div>
									<b class="ratings__number">4,5</b>
									<a href="" class="ratings__link">(5)</a>
								</div>
							</div>
							<!-- /.announcing__status -->
						</div>
						<!-- /.announcing -->
						<a href="#" class="special-offers__text">
							<p>Стиральная машина</p>
							Miele WWD120 WCS
						</a>
						<div class="special-offers__sale">
							<span class="special-offers__price">64 900<i class="special-offers__rub">руб.</i>
							</span>
							<div class="special-offers__fav tooltip" data-tippy-content="Добавить в избранное">
							</div>
							<!-- /.special-offers__fav -->
							<div class="special-offers__compare tooltip" data-tippy-content="Добавить в сравнение">
							</div>
							<!-- /.special-offers__compare -->
							<a href="#" data-url="ajax/add-cart.html " data-tippy-content="Добавить в корзину" data-ajax
								class="special-offers__buy tooltip">купить</a>
						</div>
					</div>
					<!-- /.special-offers__content -->
				</div>
				<div class="catalog__item">
					<div class="swiper" data-swiper>
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_1.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_2.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_3.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide swiper-slide-text">
									<a href="#" class="special-offers__new">
										<div class="special-offers__caption">
											Характеристики
										</div>
										<!-- /.special-offers__caption -->
										<div class="special-offers__desc">
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
										</div>
										<!-- /.special-offers__desc -->
										<div class="special-offers__info">
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
										</div>
										<!-- /.special-offers__info -->
									</a>
									<!-- /.special-offers__new -->
								</div>
							</div>
						</div>
						<a href="#" class="swiper-pagination">
						</a>
						<!-- /.swper-pagination -->
					</div>
					<div class="special-offers__content">
						<div class="announcing">
							<div class="announcing__item"
								data-announcing="Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/sale.svg" src="images/small/sale.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__item"
								data-announcing="Специальное-Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/hit.svg" src="images/small/hit.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__status">
								<span>
									В наличии
								</span>
								<div class="ratings">
									<div class="ratings__star">
									</div>
									<b class="ratings__number">4,5</b>
									<a href="" class="ratings__link">(5)</a>
								</div>
							</div>
							<!-- /.announcing__status -->
						</div>
						<!-- /.announcing -->
						<a href="#" class="special-offers__text">
							<p>Стиральная машина</p>
							Miele WWD120 WCS
						</a>
						<div class="special-offers__sale">
							<span class="special-offers__price">64 900<i class="special-offers__rub">руб.</i>
							</span>
							<div class="special-offers__fav tooltip" data-tippy-content="Добавить в избранное">
							</div>
							<!-- /.special-offers__fav -->
							<div class="special-offers__compare tooltip" data-tippy-content="Добавить в сравнение">
							</div>
							<!-- /.special-offers__compare -->
							<a href="#" data-url="ajax/add-cart.html " data-tippy-content="Добавить в корзину" data-ajax
								class="special-offers__buy tooltip">купить</a>
						</div>
					</div>
					<!-- /.special-offers__content -->
				</div>
				<div class="catalog__item">
					<div class="swiper" data-swiper>
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_1.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_2.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_3.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide swiper-slide-text">
									<a href="#" class="special-offers__new">
										<div class="special-offers__caption">
											Характеристики
										</div>
										<!-- /.special-offers__caption -->
										<div class="special-offers__desc">
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
										</div>
										<!-- /.special-offers__desc -->
										<div class="special-offers__info">
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
										</div>
										<!-- /.special-offers__info -->
									</a>
									<!-- /.special-offers__new -->
								</div>
							</div>
						</div>
						<a href="#" class="swiper-pagination">
						</a>
						<!-- /.swper-pagination -->
					</div>
					<div class="special-offers__content">
						<div class="announcing">
							<div class="announcing__item"
								data-announcing="Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/sale.svg" src="images/small/sale.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__item"
								data-announcing="Специальное-Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/hit.svg" src="images/small/hit.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__status">
								<span>
									В наличии
								</span>
								<div class="ratings">
									<div class="ratings__star">
									</div>
									<b class="ratings__number">4,5</b>
									<a href="" class="ratings__link">(5)</a>
								</div>
							</div>
							<!-- /.announcing__status -->
						</div>
						<!-- /.announcing -->
						<a href="#" class="special-offers__text">
							<p>Стиральная машина</p>
							Miele WWD120 WCS
						</a>
						<div class="special-offers__sale">
							<span class="special-offers__price">64 900<i class="special-offers__rub">руб.</i>
							</span>
							<div class="special-offers__fav tooltip" data-tippy-content="Добавить в избранное">
							</div>
							<!-- /.special-offers__fav -->
							<div class="special-offers__compare tooltip" data-tippy-content="Добавить в сравнение">
							</div>
							<!-- /.special-offers__compare -->
							<a href="#" data-url="ajax/add-cart.html " data-tippy-content="Добавить в корзину" data-ajax
								class="special-offers__buy tooltip">купить</a>
						</div>
					</div>
					<!-- /.special-offers__content -->
				</div>
				<div class="catalog__item">
					<div class="swiper" data-swiper>
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_1.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_2.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_3.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide swiper-slide-text">
									<a href="#" class="special-offers__new">
										<div class="special-offers__caption">
											Характеристики
										</div>
										<!-- /.special-offers__caption -->
										<div class="special-offers__desc">
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
										</div>
										<!-- /.special-offers__desc -->
										<div class="special-offers__info">
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
										</div>
										<!-- /.special-offers__info -->
									</a>
									<!-- /.special-offers__new -->
								</div>
							</div>
						</div>
						<a href="#" class="swiper-pagination">
						</a>
						<!-- /.swper-pagination -->
					</div>
					<div class="special-offers__content">
						<div class="announcing">
							<div class="announcing__item"
								data-announcing="Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/sale.svg" src="images/small/sale.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__item"
								data-announcing="Специальное-Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/hit.svg" src="images/small/hit.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__status">
								<span>
									В наличии
								</span>
								<div class="ratings">
									<div class="ratings__star">
									</div>
									<b class="ratings__number">4,5</b>
									<a href="" class="ratings__link">(5)</a>
								</div>
							</div>
							<!-- /.announcing__status -->
						</div>
						<!-- /.announcing -->
						<a href="#" class="special-offers__text">
							<p>Стиральная машина</p>
							Miele WWD120 WCS
						</a>
						<div class="special-offers__sale">
							<span class="special-offers__price">64 900<i class="special-offers__rub">руб.</i>
							</span>
							<div class="special-offers__fav tooltip" data-tippy-content="Добавить в избранное">
							</div>
							<!-- /.special-offers__fav -->
							<div class="special-offers__compare tooltip" data-tippy-content="Добавить в сравнение">
							</div>
							<!-- /.special-offers__compare -->
							<a href="#" data-url="ajax/add-cart.html " data-tippy-content="Добавить в корзину" data-ajax
								class="special-offers__buy tooltip">купить</a>
						</div>
					</div>
					<!-- /.special-offers__content -->
				</div>
				<div class="catalog__item">
					<div class="swiper" data-swiper>
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_1.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_2.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide">
									<a class="special-offers__pic" href="#">
										<img src="images/foto_3.jpg" class="special-offers__img">
									</a>
								</div>
								<div class="swiper-slide swiper-slide-text">
									<a href="#" class="special-offers__new">
										<div class="special-offers__caption">
											Характеристики
										</div>
										<!-- /.special-offers__caption -->
										<div class="special-offers__desc">
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
											<ul>
												<li>
													Тип загрузки:
													<b>фронтальная</b>
												</li>
												<li>
													Макс. загрузка при стирке, кг:
													<b>9</b>
												</li>
												<li>
													Габариты (В х Ш х Г), см:
													<b>
														85 х 59.6 х 63.6
													</b>
												</li>
											</ul>
										</div>
										<!-- /.special-offers__desc -->
										<div class="special-offers__info">
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
											Полновстраиваемая посудомоечная машина XXL Универсальная модель для кухонь с
											фасадами без ручек
										</div>
										<!-- /.special-offers__info -->
									</a>
									<!-- /.special-offers__new -->
								</div>
							</div>
						</div>
						<a href="#" class="swiper-pagination">
						</a>
						<!-- /.swper-pagination -->
					</div>
					<div class="special-offers__content">
						<div class="announcing">
							<div class="announcing__item"
								data-announcing="Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/sale.svg" src="images/small/sale.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__item"
								data-announcing="Специальное-Специальное предложение при покупке комплекта <a href='#'>Подробнее</a>">
								<img data-src="images/small/hit.svg" src="images/small/hit.svg">
							</div>
							<!-- /.announcing__item -->
							<div class="announcing__status">
								<span>
									В наличии
								</span>
								<div class="ratings">
									<div class="ratings__star">
									</div>
									<b class="ratings__number">4,5</b>
									<a href="" class="ratings__link">(5)</a>
								</div>
							</div>
							<!-- /.announcing__status -->
						</div>
						<!-- /.announcing -->
						<a href="#" class="special-offers__text">
							<p>Стиральная машина</p>
							Miele WWD120 WCS
						</a>
						<div class="special-offers__sale">
							<span class="special-offers__price">64 900<i class="special-offers__rub">руб.</i>
							</span>
							<div class="special-offers__fav tooltip" data-tippy-content="Добавить в избранное">
							</div>
							<!-- /.special-offers__fav -->
							<div class="special-offers__compare tooltip" data-tippy-content="Добавить в сравнение">
							</div>
							<!-- /.special-offers__compare -->
							<a href="#" data-url="ajax/add-cart.html " data-tippy-content="Добавить в корзину" data-ajax
								class="special-offers__buy tooltip">купить</a>
						</div>
					</div>
					<!-- /.special-offers__content -->
				</div>
			</div>
			<div class="favorite__bottom">
				<a class="load-more" href="#">Загрузить еще</a>
				{% include 'pagination/pagination.html' %}
			</div>
		</div>
	</div>
	<div class="favorite__footer">
		<div class="recently-watched js-recently-watched">
			<div class="recently-watched__title">
				Вы недавно смотрели
			</div>
			<div class="swiper-pagination-recently-watched swiper-pagination"></div>
			<div class="swiper-button-prev recently-watched__prev"></div>
			<div class="swiper-button-next recently-watched__next"></div>
			<a href="#" class="recently-watched__reset">Сбросить просмотренное</a>
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<a href="#" class="recently-watched__pic">
							<img src="images/new-items_3.jpg" alt="">
						</a>
						<a href='#' class="recently-watched__text">
							Винный шкаф Liebherr EWTgw
							3583 Vinidor
							<span class="recently-watched__price">134 200
								<i class="recently-watched__rub">руб.</i>
							</span>
						</a>
						<div class="recently-watched__close"></div>
					</div>
					<div class="swiper-slide">
						<a href="#" class="recently-watched__pic">
							<img src="images/new-items_1.jpg" alt="">
						</a>
						<a href="#" class="recently-watched__text">
							Холодильник Liebherr CBNPbs 4858 Premium BioFresh NoFrost
							<span class="recently-watched__price">
								34 200
								<i class="recently-watched__rub">руб.</i>
							</span>
						</a>
						<div class="recently-watched__close"></div>
					</div>
					<div class="swiper-slide">
						<a href="#" class="recently-watched__pic">
							<img src="images/new-items_2.jpg" alt="">
						</a>
						<a href="#" class="recently-watched__text">
							Морозильник Liebherr GN 2723
							Comfort NoFrost
							<span class="recently-watched__price">
								14 200
								<i class="recently-watched__rub">руб.</i>
							</span>
						</a>
						<div class="recently-watched__close"></div>
					</div>
					<div class="swiper-slide">
						<a href="#" class="recently-watched__pic">
							<img src="images/new-items_1.jpg" alt="">
						</a>
						<a href="#" class="recently-watched__text">
							Холодильник Liebherr CBNPbs 4858 Premium BioFresh NoFrost
							<span class="recently-watched__price">
								13 200
								<i class="recently-watched__rub">руб.</i>
							</span>
						</a>
						<div class="recently-watched__close"></div>
					</div>
					<div class="swiper-slide">
						<a href="#" class="recently-watched__pic">
							<img src="images/new-items_3.jpg" alt="">
						</a>
						<a href="#" class="recently-watched__text">
							Винный шкаф Liebherr EWTgw
							3583 Vinidor
							<span class="recently-watched__price">
								1 200
								<i class="recently-watched__rub">руб.</i>
							</span>
						</a>
						<div class="recently-watched__close"></div>
					</div>
					<div class="swiper-slide">
						<a href="#" class="recently-watched__pic">
							<img src="images/new-items_1.jpg" alt="">
						</a>
						<a href="#" class="recently-watched__text">
							Холодильник Liebherr CBNPbs 4858 Premium BioFresh NoFrost
						</a>
						<div class="recently-watched__close"></div>
					</div>
					<div class="swiper-slide">
						<a href="#" class="recently-watched__pic">
							<img src="images/new-items_2.jpg" alt="">
						</a>
						<a href="#" class="recently-watched__text">
							Морозильник Liebherr GN 2723
							Comfort NoFrost
						</a>
						<div class="recently-watched__close"></div>
					</div>
					<div class="swiper-slide">
						<a href="#" class="recently-watched__pic">
							<img src="images/new-items_1.jpg" alt="">
						</a>
						<a href="#" class="recently-watched__text">
							Холодильник Liebherr CBNPbs 4858 Premium BioFresh NoFrost
						</a>
						<div class="recently-watched__close"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
