.favorite {
	@media screen and (max-width: 767px) {
		&__items {
			// .catalog {
			// 	&__items {
			// 		margin-right: 0;
			// 	}
			// 	&__text {
			// 		height: unset;
			// 		min-height: unset;
			// 		padding: 0 !important;
			// 		line-height: 25px;
			// 		margin-bottom: 28px;
			// 		margin-top: 35px;
			// 	}
			// 	&__specification {
			// 		padding-right: 15px;
			// 		margin-bottom: 16px;
			// 	}
			// 	&__li {
			// 		margin-top: 15px;
			// 		grid-area: 2;
			// 		margin-left: 0;
			// 		margin-right: 17px;
			// 	}
			// 	// &__item {
			// 	// 	flex: 1 0 100%;
			// 	// 	width: 100%;
			// 	// 	max-width: 100%;
			// 	// 	height: unset;
			// 	// 	margin: 0 0 16px;
			// 	// 	padding: 32px 19px 21px;
			// 	// 	.catalog__pic {
			// 	// 		height: 230px;
			// 	// 	}
			// 	// 	.announcing {
			// 	// 		top: 20px;
			// 	// 		left: 20px;
			// 	// 	}
			// 	// 	.catalog__feature {
			// 	// 		justify-content: space-between;
			// 	// 	}
			// 	// 	.catalog__bold {
			// 	// 		flex-shrink: 0;
			// 	// 		width: 86px;
			// 	// 	}
			// 	// 	.catalog__sale {
			// 	// 		margin-bottom: 8px;
			// 	// 		padding-right: 0;
			// 	// 	}
			// 	// 	.special-offers__buy {
			// 	// 		display: flex;
			// 	// 		justify-content: center;
			// 	// 		width: 112px;
			// 	// 		height: 34px;
			// 	// 		border-radius: 3px;
			// 	// 		background-color: $base;
			// 	// 		color: #ffffff;
			// 	// 		background-image: none;
			// 	// 	}
			// 	// }
			// }
		}
		&__reset{
			display: none;
		}
	}

	&__bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

		.load-more {
			width: fit-content;
			border: 1px solid #f1f1f1;
			padding: 5px 45px;
			margin-top: 0;
			border-radius: 3px;
			color: $base;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
			text-transform: uppercase;
			margin-bottom: 11px;
		}

		.pagination {
			margin-bottom: 29px;
		}
	}

	&__items {
		flex-wrap: wrap;
		flex-direction: row !important;
		margin: 0 !important;

		.catalog__sale {
			flex-grow: 1;
			align-items: flex-end;
			height: 36px;
			margin-top: unset !important;
			margin-bottom: 8px;
			padding-right: 3px;

			.catalog__price {
				align-items: center;
				width: calc(100% - 112px);
				height: 100%;
				padding-top: 2px;
				line-height: 1;
			}

			.special-offers__rub {
				line-height: 1;
			}
		}

		.price__dashed {
			position: relative;

			.catalog__price {
				flex-wrap: wrap;
				align-items: flex-start;
				position: relative;
				// width: 50%;
				height: 100%;
				color: #d82300;
			}

			.price__absolute {
				position: absolute;
				top: unset;
				bottom: 0;
				left: 0;
				left: 0;
				color: #999999;
				font-size: 13px;
				font-weight: 400;
				line-height: 1;
				text-decoration: unset;
			}
		}

		.special-offers__buy {
			width: 112px;
			height: 34px;

			&:before {
				content: "";
				width: 12px;
				height: 12px;
				background-image: url(../images/shopping-cart.png);
				background-size: 12px;
				margin-right: 8px;
			}
		}

		.special-offers {
			&__buy {

				// width: 112px;
				// height: 34px;
				&:before {
					content: "";
					background-image: url(../images/shopping-cart.png);
					width: 12px;
					height: 12px;
					background-size: 12px;
					margin-right: 8px;
				}
			}

			&__new {
				right: 16px;
				left: 16px;
			}

			&__content {
				padding-top: 0;
			}

			&__sale {
				// align-items: flex-start;
				margin-bottom: 6px;
				padding-right: 4px;
			}

			&__caption {
				margin-top: 9px;
				margin-bottom: 5px;
			}

			&__text {
				padding: 7px 0 12px;
			}

			&__price {
				width: auto;
				height: 36px;
				padding-top: 10px;
				letter-spacing: -.2px;

				&.price__dashed {
					padding-top: 0;
					// font-family: "HelveticaNeueCyr-Medium";
					// font-size: 18px;
					// font-weight: 400;
					// line-height: 24px;
					color: $base;
				}
			}

			&__rub {
				font-size: inherit;
			}
		}
	}

	&__reset {
		color: $base;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
		position: absolute;
		top: -48px;
		right: 5px;
		text-decoration: none !important;
	}
}

.js-news {
	width: 100% !important;
	margin-top: 0 !important;

	.catalog__items {
		width: 100% !important;
		padding-top: 0 !important;
	}
}

.js-favorite_list {
	.catalog__sale {
		align-items: center;
		margin-bottom: 8px;
	}
}

.favorite__footer {
	width: 100%;
	max-width: 100%;

	@media screen and (max-width: 767px) {
		order: -4;
	}
}
