.footer {
	// background-color: #f8f8f8;
	background: #f6f6f6;
	background-size: auto;
	background-position: center;
	padding: 0px 0 19px;
	z-index: 3;
	position: relative;
	min-width: 1176px;
	font-family: "HelveticaNeueCyr-Roman";
	max-width: 1436px;
	margin-left: auto;
	margin-right: auto;

	.container {
		padding: 0;
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-left: 4px;
		// height: 367px;
	}

	&__logo {
		display: flex;
		justify-content: center;
		margin-bottom: 48px;

		img {
			width: 147px;
			height: 56px;
		}
	}

	&__col {

		// width: calc(82%/4);
		// width: 17%;
		// flex-basis: 220px;
		// flex-grow: 1;
		// border-left: 1px solid red;
		// border-right: 1px solid black;
		&:nth-child(2) {
			margin-left: 10.5%;
			margin-right: auto;
		}

		&:nth-child(3) {
			// margin-left: 5%;
		}

		&:nth-child(4) {
			// width: 39%;
			width: 18%;
			margin-left: 6%;
			// flex-basis: 310px;
			// .menu-footer__list {
			// 	display: flex;
			// 	flex-wrap: wrap;
			// 	height: 181px;
			// 	align-content: baseline;
			// }
			// .menu-footer__title {
			// 	width: 100%;
			// }
			// .menu-footer__item {
			// 	width: 50%;
			// }
			// .menu-footer__item {
			// 	width: 50%;
			// }
		}

		&:nth-child(5) {
			width: 14%;
			margin-left: 5%;
		}

		&:last-child {
			width: auto;
			// margin-left: auto;
			// flex-basis: 192px;
			display: flex;
			flex-direction: column;
			// flex-basis: 100px;
			// padding-top: 12px;
			flex-grow: 0;
		}
	}

	&__row {
		width: 100%;
		display: flex;
		padding-top: 28px;
		align-items: center;
		flex: 1 1 100%;
	}

	&__copyright {
		color: #a6a6a6;
		font-family: "HelveticaNeueCyr-Roman";
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
		line-height: 20px;

		br {
			display: none;
		}
	}

	&__button {
		height: 38px;
		padding: 4px 14px 4px 14px;
		border-radius: 3px;
		background-color: $base;
		color: #ffffff;
		font-size: 14px;
		font-weight: 400;
		color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__text {
		color: #4b4b4b;
		font-family: "HelveticaNeueCyr-Roman";
		font-size: 13px;
		font-weight: 400;
		line-height: 22px;
		margin-bottom: 19px;

		&_first {
			color: $base;
			font-size: 18px;
			font-weight: 400;
			line-height: 36px;
			text-align: right;
		}

		b {
			font-weight: bold;
		}
	}

	&__tel {
		font-family: "HelveticaNeueCyr-Light";
		font-size: 32px;
		font-weight: 400;
		line-height: 26px;
		text-decoration: none !important;
		color: black;
		margin-bottom: 9px;
		display: flex;
	}

	&__email {
		color: $base;
		font-family: "HelveticaNeueCyr-Roman";
		font-size: 20px;
		font-weight: 400;
		line-height: 22px;
		text-decoration: underline;
		margin: 25px 0 21px;
		text-decoration: none !important;

		i {
			color: #666666;
			font-style: normal;
			margin-right: 4px;
		}
	}

	&__telephones {
		display: flex;
		min-width: 260px;
		justify-content: flex-end;
		font-family: "HelveticaNeueCyr-Light";
		font-size: 32px;
		font-weight: 400;
		line-height: 26px;

		.l-abuse {
			width: 100%;
		}
	}

	.menu-footer {
		height: auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		&__title {
			font-family: "HelveticaNeueCyr-Medium";
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			margin-bottom: 26px;
			width: 100%;
		}

		&__link {
			color: #4b4b4b;
			font-family: "HelveticaNeueCyr-Roman";
			font-size: 15px;
			font-weight: 400;
			line-height: 16px;
			text-decoration: none !important;
			white-space: nowrap;

			&:hover {
				color: $base;
			}
		}

		&__list {
			margin: 0;
			padding: 0;
			list-style-type: none;
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			width: auto;

			&:first-of-type {
				margin-right: 30px;
			}
		}

		&__item {
			display: flex;
			cursor: pointer;
			color: $base;
			margin-bottom: 16px;

			+.menu-footer__title {
				margin-top: 33px;
			}
		}
	}

	.social-title {
		font-family: "HelveticaNeueCyr-Roman";
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		margin-bottom: 6px;
	}

	.social-items {
		display: flex;

		// margin-left: 8%;
		.social-link {
			width: 32px;
			height: 32px;
			background: #ffffff;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 16px;
			margin-left: 0px;
			border-radius: 50%;

			&:last-child {
				margin-right: 0;
			}

			&.vk {
				background: url('../images/social-items-vk.png') no-repeat #f8f8f8;
			}

			&.fb {
				background: url('../images/social-items-facebook.png') no-repeat #f8f8f8;
			}

			&.tw {
				background: url('../images/social-items-instagram.png') no-repeat #f8f8f8;
			}

			&.ok {
				background: url('../images/social-items-ok.png') no-repeat #f8f8f8;
			}
		}
	}

	.privacy-policy {
		color: #a6a6a6;
		font-family: "HelveticaNeueCyr-Roman";
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
		text-decoration: none !important;
		margin-left: 15%;

		&:hover {
			color: $base;
		}
	}

	.footer__call-phone-button {
		color: $base;
		font-family: "HelveticaNeueCyr-Roman";
		font-size: 20px;
		font-weight: 400;
		line-height: 22px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin: 10px 0 0 0;
		text-decoration: none !important;

		&::before {
			content: '';
			background: url('../images/footer__call.svg');
			// background: url('../images/social-items-vk.png') no-repeat #f8f8f8;
			margin-right: 10px;
			width: 18px;
			height: 18px;
		}

		span {
			border-bottom: 1px dashed $base;
		}
	}

	.abuse__button {
		text-decoration: none !important;
	}

	&__half {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	@media screen and (max-width: 767px) {
		padding: 0 0 19px;
		background: #f8f8f8;
		min-width: 320px;
		width: auto;
		max-width: 100%;

		* {
			transition: 0.3s;
		}

		&__row {
			flex-wrap: wrap;
			padding-top: 16px;
			flex-direction: column-reverse;
			align-items: baseline;
		}

		&__copyright {
			width: 100%;
			text-align: center;
			color: #a6a6a6;
			font-family: "HelveticaNeueCyr-Roman";
			font-size: 13px;
			font-weight: 400;
			line-height: 20px;
			text-align: center;
			margin-top: 9px;

			@media screen and (max-width: 443px) {
				br {
					display: block;
				}
			}
		}

		&__inner {
			flex-direction: row;
			height: auto;
		}

		&__telephones {
			margin: 0px;
			width: 100%;
			max-width: unset;

			.l-abuse,
			.footer__button {
				width: 100%;
			}
		}

		&__button {
			width: 288px;
			height: auto;
			text-align: center;
			justify-content: center;
			padding: 7px 14px;
		}

		.footer {
			&__col {
				flex-basis: unset;
				flex-grow: 0;
				margin-bottom: 0;
				width: 100% !important;
				margin-bottom: 0 !important;
				border-bottom: 1px solid #eeeeee;
				margin-left: 0 !important;

				.menu-footer__item {
					width: 100%;
					max-width: 100%;
				}

				&:nth-child(2) {
					margin-left: 7%;
				}

				&:nth-child(3) {
					margin-left: 6%;
				}

				&:last-child {
					// flex-direction: row;
					position: relative;
					flex-wrap: wrap;
					max-height: unset;
					padding-top: 14px;

					.footer__text,
					.footer__tel,
					a {
						// width: 50%
					}

					.footer__text_first {
						margin-top: 0px;
						width: 100%;
						position: absolute;
						top: 12px;
					}

					.footer__email {
						text-align: center;
						order: unset;
						margin-top: 10px;
						margin-bottom: 12px;
					}

					.footer__call-phone-button {
						margin-bottom: 16px;
						margin-top: 20px;
					}

					.footer__text_two {
						margin-top: 22px;
					}
				}
			}

			&__logo {
				margin-bottom: 14px;

				img {
					width: 96px;
					height: auto;
				}
			}
		}

		.menu-footer {
			height: 47px;
			overflow: hidden;

			&__title {
				font-family: "HelveticaNeueCyr-Medium";
				font-size: 16px;
				font-weight: 400;
				line-height: 36px;
				margin-bottom: 0px;
				padding: 8px 16px 8px 16px;
				background: url("https://icongr.am/entypo/chevron-down.svg?color=8c0014") 100% 17px/16px no-repeat;
				cursor: pointer;
				text-align: center;
			}

			&__item {
				padding: 0;
				margin-bottom: 16px;
			}

			&__link {
				color: #4b4b4b;
				font-family: "HelveticaNeueCyr-Roman";
				font-size: 13px;
				font-weight: 400;
				line-height: 16px;
			}

			&__list {
				display: block;
				height: unset !important;
				padding-bottom: 20px;
				width: 50%;

				&:first-of-type {
					margin-right: 0px;
				}

				&:last-of-type {
					.menu-footer__item {
						padding-left: 16px;
					}
				}
			}
		}

		.active {
			.menu-footer {
				height: unset;
				overflow: unset;
			}

			.menu-footer__title {
				background: url("https://icongr.am/entypo/chevron-up.svg?color=666666") 100% 17px/16px no-repeat;
			}
		}

		.checkbox__oferta {
			color: #666666;
			font-family: Arial, sans-serif;
			font-size: 12px;
			line-height: 18px;
		}

		.footer__text {
			color: #4b4b4b;
			font-family: "HelveticaNeueCyr-Roman";
			font-size: 14px;
			font-weight: 400;
			line-height: 22px;
			text-align: center;
			margin-top: 3%;
			margin-bottom: 13px;

			&_three {
				margin-top: 0;
				// display: flex;
				// flex-wrap: wrap;
				font-size: 13px;

				&:first-of-type {
					margin-bottom: 16px;
				}
			}

			&_first {
				white-space: nowrap;
				position: absolute;
				left: 0;
				top: 0;
			}
		}

		.footer__tel {
			font-family: "HelveticaNeueCyr-Light";
			font-size: 32px;
			font-weight: 400;
			line-height: 26px;
			text-align: center;
			justify-content: center;

			&:first-of-type {
				margin-top: 19px;
				margin-bottom: 6px;
			}
		}

		.footer__call-phone-button {
			justify-content: center;
			font-family: "HelveticaNeueCyr-Roman";
			font-size: 20px;
			font-weight: 400;
			line-height: 22px;
			margin-top: 16px;
			margin-bottom: 17px;
		}

		.footer__email {
			text-align: center;
			order: unset;
			margin-top: 10px;
		}

		.social-items {
			margin-bottom: 12px;
			justify-content: center;

			.social-link {
				width: 40px !important;
				height: 40px !important;
				margin-right: 32px;

				img {
					width: 30px;
				}
			}
		}

		.social-title {
			font-family: "HelveticaNeueCyr-Roman";
			font-size: 16px;
			font-weight: 400;
			line-height: 20px;
			text-align: center;
		}

		.privacy-policy {
			margin-bottom: 0px;
			width: 100%;
			text-align: center;
			margin-left: unset;
		}

		&__half {
			width: calc(50% - 7px);
			position: relative;

			&:first-child {
				padding-right: 14px;
				padding-top: 22px;
				align-items: flex-start;
			}

			&:last-child {
				align-items: flex-start;
				padding-top: 36px;
				padding-left: 7px;

				.footer__text {
					text-align: left;
				}
			}
		}
	}
}

.abuse-popup-container {
	// height: 100vh;
	// overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
