<div class="header__dropdown-menu" id="js-menu">
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title js-dropdown-menu__title">УХОД ЗА БЕЛЬЁМ</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">
				<li class="dropdown-menu__item" data-bg='images/stir.png'>
					<a class="dropdown-menu__link" href="catalog.html">Стиральные машины</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Стирально-сушильные машины Miele
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Стиральные машины Miele Classic
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Узкие стиральные машины Miele
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Вертикальные стиральные машины Miele
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown-menu__item" data-bg='images/sush.png'>
					<a class="dropdown-menu__link" href="catalog.html">Сушильные машины</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Сушильные машины с тепловым насосом Miele
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Сушильные машины с функцией пара Miele
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown-menu__item" data-bg='images/glad.png'>
					<a class="dropdown-menu__link" href="catalog.html">Гладильные машины</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Гладильный каток Miele
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Гладильная система Miele
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<nav class="dropdown-menu ">
		<span class="dropdown-menu__title js-dropdown-menu__title">ТЕХНИКА ДЛЯ КУХНИ</span>
		<div class="dropdown-menu__parent column">
			<ul class="dropdown-menu__list">
				<li class="dropdown-menu__item" data-bg='images/duh.png'>
					<a class="dropdown-menu__link" href="catalog.html">Духовые шкафы</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Электрические духовые шкафы Miele
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Духовые шкафы с СВЧ Miele
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Духовые шкафы с пароваркой Miele
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown-menu__item" data-bg='images/varki.png'>
					<a class="dropdown-menu__link" href="catalog.html">Варочные панели</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Индукционные варочные панели Miele
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Газовые варочные панели Miele
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Электрические варочные панели Miele
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown-menu__item" data-bg='images/kombi.png'>
					<a class="dropdown-menu__link" href="catalog.html">Комби-панели</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Индукционные WOK Miele
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Тепан-яки Miele
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown-menu__item" data-bg='images/posud.png'>
					<a class="dropdown-menu__link" href="catalog.html">Посудомоечные машины</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Встраиваемые посудомоечные машины Miele
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Отдельностоящие посудомоечные машины Miele
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown-menu__item" data-bg='images/vyt.png'>
					<a class="dropdown-menu__link" href="catalog.html">Вытяжки</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Встраиваемые вытяжки Miele
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Островные вытяжки Miele
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Настенные вытяжки Miele
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown-menu__item" data-bg='images/par.png'>
					<a class="dropdown-menu__link" href="/smeg/kofevarki/" title="Пароварки">Пароварки</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Комби-пароварки Miele
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Встраиваемые пароварки Miele
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Пароварки с СВЧ Miele
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown-menu__item" data-bg='images/kofe.png'>
					<a class="dropdown-menu__link" href="/smeg/kofemolki/" title="Кофемашины">Кофемашины</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Встраиваемые кофемашины Miele
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Отдельностоящие кофемашины Miele
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown-menu__item" data-bg='images/mikr.png'>
					<a class="dropdown-menu__link" href="catalog.html">Микроволновые печи</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Встраиваемые микроволновые печи Miele
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Отдельностоящие микроволновые печи Miele
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown-menu__item" data-bg='images/plity.png'>
					<a class="dropdown-menu__link" href="catalog.html"> Плиты</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Комбинированные плиты Miele
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Плиты с СВЧ Miele
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown-menu__item" data-bg='images/holod.png'>
					<a class="dropdown-menu__link" href="catalog.html"> Холодильники</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Двухкамерные холодильники Miele
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Морозильные камеры Miele
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Винные шкафы Miele
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown-menu__item" data-bg='images/kompact.png'>
					<a class="dropdown-menu__link" href="/smeg/chainiki/" title="Плиты">Компактные приборы</a>
					<ul class="sub-menu__list">
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Вакууматоры
							</a>
						</li>
						<li class="sub-menu__item">
							<a class="sub-menu__link" href="#">
								Подогреватели
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown-menu__item button">
					<a class="dropdown-menu__link" href="#">руководство пользователя Miele</a>
				</li>
			</ul>
		</div>
	</nav>
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title js-dropdown-menu__title">ТЕХНИКА ДЛЯ ДОМА</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">
				<li class="dropdown-menu__item" data-bg='images/bezmesh.png'>
					<a class="dropdown-menu__link" href="catalog.html">Безмешковые пылесосы</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/mesh.png'>
					<a class="dropdown-menu__link" href="catalog.html">Пылесосы с мешком</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/vert.png'>
					<a class="dropdown-menu__link" href="catalog.html">Вертикальные беспроводные
						пылесосы</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/robot.png'>
					<a class="dropdown-menu__link" href="catalog.html">Роботы-пылесосы</a>
				</li>
			</ul>
		</div>
	</nav>
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title js-dropdown-menu__title">ПРОФЕССИОНАЛЬНАЯ ТЕХНИКА</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">
				<li class="dropdown-menu__item" data-bg='images/pr-stir.png'>
					<a class="dropdown-menu__link" href="/smeg/pechi/">
						Профессиональные стиральные машины
					</a>
				</li>
				<li class="dropdown-menu__item" data-bg="images/pr-sush.png">
					<a class="dropdown-menu__link" href="/smeg/posudomoechnye-mashiny-pro/">
						Профессиональные сушильные машины
					</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/pr-glad.png'>
					<a class="dropdown-menu__link" href="/smeg/stakanomoechnye-mashiny/">
						Профессиональные гладильные машины
					</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/pr-posud.png'>
					<a class="dropdown-menu__link" href="/smeg/kotlomoechnye-mashiny-pro/">
						Профессиональные посудомоечные машины
					</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/pr-aks.png'>
					<a class="dropdown-menu__link" href="/smeg/kholodilnoe-oborudovanie/">
						Аксессуары для профтехники
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title js-dropdown-menu__title">АКСЕССУАРЫ И БЫТОВАЯ ХИМИЯ</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">
				<li class="dropdown-menu__item" data-bg='images/aks-byt.png'>
					<a class="dropdown-menu__link" href="#"
						title="Аксессуары для бытовой техники">Аксессуары для бытовой техники</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/aks-him.png'>
					<a class="dropdown-menu__link" href="#" title="Моющие и чистящие средства">Моющие и
						чистящие средства</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/aks-warranty.png'>
					<a class="dropdown-menu__link" href="#" title="Моющие и чистящие средства">
						Дополнительная гарантия
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
