<div class="header__dropdown-menu" id="js-menu">
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title js-dropdown-menu__title">УХОД ЗА БЕЛЬЁМ</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">
								<li class="dropdown-menu__item" data-bg='images/Стиральные-машины.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Стиральные машины</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/Сушильные-машины.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Сушильные машины</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/Кофемашины.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Гладильные машины</a>
				</li>
							</ul>
		</div>
	</nav>
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title js-dropdown-menu__title">ТЕХНИКА ДЛЯ КУХНИ</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">
				<li class="dropdown-menu__item" data-bg='images/духовка.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Духовые шкафы</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/Варочные-панели.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Варочные панели</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/Варочные-центры.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Комби-панели</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/Посудомоечные-машины.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Посудомоечные машины</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/Вытяжки.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Вытяжки</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/Кофеварки.svg'>
					<a class="dropdown-menu__link" href="/smeg/kofevarki/" title="Пароварки">Пароварки</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/Микроволновые-печи.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Микроволновые печи</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/аксессуары.svg'>
					<a class="dropdown-menu__link" href="/smeg/kofemolki/" title="Кофемашины">Кофемашины</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/Вакуумные-упаковщики.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html"> Вакууматоры</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/подогреватели-посуды.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html"> Подогреватели</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/чайник.svg'>
					<a class="dropdown-menu__link" href="/smeg/chainiki/" title="Плиты">Плиты</a>
				</li>

				<li class="dropdown-menu__item" data-bg='images/Холодильники.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Холодильники</a>
				</li>
			</ul>
		</div>
	</nav>
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title js-dropdown-menu__title">ТЕХНИКА ДЛЯ ДОМА</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">
				<li class="dropdown-menu__item" data-bg='images/мойки.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Безмешковые пылесосы</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/Смеситель.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Пылесосы с мешком</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/Смеситель.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Вертикальные беспроводные пылесосы</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/Смеситель.svg'>
					<a class="dropdown-menu__link" target="_blank" href="catalog.html">Роботы-пылесосы</a>
				</li>
			</ul>
		</div>
	</nav>
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title js-dropdown-menu__title">ПРОФЕССИОНАЛЬНАЯ ТЕХНИКА</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">
				<li class="dropdown-menu__item" data-bg='images/Проф-Печи.svg'>
					<a class="dropdown-menu__link" href="/smeg/pechi/" >
						Профессиональные стиральные машины
					</a>
				</li>
				<li class="dropdown-menu__item" data-bg="images/Проф-Посудомоечные-машины.svg">
					<a class="dropdown-menu__link" href="/smeg/posudomoechnye-mashiny-pro/"
						>
						Профессиональные сушильные машины
					</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/Проф-Стаканомоечные-машины.svg'>
					<a class="dropdown-menu__link" href="/smeg/stakanomoechnye-mashiny/" >
						Профессиональные гладильные машины
					</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/Проф-Котломоечные-машины.svg'>
					<a class="dropdown-menu__link" href="/smeg/kotlomoechnye-mashiny-pro/" >
						Профессиональные посудомоечные машины
					</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/Холодильное-оборудование.svg'>
					<a class="dropdown-menu__link" href="/smeg/kholodilnoe-oborudovanie/"
						>
						Аксессуары для профтехники
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- <nav class="dropdown-menu collection">
		<span class="dropdown-menu__title js-dropdown-menu__title" title="Коллекции">Коллекции</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">
				<li class="dropdown-menu__item">
					<div class="dropdown-menu__image">
						<a href="#" class="dropdown-menu__reference">
							<img src="images/collection.png" alt="" class="dropdown-menu__pic">
						</a>
					</div>
					<div class="dropdown-menu__subtitle js-dropdown-menu__subtitle">
						<a href="#" class="dropdown-menu__reference">
							Dolce Stil Novo
						</a>
					</div>
				</li>
				<li class="dropdown-menu__item">
					<div class="dropdown-menu__image">
						<a href="#" class="dropdown-menu__reference">
							<img src="images/collection-2.png" alt="" class="dropdown-menu__pic">
						</a>
					</div>
					<div class="dropdown-menu__subtitle js-dropdown-menu__subtitle">
						<a href="#" class="dropdown-menu__reference">
							Victoria
						</a>
					</div>
				</li>
				<li class="dropdown-menu__item">
					<div class="dropdown-menu__image">
						<a href="#" class="dropdown-menu__reference">
							<img src="images/collection-3.png" alt="" class="dropdown-menu__pic">
						</a>
					</div>
					<div class="dropdown-menu__subtitle js-dropdown-menu__subtitle">
						<a href="#" class="dropdown-menu__reference">
							Piano Design
						</a>
					</div>
				</li>
				<li class="dropdown-menu__item">
					<div class="dropdown-menu__image">
						<a href="#" class="dropdown-menu__reference">
							<img src="images/collection-4.png" alt="" class="dropdown-menu__pic">
						</a>
					</div>
					<div class="dropdown-menu__subtitle js-dropdown-menu__subtitle">
						<a href="#" class="dropdown-menu__reference">
							Cortina
						</a>
					</div>
				</li>
				<li class="dropdown-menu__item">
					<div class="dropdown-menu__image">
						<a href="#" class="dropdown-menu__reference">
							<img src="images/collection-5.png" alt="" class="dropdown-menu__pic">
						</a>
					</div>
					<div class="dropdown-menu__subtitle js-dropdown-menu__subtitle">
						<a href="#" class="dropdown-menu__reference">
							Coloniale
						</a>
					</div>
				</li>
				<li class="dropdown-menu__item">
					<div class="dropdown-menu__image">
						<a href="#" class="dropdown-menu__reference">
							<img src="images/collection-6.png" alt="" class="dropdown-menu__pic">
						</a>
					</div>
					<div class="dropdown-menu__subtitle js-dropdown-menu__subtitle">
						<a href="#" class="dropdown-menu__reference">
							Newson
						</a>
					</div>
				</li>
				<li class="dropdown-menu__item">
					<div class="dropdown-menu__image">
						<a href="#" class="dropdown-menu__reference">
							<img src="images/collection-7.png" alt="" class="dropdown-menu__pic">
						</a>
					</div>
					<div class="dropdown-menu__subtitle js-dropdown-menu__subtitle">
						<a href="#" class="dropdown-menu__reference">
							Linea
						</a>
					</div>
				</li>
				<li class="dropdown-menu__item">
					<div class="dropdown-menu__image">
						<a href="#" class="dropdown-menu__reference">
							<img src="images/collection-8.png" alt="" class="dropdown-menu__pic">
						</a>
					</div>
					<div class="dropdown-menu__subtitle js-dropdown-menu__subtitle">
						<a href="#" class="dropdown-menu__reference">
							Classica
						</a>
					</div>
				</li>
				<li class="dropdown-menu__item">
					<div class="dropdown-menu__image">
						<a href="#" class="dropdown-menu__reference">
							<img src="images/collection-9.png" alt="" class="dropdown-menu__pic">
						</a>
					</div>
					<div class="dropdown-menu__subtitle js-dropdown-menu__subtitle">
						<a href="#" class="dropdown-menu__reference">
							Стиль 50-х годов
						</a>
					</div>
				</li>
			</ul>
		</div>
	</nav> -->
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title js-dropdown-menu__title">АКСЕССУАРЫ И БЫТОВАЯ ХИМИЯ</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">
				<li class="dropdown-menu__item" data-bg='images/Кофеварки.svg'>
					<a class="dropdown-menu__link" href="/smeg/kofevarki/" title="Аксессуары для бытовой техники">Аксессуары для бытовой техники</a>
				</li>
				<li class="dropdown-menu__item" data-bg='images/аксессуары.svg'>
					<a class="dropdown-menu__link" href="/smeg/kofemolki/" title="Моющие и чистящие средства">Моющие и чистящие средства</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
