.header {
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	// .time-work {
	// 	display: none;
	// }
	@media screen and (max-width: 767px) {
		z-index: 99999;

		.header {
			&__blocks {
				display: flex;
				flex-direction: column;
			}

			&__blocks * {
				transition: 0s;
			}

			&__img {
				display: none;
			}

			&__number {
				// display: flex;
				// align-items: center;
				// justify-content: center;
				// position: absolute;
				top: 0;
				right: -4px;
				left: unset;
				/* Style for "Oval" */
				min-width: 16px;
				min-height: 16px;
				// border: 1px solid #ffffff;
				// padding: 1px 3px;
				// background-color: $base;
				// color: #ffffff !important;
				font-size: 8px;
				// border-radius: 100%;
				line-height: 8px;

				// background: unset;
				// text-align: center;
				// vertical-align: middle;
				// min-width: unset;
				// min-height: unset;
				// background: url("../images/Oval.svg") 50%;
				// background-size: cover;
				&::before {
					// margin-top: -1px;
					// top: -1px;
					top: calc(50%);
					transform: translate(-50%, -50%);
				}

				/* may require vendor prefixes */
			}

			&__basket-link {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				position: absolute;
				top: 0;
				right: 0;
				/* Style for "Oval" */
				width: 11px;
				height: 11px;
				border: 1px solid #ffffff;
				background-color: $base;
				color: #ffffff !important;
				font-size: 8px;
				border-radius: 50%;
				white-space: nowrap;
				padding-left: 2.4px;
				// padding-top: 1px;
				letter-spacing: 9px;
				line-height: 9px;
			}

			&__basket-info {
				letter-spacing: 100px;

				.header__basket-price {
					display: none;
				}
			}

			&__block_bottom {
				display: none;

				&.active {
					display: block;
					// display: flex;
					// align-items: baseline;
					// position: fixed;
					top: 0;
					left: 0;
					width: 100%;
					height: auto;
					// overflow: auto;
					// transform: scale(1);
					transition: transform 0.3s;
					box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.14);
					background-color: #ffffff;
					padding-bottom: 0;
					padding-top: 18px;
				}
			}

			&__block_menu {
				// order: -2;
				display: none;
			}

			&__blocks.active {
				display: block;
				height: 100vh;
				overflow-y: auto;
			}

			&__block_top {
				align-items: flex-start;
				// order: -3;
				height: 40px;
				background: #ffffff;
				box-shadow: 0 2px 25px rgba(0, 0, 0, 0.14);
				padding-top: 0;
				background: white;
				box-shadow: none;

				.header__icons {
					display: flex;
					flex-grow: 0;
					max-width: 225px;
					margin-left: 0;
					margin-right: 0;
					margin-right: -3px;
				}

				.menu__list {
					display: flex;
				}

				// &:after {
				// 	content: '';
				// 	height: 1px;
				// 	width: 100%;
				// 	border-bottom: 1px solid #f6f6f6;
				// 	position: absolute;
				// 	top: 60px;
				// }
				.container {
					height: 100%;
				}

				&.active {

					// height: 112px;
					.header__favorite, .header__compare {
						// display: flex;
						display: none;
					}
				}
			}

			&__icons {
				flex: unset;
				flex-basis: unset;
				flex-direction: row-reverse;
				flex-grow: 0;
				align-self: unset;
				justify-content: flex-end;
				min-width: unset;
				margin-left: 0;
				padding-right: 0;
			}

			&__favorite, &__compare, &__basket {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				position: relative;
				width: 20px;
				min-width: 20px;
				height: 20px;

				&.active .header__number {
					color: white !important;
				}
			}

			&__basket {
				justify-content: flex-start;
				// overflow: hidden;
				width: 28px;
				height: 28px;
				white-space: nowrap;
				padding-left: 0;
				margin-right: 0;
				background: white;

				&:before {
					width: 100%;
					height: 100%;
					background-size: 24px !important;
					margin-right: 0;
				}

				// &:hover {
				// 	&:before {
				// 		background-size: 22px !important;
				// 	}
				// }
			}

			&__favorite {
				margin-right: 12px;

				&:before {
					background-size: 16px !important;
					// background: url("../images/shopping-cart2-mobile.svg") no-repeat;
				}

				&:after {
					content: "Избранное";
					margin-left: 14px;
				}

				&:hover {
					// &:before {
					// 	background-size: 22px !important;
					// }
				}

				.header__number {
					// top: -11px;
					// // left: 13px;
				}
			}

			&__compare {
				margin-right: 31px;

				&:before {
					// background: url("../images/shopping-cart-mobile.svg") no-repeat;
					background-size: 19px !important;
				}

				&:after {
					content: "Сравнение";
					margin-left: 16px;
				}

				&:hover {
					// &:before {
					// 	background-size: 22px !important;
					// }
				}

				.header__number {
					// top: -11px;
					// // left: 13px;
				}
			}

			&__favorite, &__compare {
				display: none;
				align-items: center;
				position: absolute;
				top: unset;
				left: unset;
				width: auto;
				height: 24px;
				border-radius: unset;
				background: unset;

				&:before {
					width: 20px;
					height: 20px;
					margin-right: 0;
					border-radius: unset;
				}

				&:after {
					color: #4b4b4b;
					font-size: 16px;
					font-weight: 400;
					line-height: 36px;
				}

				.header__number {
					display: none;
					top: -5px;
					right: unset;
					left: 13px;
					min-width: 16px;
					min-height: 16px;
					font-size: 8px;
					line-height: 8px;
				}

				&.active {
					&:after {
						color: #8c0014;
					}

					.header__number {
						display: flex;
					}
				}
			}

			&__search {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				width: auto;
				width: 24px;
				height: 24px;
				overflow: hidden;
				margin: 0 20px 0 0;
				padding: 0;
				// margin-right: 0;
				background: white;

				&:before {
					flex-shrink: 0;
					width: 100%;
					height: 100%;
					background-size: 24px !important;
					margin-right: 0;
					// background: url(../images/musica-searcher-2.svg) no-repeat;
				}

				&:hover {
					&:before {
						// background-size: 19px !important;
					}
				}
			}

			// &__favorite {
			// 	// width: 26px;
			// 	// .header__number {
			// 	// 	position: absolute;
			// 	// 	/* Style for "Oval" */
			// 	// 	width: 11px;
			// 	// 	height: 11px;
			// 	// 	border: 1px solid #ffffff;
			// 	// 	background-color: #d8d8d8;
			// 	// 		color: #4b4b4b;
			// 	//
			// 	// 	font-size: 8px;
			// 	// 	border-radius: 50%;
			// 	// 	display: flex;
			// 	// 	align-items: center;
			// 	// 	justify-content: center;
			// 	// 	top: 0;
			// 	// 	right: 6px;
			// 	// }
			// }
			// &__compare {
			// 	width: auto;
			// 	max-width: 40px;
			// 	margin-right: 11px;
			// }
			&__mobile-tel {
				display: flex;
				align-items: center;
				order: -2;
				width: 24px;
				height: 24px;
				background: url("../images/Fill_1.svg") no-repeat;
				background-position: center center;
				margin-right: 0;
				background-size: 24px !important;
				margin-right: 4px;

				+.header__mobile-tel {
					display: none;
				}
			}

			&__block_bottom .header__mobile-tel {
				display: none;
			}

			// &__basket {
			// 	width: auto;
			// 	max-width: 40px;
			// 	margin-right: -0px;
			// }
			// &__number {
			// 	font-size: 13px;
			// 	font-weight: normal;
			// 	font-style: normal;
			// 	font-stretch: normal;
			// 	line-height: 1;
			// 	letter-spacing: normal;
			// 		color: #4b4b4b;
			// 	padding-top: 4px;
			// }
			&__form {
				width: 95%;
			}

			&__telephones {
				flex-direction: column;
				width: 100%;
				margin-left: 0;

				.telephones {
					flex-direction: column;
					order: -1;
					width: 48%;
					margin-left: 0;

					.header__phone:last-child {
						// margin-left: 1rem;
					}

					.time-work__text+.time-work__text {
						display: block;

						+.time-work__email {
							display: block;
						}
					}
				}

				.telephones__info {
					display: none;
				}

				.header__call-phone-button {
					display: flex;
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					justify-content: flex-end;
					width: auto;
					margin: 5px 0 0 0;
					border: 0;
					color: $base;
					font-size: 10px;
					line-height: 22px;
					padding-left: 0;
					text-decoration: none !important;

					&::before {
						content: "";
						width: 12px;
						height: 12px;
						background: url("../images/footer__call.png");
						// background: url('../images/social-items-vk.png') no-repeat #f8f8f8;
						margin-right: 10px;
					}

					&::after {
						content: "";
						width: calc(100% - 24px);
						height: 0;
						border-bottom: 1px dashed $base;
						margin-top: -5px;
					}
				}
			}
		}

		.container {
			flex-wrap: wrap;
			justify-content: unset;
			position: unset;
		}

		.header-search-show & {
			box-shadow: 0 2px 25px rgba(0, 0, 0, 0.14);
			// overflow: auto;
		}

		.hamburger {
			display: block;
			margin-right: 18px;
			margin-top: 0;

			&__img {
				width: 24px;
				height: 24px;
				background: url("../images/rectangle-6.svg") 0/24px;
			}
		}

		.opened {
			.hamburger__img {
				width: 24px;
				height: 24px;
				background: url("https://icongr.am/entypo/cross.svg?color=4B4B4B") -6px/30px center;
			}
		}
	}

	.header-inner & {
		flex-direction: row-reverse;
	}

	.time-work {
		position: relative;
		margin-left: 14px;
		color: #4b4b4b;
		font-family: "HelveticaNeueCyr-Roman";
		font-size: 13px;
		font-weight: 400;
		line-height: 22px;
		margin-right: 19px;

		&__text {
			&:hover {
				cursor: pointer;

				+.time-work__text {
					display: block;
					position: absolute;
					z-index: 1000000;
					top: 30px;
					left: 50%;
					max-width: 300px;
					padding: 15px 20px;
					transform: translateX(-50%);
					background: #333;
					-webkit-border-radius: 3px;
					-webkit-background-clip: padding-box;
					-moz-border-radius: 3px;
					-moz-background-clip: padding;
					border-radius: 3px;
					background-clip: padding-box;
					color: #fff;
					font-size: 11px;
					line-height: 16px;
					white-space: nowrap;

					&:before {
						content: "";
						position: absolute;
						position: absolute;
						top: -10px;
						left: 50%;
						width: 0;
						height: 0;
						transform: translateX(-50%);
						border-style: solid;
						border-width: 0 16px 16px 16px;
						border-color: transparent transparent #333 transparent;
					}
				}
			}

			&:first-child {
				width: fit-content;
				border-bottom: 1px dotted #ececec;
				line-height: 15px;
				margin-bottom: 5px;
				margin-top: 5px;
			}

			+.time-work__text {
				display: none;
				border-bottom: none;
			}
		}

		&__email {
			display: none;
		}
	}

	.header__block_top {
		.header__icons {
			flex-grow: 1;
			margin-right: 4px;
			margin-left: 40px;
		}
	}

	.header__block_bottom {
		.header__icons {
			flex-grow: 0;
			justify-content: center;
		}
	}

	.search__popup {
		display: flex;
		justify-content: center;
		position: absolute;
		z-index: 98;
		top: 96%;
		right: 100%;
		width: 100.5%;
		padding: 30px 0 26px;
		background-color: #ffffff;
		opacity: 0;

		&-open {
			display: flex;
			right: -0.3%;
			opacity: 1;
		}
	}

	.hamburger {
		order: -2;
		border: 0;
		padding: 0;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		outline: 0;
		background: none;

		&__img {
			width: 24px;
			height: 24px;
			background: url("../images/rectangle-6.svg");
		}
	}

	&__blocks {
		z-index: 1000;
		width: 100%;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.09);
	}

	&__block {
		display: flex;
		position: relative;
		z-index: 3;

		.container {
			display: flex;
			align-items: center;
			position: relative;
			padding: 0 0 0 2px;
		}

		.hamburger {
			display: none;
		}

		&_top {
			align-items: center;
			justify-content: center;
			z-index: 9;
			// background: #ffffff;
			height: 40px;
			background: #4b4b4b;
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.09);
		}

		&_bottom {
			flex-wrap: wrap;
			position: relative;
			z-index: 4;
			height: 75px;
			color: white;
			// margin: 2px 0;
			// border-top: 1px solid #f6f6f6;
		}

		&_menu {
			position: relative;
			height: 48px;
			background: #f6f6f6;

			.container {
				transform: translateX(0);
			}
		}
	}

	&__link {
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #4b4b4b;
	}

	&__img {
		z-index: 100;
		width: 56px;
		min-width: 56px;
		height: 58px;
		margin-top: -30px;
		margin-right: 16px;
	}

	&__telephones {
		display: flex;
		align-items: center;
		margin-right: 83px;
		margin-left: 0;

		.telephones {
			display: flex;
			flex-direction: column;
			margin-left: auto;
			margin-left: 0;

			&__info {
				position: relative;
				color: #4b4b4b;
				font-family: "HelveticaNeueCyr-Roman";
				font-size: 13px;
				font-weight: 400;
				line-height: 22px;
			}
		}
	}

	&__phone {
		font-family: "HelveticaNeueCyr-Roman";
		font-size: 17px;
		font-weight: 400;
		line-height: 26px;
		white-space: nowrap;
		color: black;
		text-decoration: none !important;
	}

	&__call-phone-button {
		display: flex;
		display: flex;
		align-items: center;
		justify-content: center;
		border: solid 1px $base;
		// width: 142px;
		padding: 7px 14px;
		font-family: "HelveticaNeueCyr-Roman";
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
		color: $base;
		border-radius: 3px;
		background-color: #ffffff;
		white-space: nowrap;
		margin-left: 0;

		&:hover {
			text-decoration: unset;
			background: #ececec;
		}
	}

	&__icons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 24px;
		margin-left: auto;
		margin-right: 0;
		padding-right: 3px;
		// align-self: flex-end;
	}

	&__overlay {
		display: none;
		position: fixed;
		z-index: 90;
		top: 115px;
		left: 0;
		width: 100%;
		height: 100vh;
		opacity: 0.6;
		background-color: #000000;

		&-open {
			display: flex;
		}
	}

	&__form {
		display: flex;
		justify-content: space-between;
		position: relative;
		width: 45%;

		input {
			border: 0;
		}
	}

	&__button {
		display: none;
		position: absolute;
		top: 50%;
		right: 5%;
		width: 100%;
		max-width: 24px;
		height: 24px;
		transform: translateY(-50%);
		background: url("https://icongr.am/clarity/close.svg?color=666666") 0/24px no-repeat;
	}

	&__input {
		width: 100%;
		background: inherit;
		border-bottom: 1px solid #666666 !important;
		font-size: 24px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #333333;
		padding-bottom: 15px;
	}

	&__submit {
		display: none;
		position: absolute;
		right: 0;
		border: 0;
		background: url("../images/search.svg") 0/20px no-repeat;
	}

	&__search {
		font-size: 0;

		&:before {
			content: "";
			flex-shrink: 0;
			width: 24px;
			height: 24px;
			margin-right: 24px;
			background-size: contain !important;
			background-position: center center !important;
			background: url("../images/search.svg") no-repeat;
		}

		&-open, &:hover {
			&:before {
				background: url("../images/search-h.svg") no-repeat;
			}
		}
	}

	&__favorite, &__compare, &__basket, &__search {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 40px;
		height: 40px;
		text-decoration: none !important;
		background: #f6f6f6;
		border-radius: 50%;
		cursor: pointer;
		transition: .3s;

		&:before {
			content: "";
			flex-shrink: 0;
			width: 100%;
			height: 100%;
			// background-color: ;
			border-radius: 50%;
			margin-right: 0;
			background-size: 24px !important;
			background-position: center center !important;
		}

		&.active {}

		&:hover {
			// background: #c0c1c1;
		}
	}

	&__favorite {
		margin-right: 37px;

		&:before {
			background: url("../images/header-fav.svg") no-repeat;
		}

		&:hover{
			&:before {
				background: url("../images/header-fav-h.svg") no-repeat;
			}
		}

		// &.active {
		// 	position: relative;

		// 	&:before {
		// 		background: url("../images/header-fav-active.svg") no-repeat;
		// 	}
		// }
	}

	&__compare {
		margin-right: 38px;

		&:before {
			background: url("../images/header-compare.svg") no-repeat;
		}

		&:hover{
			&:before {
				background: url("../images/header-compare-active.svg") no-repeat;
			}
		}

		&.active {
			position: relative;
		}
	}

	&__basket {
		margin-right: 37px;

		&:before {
			background: url("../images/shopping-cart.svg") no-repeat;
		}

		&-info {
			display: none;
			color: #4b4b4b;
			font-size: 13px;
			font-weight: 400;
			line-height: 22px;
		}

		&-link {
			display: none;
			color: #ba1212;
			font-size: 13px;
			font-weight: 400;
			line-height: 22px;
		}

		&-price {
			display: none;
			color: #333333;
			font-size: 16px;
			font-weight: 400;
			line-height: 26px;
		}

		&:hover{
			&:before {
				background: url("../images/shopping-cart-h.svg") no-repeat;
			}
		}
	}

	&__number {
		display: flex;
		// border-radius: 15px;
		// background: url("../images/amoint-notification.svg") no-repeat;
		display: none;
		align-items: center;
		justify-content: center;
		position: absolute;
		background-color: $base;
		z-index: 2;
		/* Style for "Oval" */
		top: -6px;
		left: 27px;
		min-width: 22px;
		min-height: 22px;
		border: 2px solid #fff;
		padding: 1px 2px;
		border-radius: 50%;
		color: #ffffff;
		font-size: 12px;
		font-weight: 400;
		line-height: 12px;
		text-align: center;

		// display: table-cell !important;
		// vertical-align: middle;
		// text-align: center;
		// &:before {
		// 	content: "";
		// 	position: absolute;
		// 	z-index: -1;
		// 	top: 50%;
		// 	left: 50%;
		// 	width: 100%;
		// 	transform: translate(-50%, -50%);
		// 	// height: 100%;
		// 	// padding-top: 0%;
		// 	// border-radius: 50%;
		// 	// background: url("../images/amoint-notification.svg") no-repeat;
		// 	// background-color: $base;
		// 	padding-top: 100%;
		// 	background-size: 100% 100%;
		// }
		.active & {
			display: flex;
		}
	}

	&__mobile-tel {
		display: none;
	}
}
