<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		{% include 'section/sidebar/sidebar.html' %}
	</div>
	<div class="col-md-9">
		<div class="breadcrumbs">
			<div itemscope="" itemtype="http://schema.org/BreadcrumbList">
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem">
					<a href="/" title="Главная" itemprop="item">
						<span itemprop="name">
							Miele
						</span>
					</a>
					<meta itemprop="position" content="1">
				</div>
				<div class="breadcrumbs__sep">/</div>
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem">
					<span itemprop="name">Доставка и оплата</span>
					<a itemprop="item" href="/delivery-and-payment/" title="Доставка и оплата"></a>
					<meta itemprop="position" content="2">
				</div>
			</div>
		</div>
		<h1 class="title">
			Доставка и оплата
		</h1>
		<div class="text-default">
			<div class="shipping-payment">
				<picture>
					<source media="(max-width: 767px)" srcset="{{src}}warranty-767.jpeg">
					<img src="{{src}}warranty.jpeg" alt="" class="shipping-payment__banner lazyload">
				</picture>
				<div class="shipping-payment__row">
					<div class="shipping-payment__caption">
						<span><img src="{{src}}sposob-oplaty.svg" alt=""></span> Оплатить покупку можно двумя способами:
					</div>
					<!-- /.shipping-payment__caption -->
					<div class="shipping-payment__text">
						<ul class="shipping-payment__ul">
							<li>
								<b>Оплата наличными или банковской картой в салоне</b>
								К оплате принимаются следующие типы банковских карт: Visa, Visa Electron, MasterCard,
								MasterCard Electronic,
								Maestro.
								Возможность оплаты покупки кредитной картой предварительно согласовывается с менеджером
								по
								продажам. Напоминаем,
								что при
								оплате кредитной картой, владелец кредитной карты обязан предъявить документы,
								удостоверяющие личность — паспорт
								или
								водительское удостоверение.
								<img src="{{src}}master.svg" alt="">
								<img src="{{src}}maestro.svg" alt="">
								<img src="{{src}}visa.svg" alt="">
							</li>
							<li>
								<b>
									По безналичному расчету.
								</b>
								Возможен как с юридическими, так и с физическими лицами. При безналичной оплате товар
								доставляется в течение
								трех дней с
								момента поступления денег на счет. Техника отгружается представителю юридического лица,
								только если у него есть
								доверенность на получение товара.
							</li>
						</ul>
						<!-- /.shipping-payment__ul -->
					</div>
					<!-- /.shipping-payment__text -->
				</div>
				<!-- /.shipping-payment__row -->
				<div class="shipping-payment__row">
					<div class="shipping-payment__caption">
						<span><img src="{{src}}dostavka-moskva.svg" alt=""></span> Доставка по Москве и Московской
						области
					</div>
					<div class="shipping-payment__text">
						<b>
							<a href="#">Внимание!</a> Отдельная доставка аксессуаров и моющих средств не осуществляется.
						</b>
						<p>
							Бытовая техника доставляется до двери или до прихожей и заносится в квартиру, только если
							есть свободный проход.
							Сотрудники транспортной компании не имеют права демонтировать дверцы и ручки прибора,
							которые мешают транспортировке
							товара, так как в этом случае сервисный центр может отказать в проведении ремонта.
						</p>
						<p>
							Доставка до места установки согласуется заранее и оплачивается отдельно.
						</p>
						<strong>
							Стоимость доставки бытовой техники Miele рассчитывается в соответствии с
							<a href="">
								официально действующими тарифами.
							</a>
						</strong>
					</div>
					<!-- /.shipping-payment__text -->
				</div>
				<div class="shipping-payment__row">
					<div class="shipping-payment__caption">
						<span><img src="{{src}}sroki-dostavki.svg" alt=""></span>Время доставки
					</div>
					<div class="shipping-payment__text">
						<p>
							Бытовая техника, которая есть в наличии, доставляются в течение 4 рабочих дней по
							согласованию с менеджером. Информацию&nbsp;о возможности и сроках доставки товаров со
							статусом «Под заказ» можно уточнить у менеджера.
						</p>
						<p>
							Подробную информацию об условиях доставки, приема и возврата товара можно прочитать на
							странице описания сотрудничества
							с <a href="#">Миле СНГ</a>.
						</p>
					</div>
					<!-- /.shipping-payment__text -->
				</div>
				<div class="shipping-payment__row">
					<div class="shipping-payment__caption">
						<span><img src="{{src}}m.svg" alt=""></span> Стоимость услуг и дополнительная информация
					</div>
					<div class="shipping-payment__text">
						<div class="shipping-payment__table">
							<div class="shipping-payment__item">
								<span>Прайс-лист на услуги ООО Миле СНГ для Покупателей MCA</span>
								<div class="documentation">
									<a href="#" class="doc_loading doc_loading_first" title="">
										<i class="icon_doc"></i>
										<span>Скачать</span>
										PDF, 1.24 Мб
									</a>
								</div>
							</div>
							<!-- /.shipping-payment__item -->
							<div class="shipping-payment__item more">
								<span>
									Памятка по доставке и установке холодильников MasterCool и отдельно стоящих
									комбинаций
									Side-by-Side
								</span>
								<div class="documentation">
									<a href="#" class="doc_loading doc_loading_first" title="">
										<i class="icon_doc"></i>
										<span>Скачать</span>
										PDF, 1.24 Мб
									</a>
								</div>
							</div>
							<!-- /.shipping-payment__item -->
						</div>
						<!-- /.shipping-payment__table -->
					</div>
					<!-- /.shipping-payment__text -->
				</div>
			</div>
			<!-- /.shipping-payment -->
		</div>
	</div>
</div>
