<div class="benefits-slider">
	<div class="container">
		<!-- /.container -->
		<div class="benefits-slider__title">
			Преимущества Miele
		</div>
		<div class="swiper">
			<div class="swiper-container benefits-slider-thumbs">
				<div class="swiper-wrapper">
					<div class="swiper-slide">Холодильники и морозильники</div>
					<div class="swiper-slide">Стиральные машины</div>
					<div class="swiper-slide">Посудомоечные машины</div>
					<div class="swiper-slide">Кофемашины</div>
				</div>
			</div>
			<div class="swiper-container benefits-slider-top">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="benefits-slider__item">
							<div class="benefits-slider__pic">
								<picture>
									<source media="(max-width: 767px)" srcset="images/benefits_768w.jpg">
									<img src="images/benefits.jpg" alt="" class="lazyload">
								</picture>
							</div>
							<!-- /.benefits-slider__pic -->
							<div class="benefits-slider__icon">
								<ul>
									<li>
										<div class="benefits-slider__caption">
											<img src="images/iconsexample1.png" alt="">
											Генератор льда IceMaker*
										</div>
										<!-- /.benefits-slider__caption -->
										<p>
											Быстрое образование и хранение льда: генератор льда IceMaker
											имеет независимую систему управления и может производить
											около 100 кубиков льда в сутки.
											Быстрое образование и хранение льда: генератор льда IceMaker
											имеет независимую систему управления и может производить
											около 100 кубиков льда в сутки.
										</p>
									</li>
									<li>
										<div class="benefits-slider__caption">
											<img src="images/iconsexample2.png" alt="">
											Освещение FlexiLight*
										</div>
										<!-- /.benefits-slider__caption -->
										<p>
											Идеальная система освещения, не создающая бликов: в зависимости
											от размера продуктов, хранящихся в отделениях, полки с
											подсветкой можно
										</p>
									</li>
									<li>
										<div class="benefits-slider__caption">
											<img src="images/iconsexample3.png" alt="">
											Система NoFrost*
										</div>
										<!-- /.benefits-slider__caption -->
										<p>
											Непревзойденное удобство: Вам больше не нужно размораживать
											холодильник вручную. Холодный воздух циркулирует внутри
											камеры, предотвращая образование льда
										</p>
									</li>
									<li>
										<div class="benefits-slider__caption">
											<img src="images/iconsexample1.png" alt="">
											Технология PerfectFresh Pro*
										</div>
										<!-- /.benefits-slider__caption -->
										<p>
											Ещё больше свежести: инновационная технология Miele позволят
											хранить фрукты и овощи ещё дольше.
										</p>
									</li>
								</ul>
								<a href="" class="benefits-slider__link">
									Перейти в глоссарий
								</a>
							</div>
							<!-- /.benefits-slider__icon -->
						</div>
						<!-- /.benefits-slider__item -->
					</div>
					<div class="swiper-slide">
						<div class="benefits-slider__item">
							<div class="benefits-slider__pic">
								<picture>
									<source media="(max-width: 767px)" srcset="images/benefits_768w.jpg">
									<img src="images/benefits.jpg" alt="" class="lazyload">
								</picture>
							</div>
							<!-- /.benefits-slider__pic -->
							<div class="benefits-slider__icon">
								<ul>
									<li>
										<div class="benefits-slider__caption">
											<img src="images/iconsexample1.png" alt="">
											Генератор льда IceMaker*
										</div>
										<!-- /.benefits-slider__caption -->
										<p>
											Быстрое образование и хранение льда: генератор льда IceMaker
											имеет независимую систему управления и может производить
											около 100 кубиков льда в сутки.
										</p>
									</li>
									<li>
										<div class="benefits-slider__caption">
											<img src="images/iconsexample2.png" alt="">
											Освещение FlexiLight*
										</div>
										<!-- /.benefits-slider__caption -->
										<p>
											Идеальная система освещения, не создающая бликов: в зависимости
											от размера продуктов, хранящихся в отделениях, полки с
											подсветкой можно
										</p>
									</li>
									<li>
										<div class="benefits-slider__caption">
											<img src="images/iconsexample3.png" alt="">
											Система NoFrost*
										</div>
										<!-- /.benefits-slider__caption -->
										<p>
											Непревзойденное удобство: Вам больше не нужно размораживать
											холодильник вручную. Холодный воздух циркулирует внутри
											камеры, предотвращая образование льда
										</p>
									</li>
									<li>
										<div class="benefits-slider__caption">
											<img src="images/iconsexample1.png" alt="">
											Технология PerfectFresh Pro*
										</div>
										<!-- /.benefits-slider__caption -->
										<p>
											Ещё больше свежести: инновационная технология Miele позволят
											хранить фрукты и овощи ещё дольше.
										</p>
									</li>
								</ul>
								<a href="" class="benefits-slider__link">
									Перейти в глоссарий
								</a>
							</div>
							<!-- /.benefits-slider__icon -->
						</div>
						<!-- /.benefits-slider__item -->
					</div>
					<div class="swiper-slide">
						<div class="benefits-slider__item">
							<div class="benefits-slider__pic">
								<picture>
									<source media="(max-width: 767px)" srcset="images/benefits_768w.jpg">
									<img src="images/benefits.jpg" alt="" class="lazyload">
								</picture>
							</div>
							<!-- /.benefits-slider__pic -->
							<div class="benefits-slider__icon">
								<ul>
									<li>
										<div class="benefits-slider__caption">
											<img src="images/iconsexample1.png" alt="">
											Генератор льда IceMaker*
										</div>
										<!-- /.benefits-slider__caption -->
										<p>
											Быстрое образование и хранение льда: генератор льда IceMaker
											имеет независимую систему управления и может производить
											около 100 кубиков льда в сутки.
										</p>
									</li>
									<li>
										<div class="benefits-slider__caption">
											<img src="images/iconsexample2.png" alt="">
											Освещение FlexiLight*
										</div>
										<!-- /.benefits-slider__caption -->
										<p>
											Идеальная система освещения, не создающая бликов: в зависимости
											от размера продуктов, хранящихся в отделениях, полки с
											подсветкой можно
										</p>
									</li>
									<li>
										<div class="benefits-slider__caption">
											<img src="images/iconsexample3.png" alt="">
											Система NoFrost*
										</div>
										<!-- /.benefits-slider__caption -->
										<p>
											Непревзойденное удобство: Вам больше не нужно размораживать
											холодильник вручную. Холодный воздух циркулирует внутри
											камеры, предотвращая образование льда
										</p>
									</li>
									<li>
										<div class="benefits-slider__caption">
											<img src="images/iconsexample1.png" alt="">
											Технология PerfectFresh Pro*
										</div>
										<!-- /.benefits-slider__caption -->
										<p>
											Ещё больше свежести: инновационная технология Miele позволят
											хранить фрукты и овощи ещё дольше.
										</p>
									</li>
								</ul>
								<a href="" class="benefits-slider__link">
									Перейти в глоссарий
								</a>
							</div>
							<!-- /.benefits-slider__icon -->
						</div>
						<!-- /.benefits-slider__item -->
					</div>
					<div class="swiper-slide">
						<div class="benefits-slider__item">
							<div class="benefits-slider__pic">
								<picture>
									<source media="(max-width: 767px)" srcset="images/benefits_768w.jpg">
									<img src="images/benefits.jpg" alt="" class="lazyload">
								</picture>
							</div>
							<!-- /.benefits-slider__pic -->
							<div class="benefits-slider__icon">
								<ul>
									<li>
										<div class="benefits-slider__caption">
											<img src="images/iconsexample1.png" alt="">
											Генератор льда IceMaker*
										</div>
										<!-- /.benefits-slider__caption -->
										<p>
											Быстрое образование и хранение льда: генератор льда IceMaker
											имеет независимую систему управления и может производить
											около 100 кубиков льда в сутки.
										</p>
									</li>
									<li>
										<div class="benefits-slider__caption">
											<img src="images/iconsexample2.png" alt="">
											Освещение FlexiLight*
										</div>
										<!-- /.benefits-slider__caption -->
										<p>
											Идеальная система освещения, не создающая бликов: в зависимости
											от размера продуктов, хранящихся в отделениях, полки с
											подсветкой можно
										</p>
									</li>
									<li>
										<div class="benefits-slider__caption">
											<img src="images/iconsexample3.png" alt="">
											Система NoFrost*
										</div>
										<!-- /.benefits-slider__caption -->
										<p>
											Непревзойденное удобство: Вам больше не нужно размораживать
											холодильник вручную. Холодный воздух циркулирует внутри
											камеры, предотвращая образование льда
										</p>
									</li>
									<li>
										<div class="benefits-slider__caption">
											<img src="images/iconsexample1.png" alt="">
											Технология PerfectFresh Pro*
										</div>
										<!-- /.benefits-slider__caption -->
										<p>
											Ещё больше свежести: инновационная технология Miele позволят
											хранить фрукты и овощи ещё дольше.
										</p>
									</li>
								</ul>
								<a href="" class="benefits-slider__link">
									Перейти в глоссарий
								</a>
							</div>
							<!-- /.benefits-slider__icon -->
						</div>
						<!-- /.benefits-slider__item -->
					</div>
				</div>
				<!-- Add Arrows -->
			</div>
			<div class="swiper-button-next swiper-button-white benefits-slider-next"></div>
			<div class="swiper-button-prev swiper-button-white benefits-slider-prev"></div>
			<div class="swiper-pagination benefits-slider-pagination"></div>
		</div>
	</div>
</div>
<!-- /.benefits-slider -->
