

<div class="header-search header-search_inputtype">
	<div class="header-search__close js-header-search__close"></div>
	<div class="header-search__inner">
		<div class="header-search__logo"></div>
		<div class="header-search__middle">
			<form action="#" class="header-search__form">
				<input type="text" class="header-search__input js-header-search__input" value="">
				<input type="submit" class="header-search__submit" value="">
			</form>
		</div>
		<div class="header-search__section header-search__section_top">

			<div class="header-search__searchTable">
				<table>
					<tr>
						<td>
							<img src="images/foto-1.jpg" alt="" />
						</td>
						<td>
							<a href="#">Духовой шкаф Miele H2265-1B EDST/CLST сталь CleanSteel</a>

						</td>
						<td>
							<div class="header-search__price">95 100 руб.</div>
						</td>
					</tr>
					<tr>
						<td>
							<img src="images/foto-2.jpg" alt="" />
						</td>
						<td>
							<a href="#">Встраиваемый хлодильник Miele KE DS2901Vi</a>

						</td>
						<td>
							<div class="header-search__price">95 100 руб.</div>
						</td>
					</tr>
					<tr>
						<td>
							<img src="images/header-search__picsearch.jpg" alt="" />
						</td>
						<td>
							<a href="#">Встраиваемая вытяжка MieleDA1260 сталь</a>

						</td>
						<td>
							<div class="header-search__price">95 100 руб.</div>
						</td>
					</tr>
					<tr>
						<td>
							<img src="images/header-search__picsearch.jpg" alt="" />
						</td>
						<td>
							<a href="#">Какой духовой шкаф лучше купить: отзывы специалистов в 2019 году от Hausdorf</a>

						</td>

					<tr>
						<td>
							<img src="images/header-search__picsearch.jpg" alt="" />
						</td>
						<td>
							<a href="#">Тостер Smeg TSF01DGEU</a>
						</td>
						<td>
							<div class="header-search__price">1 295 100 руб.</div>
						</td>
					</tr>
				</table>
			</div>

			<a href="#" class="header-search__more">Все результаты поиска</a>
		</div>
		<!-- /.header-search__section header-search__section_top -->
		<div class="header-search__section header-search__section_bottom">
			<div class="header-search__products">

				<div class="header-search__hints">
					<div>Часто ищут:</div>
					<span class="js-form__hint">акции</span>
					<span class="js-form__hint">новинки</span>
					<span class="js-form__hint">холодильники смег</span>
					<span class="js-form__hint">дизайнерские вытяжки</span>
				</div>

				<div class="title title_small header-search__popularTitle">Популярные товары</div>




			</div>

		</div>

	</div>
</div>