<div class="menu" aria-expanded="false">
	<div class="city-change js-city-change ">
		<div class="city-change__title">Санкт-Петербург</div>
		<div class="city-change__bullet"></div>
		<div class="city-change__popup">
			<a class="city-change__link" href="https://spb.l-rus.ru/">Москва</a>
			<a class="city-change__link" href="#">Регионы</a>
		</div>
	</div>
	<ul class="menu__list">
		<li class="menu__item">
			<a href="#" class="menu__link">Акции</a>
		</li>
		<li class="menu__item">
			<a href="#" class="menu__link active">После приобретения </a>
		</li>
		<li class="menu__item">
			<a href="#" class="menu__link">Доставка и оплата</a>
		</li>
		<li class="menu__item">
			<a href="#" class="menu__link">Подключение </a>
		</li>
		<li class="menu__item">
			<a href="#" class="menu__link">Гарантия</a>
		</li>
		<li class="menu__item">
			<a href="#" class="menu__link">Контакты</a>
		</li>
	</ul>
	<!-- <a href="#" data-url="ajax/abuse.html" data-ajax="" class="abuse__button js-abuse__button"
		id="js-abuse-opener">Обратиться к руководству
	</a> -->
	<div class="menu-mobile">
		<a href="tel:+74959297076" class="menu-mobile__tel">+7 495 929-70-76</a>
		<div class="menu-mobile__text">Пн-Пт: 08:00—22:00; Сб-Вс: 09:00—22:00</div>
		<a href="tel:+78003331936" class="menu-mobile__tel">+7 (800) 333-19-36</a>
		<div class="menu-mobile__text">Бесплатно по России</div>
		<a href="" class="menu-mobile__call-phone-button" data-action="callback"><span>Заказать
				звонок</span></a>
		<!-- </div> -->
		<div class="menu-mobile__col">
			<div class="menu-mobile__title">Мир Miele</div>
			<ul class="menu-mobile__list">
				<li class="menu-mobile__item">
					<a href="/o_miele/" title="О Miele" class="menu-mobile__link">О Miele</a>
				</li>
				<li class="menu-mobile__item">
					<a href="/sales/" title="Акции" class="menu-mobile__link">Акции</a>
				</li>
				<li class="menu-mobile__item">
					<a href="/news/" title="Статьи" class="menu-mobile__link">Статьи</a>
				</li>
				<li class="menu-mobile__item">
					<a href="/services/" title="Сервис" class="menu-mobile__link">Сервис</a>
				</li>
				<li class="menu-mobile__item">
					<a href="/delivery-and-payment/" title="Доставка и оплата" class="menu-mobile__link">Сотрудничество</a>
				</li>
			</ul>
			<ul class="menu-mobile__list">
				<li class="menu-mobile__item">
					<a href="/glossary/" title="" class="menu-mobile__link">Доставка и оплата</a>
				</li>
				<li class="menu-mobile__item">
					<a href="/kachestvo/" title="" class="menu-mobile__link">Установка</a>
				</li>
				<li class="menu-mobile__item">
					<a href="/help/" title="" class="menu-mobile__link">Возврат и обмен</a>
				</li>
				<li class="menu-mobile__item">
					<a href="/contacts/" title="" class="menu-mobile__link">Глоссарий</a>
				</li>
				<li class="menu-mobile__item">
					<a href="/contacts/" title="" class="menu-mobile__link">Контакты</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--end menu-->
