.about-us {
	padding-top: 12px;

	@media screen and (max-width: 767px) {
		margin-bottom: 4px;
		padding-top: 8px;
		display: flex;
		flex-direction: column;

		.pic_left, .pic_right {
			margin-bottom: 15px;
		}

		&__title.title {
			font-size: 30px;
			font-weight: 400;
			line-height: 24px;
			text-transform: uppercase !important;
			font-family: "HelveticaNeueCyr-Roman";
		}

		&__text {
			flex-wrap: wrap;
		}

		iframe {
			width: 100%;
			max-width: 482px;
			max-height: 245px;
			margin: 21px 0 38px;
		}

		img {
			&.pic_left {
				// margin-bottom: 0;
				margin-top: 0;
			}

			&.low-margin {
				margin-bottom: 4px;
			}
		}

		h3 {
			max-width: unset;
			margin-right: 0;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			letter-spacing: 0.24px;
			margin-bottom: 13px !important;
			margin-top: 0 !important;
		}

		article {
			margin-bottom: 18px;

			&.about-us__text {
				padding-right: 1px;

				&:nth-of-type(3) {
					margin-top: 18px;
				}
			}

			&:last-of-type {
				margin-bottom: 6px;
			}
		}

		h4 {
			margin-bottom: 0;
			letter-spacing: .17px;
		}

		h5 {
			font-size: 18px;
			line-height: 30px;
		}

		p,.about-us__block-text {
			margin-bottom: 9px;

			&:last-of-type {
				margin-bottom: 5px;
			}
		}
	}

	.pic_left, .pic_right {
		margin-bottom: 12px;
		margin-top: 13px;
	}

	// .product-card__collection
	&__img {
		float: left;
	}

	&__block-text {}

	&__text {
		&:nth-of-type(3) {
			// margin-top: 12px;
		}
	}

	//   display: flex;
	//   flex-wrap: wrap;
	//   margin-bottom: 63px;
	//   flex-direction: row;
	h4 {
		margin-bottom: 0;
		color: $base;
		font-family: "HelveticaNeueCyr-Italic";
		font-size: 22px;
		font-weight: 400;
		line-height: 30px;
		padding-right: 5px;
		letter-spacing: .1px;
	}

	h3 {
		flex-shrink: 0;
		width: 272px;
		// height: 186px;
		margin-top: 6px !important;
		font-family: "HelveticaNeueCyr-Light";
		font-size: 20px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: normal;
		text-align: left;
		margin-right: 28px;
		margin-bottom: 0;

		&.color {
			color: #394791;
		}
	}

	h5 {
		color: #394791;
		font-family: "Roboto Condensed";
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
		margin-bottom: 24px;
	}

	article {
		display: block;
		margin-bottom: 30px;

		&:after {
			clear: both;
			content: "";
			display: flex;
		}

		&.about-us__text {
			display: flex;
			flex-direction: row;
			width: 100%;
			padding-right: 17px;
		}

		&:last-of-type {
			margin-bottom: 22px;
		}
	}

	img {

		// margin-right: 28px;
		// width: 66%;
		// margin-bottom: 50px;
		+p {
			padding-top: 12px;
		}
	}

	// p {
	// 	width: calc(34% - 28px);
	// 	color: #333333;
	// 	font-family: Arial,sans-serif;
	// 	font-size: 14px;
	// 	line-height: 22px;
	// 	text-align: left;
	// 	z-index: 99;
	// 	margin-top: 0 !important;
	// 	margin-bottom: 16px;
	// 	&~p {
	// 		width: calc(100% - 304px);
	// 	}
	// }
	p,.about-us__block-text {
		font-size: 14px;
		line-height: 22px;

		img {
			margin-left: 16px;
		}
	}

	iframe {
		margin: 39px 0 42px;
	}
}
