<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		<div class="sidebar">
			<ul class="work-link">
				<li class="work-link__item"><a class="work-link__a" href="/service/">Сервисные центры</a></li>
				<li class="work-link__item"><a class="work-link__a" href="/documentation/">Техническая документация</a>
				</li>
				<li class="work-link__item"><a class="work-link__a" href="/warranty/">Официальная гарантия</a></li>
			</ul>
			<div class="yandex">
				<div class="yandex__inner">
					<div class="yandex__logo">
						<img src="images/ylogo.png" alt="" srcset="" class="yandex__img">
					</div>
					<div class="yandex__ratings">
						<img src="images/5-stars.png" alt="" srcset="">
					</div>
					<a href="#" target="_blank" class="yandex__button">Оставить отзыв</a>
					<a href="#" target="_blank" class="yandex__button">Читать все отзывы</a>
				</div>
			</div>
			<div class="quality">
				<span class="quality__title">Контроль качества</span>
				<span class="quality__text">Номер для претензий и предложений:</span>
				<a href="tel:+74951201196" class="quality__number">+7 (495) 120-11-96</a>
				<span class="quality__worktime">с 9:00 до 18:00</span>
				<a href="#" class="quality__button" id="js-quality-opener">Написать</a>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="breadcrumbs">
			<a href="#" class="breadcrumbs__link">Miele</a>
			<span class="breadcrumbs__sep">/</span>
			<span class="breadcrumbs__text">O Miele</span>
		</div>
		<h1 class="title about-us__title">
			O Miele
		</h1>
		<div class="about-us">
			<article class="text-default">
				<h4>
					Miele является одним из крупнейших производителей строительной техники в мире. Наряду с этим более
					43 500 сотрудников также способствуют техническому прогрессу во множестве других отраслей. Как и
					прежде, концерном сегодня управляют члены семьи Милер.
				</h4>
			</article>
			<article class="text-default">
				<img src="{{src}}about-us-cooler.jpg" alt="" class="pic_left  lazyloaded">
				<div class="about-us__block-text">
					<p>
						На сегодняшний день компания Miele, основанная более полувека назад немецким
						инженером-промышленником Гансом Милером, представляет собой целую корпорацию, поражающую своими
						успехами сразу в нескольких областях. Один из ведущих мировых изготовителей строительной и
						горно-шахтной техники, Miele, в то же время, является признанным лидером в производстве
						холодильного
						оборудования премиум-класса.
					</p>
				</div>
				<!-- /.about-us__block-text -->
			</article>
			<article class="text-default about-us__text">
				<h3>
					Первый холодильник под логотипом бренда был изготовлен в 1954 году на предприятие в городе
					Оксенхаузен на юге Германии.
				</h3>
				<div class="about-us__block-text">
					<p>Главными достоинствами «новинки» стали удобство в эксплуатации и надежность.
						В&nbsp;первой модели нашел свое отражение будущий девиз семейного предприятия: «Miele —
						символизирует
						качество в Европе и за ее пределами». В 1966 году компания,&nbsp;усовершенствовавшая свои
						предыдущие
						наработки, представила широкой публике холодильник с новой революционной технологией — системой
						«FrostSafe», которая значительно упростила процесс ручного обслуживания техники. По сегодняшний
						день каждая новая модель Miele неизменно поражает своими функциональными возможностями.
					</p>
				</div>
			</article>
			<article class="text-default about-us__text">
				<img src="{{src}}about-us.jpg" alt="" class="pic_left low-margin  lazyload">
			</article>
			<article class="text-default about-us__text">
				<h3>
					В настоящее время спектр бытовой техники Miele невероятно широк.
				</h3>
				<div class="about-us__block-text">
					<p>
						Ассортимент компании составляют устройства, встраиваемые под столешницу или в мебельные ниши
						кухонных гарнитуров, отдельностоящие приборы, морозильные лари, холодильно-морозильные
						комбинации,
						климатические шкафы для хранения вина и хьюмидоры. Инновационные концепции, современный дизайн,
						продуманные решения и высокое удобство использования — всё это отличает холодильную и
						морозильную
						технику Miele.
					</p>
				</div>
			</article>
		</div>
		<!-- /.about-us -->
	</div>
</div>
