<div class="breadcrumbs">
	<a href="#" class="breadcrumbs__link">Liebherr</a>
	<span class="breadcrumbs__sep">/</span>
	<span class="breadcrumbs__text">Оформление заказа</span>
</div>
<h1 class="title">
	Корзина
</h1>
<div class="order-form">
	<div class="order-form__table table">
		<div class="table__title">
			<span class="title__span name">Наименование</span>
			<span class="title__span how-many">Количество, шт.</span>
			<span class="title__span price">Цена</span>
			<span class="title__span amount">Сумма</span>
			<span class="title__span delete">Удалить</span>
		</div>
		<div class="table__items">
			<div class="table__item name">
				<a href="#" class="table__link">
					<img src="images/foto_1.jpg" srcset="images/foto_1@2x.jpg 2x,images/foto_1@3x.jpg 3x"
						class="special-offers__img">
				</a>
				<div class="table__text">
					<a href="#" class="special-offers__text">Морозильник Liebherr GN 2723 Comfort NoFrost</a>
					<span class="catalog__presence">в наличии</span>
				</div>
			</div>
			<div class="table__item how-many">
				<span class="item__title">Количество, шт</span>
				<a href="#" class="decr qt_minus">-</a>
				<input type="text" name="" value="1" class="qt_num">
				<a href="#" class="incr qt_plus">+</a>
			</div>
			<div class="table__item price">
				<span class="item__title">Цена</span>
				<strong class="strong__price">56 000 руб.</strong>
			</div>
			<div class="table__item amount">
				<span class="item__title">Сумма</span>
				<strong class="strong__amount">56 000 руб.</strong>
			</div>
			<a href="#" class="delete__table js-delete__table" itemid="715903">Удалить</a>
		</div>
		<div class="table__items">
			<div class="table__item name">
				<a href="#" class="table__link">
					<img src="images/new-items_3.jpg" srcset="images/new-items_3@2x.jpg 2x,images/new-items_3@3x.jpg 3x"
						class="special-offers__img">
				</a>
				<div class="table__text">
					<a href="#" class="special-offers__text">Винный шкаф Liebherr EWTgw 3583 Vinidor</a>
					<span class="catalog__presence">в наличии</span>
				</div>
			</div>
			<div class="table__item how-many">
				<span class="item__title">Количество, шт</span>
				<a href="#" class="decr qt_minus">-</a>
				<input type="text" name="" value="2" class="qt_num">
				<a href="#" class="incr qt_plus">+</a>
			</div>
			<div class="table__item price">
				<span class="item__title">Цена</span>
				<strong class="strong__price">210 800 руб.</strong>
			</div>
			<div class="table__item amount">
				<span class="item__title">Сумма</span>
				<strong class="strong__amount">421 600 руб.</strong>
			</div>
			<a href="#" class="delete__table js-delete__table" itemid="715903">Удалить</a>
		</div>
		<div class="table__total">
			Общая стоимость:<strong>477 600 руб.</strong>
		</div>
	</div>
	<div class="special-offers">
		<div class="container">
			<span class="special-offers__title">Не забудьте купить</span>									<!-- Slider main container -->
			<div class="swiper-container swiper-container-two">
				<!-- Additional required wrapper -->
				<div class="swiper-wrapper special-offers__wrapper js-ecom_product-list" data-list="Basket Accessory">



				<div class="swiper-slide special-offers__slide js-ecom_product-item" data-id="33381"  id="bx_3589829689_33381">
					<div class="swiper" data-swiper>
						<div class="swiper-container">
							<div class="swiper-wrapper">



								<div class="swiper-slide">
									<a class="special-offers__pic" href="/market/aksessuary/aksessuary-k-stiralnym-i-sushilnym-mashinam/miele-montazhnyy-komplekt-miele-wtv-502/" title="Монтажный комплект Miele WTV 502">

											<picture>

													<source type="image/webp" data-srcset="/upload/resize_cache/iblock/414/238_228_1/414afbc9843cec3dfa553267dffbe915.webp" />

												<img data-src="/upload/resize_cache/iblock/414/238_228_1/414afbc9843cec3dfa553267dffbe915.jpg" alt="Монтажный комплект Miele WTV 502" class="lazyload special-offers__img" />
											</picture>

									</a>
								</div>

								<div class="swiper-slide">
									<a class="special-offers__pic" href="/market/aksessuary/aksessuary-k-stiralnym-i-sushilnym-mashinam/miele-montazhnyy-komplekt-miele-wtv-502/" title="Монтажный комплект Miele WTV 502">

											<picture>

													<source type="image/webp" data-srcset="/upload/resize_cache/iblock/16c/238_228_1/16c3163d8e0c78a8354939d3a8e53d6f.webp" />

												<img data-src="/upload/resize_cache/iblock/16c/238_228_1/16c3163d8e0c78a8354939d3a8e53d6f.jpg" alt="Монтажный комплект Miele WTV 502" class="lazyload special-offers__img" />
											</picture>

									</a>
								</div>

								<div class="swiper-slide swiper-slide-text">
									<a href="/market/aksessuary/aksessuary-k-stiralnym-i-sushilnym-mashinam/miele-montazhnyy-komplekt-miele-wtv-502/" title="Монтажный комплект Miele WTV 502" class="special-offers__new">
										<div class="special-offers__caption">
											Характеристики
										</div>
										<!-- /.special-offers__caption -->
										<div class="special-offers__desc">
											<ul>
																																				<li>Категория: <b>монтажный комплект</b></li>
																																														<li>Назначение: <b>для стиральных и сушильных машин</b></li>


											</ul>
										</div>
										<!-- /.special-offers__desc -->
										<div class="special-offers__info">Монтажный комплект Miele WTV 502 предназначен для установки в колонну стиральных и сушильных машин серии W1 / T1 WhiteEdition.</div>
										<!-- /.special-offers__info -->
									</a>
									<!-- /.special-offers__new -->
								</div>
							</div>
						</div>
						<a href="/market/aksessuary/aksessuary-k-stiralnym-i-sushilnym-mashinam/miele-montazhnyy-komplekt-miele-wtv-502/" title="Монтажный комплект Miele WTV 502" class="swiper-pagination"></a>
						<!-- /.swper-pagination -->
					</div>
					<div class="special-offers__content">
						<div class="announcing">












							<!-- /.announcing__item -->

							<div class="announcing__status">
								<span>В наличии</span>

																																			</div>
							<!-- /.announcing__status -->
						</div>
						<!-- /.announcing -->
						<div class="announcing announcing-mobile">
							<div class="announcing__status">
								<span>В наличии</span>
							</div>
							<!-- /.announcing__status -->




																			<span class="special-offers__price ">

										6 500 <i class="special-offers__rub">руб.</i>
																								</span>



						</div>
						<!-- /.announcing announcing-mobile -->
						<a href="/market/aksessuary/aksessuary-k-stiralnym-i-sushilnym-mashinam/miele-montazhnyy-komplekt-miele-wtv-502/" title="Монтажный комплект Miele WTV 502" class="special-offers__text">
							<p>Монтажный комплект</p> Miele WTV 502												</a>
						<div class="special-offers__sale">




																			<span class="special-offers__price ">

										6 500 <i class="special-offers__rub">руб.</i>
																								</span>






			<a href="" class="special-offers__fav tooltip  js-add2favorite" data-id="33381" data-tippy-content="Добавить избранное"></a>
												<a href="" class="special-offers__compare tooltip js-compare " data-id="33381" data-tippy-content="Добавить в сравнение"></a>



								<a href="" data-tippy-content="Добавить в корзину" class="special-offers__buy tooltip tooltip js-add2basket" data-id="33381">купить</a>
																			</div>



<div itemscope itemtype="http://schema.org/Product" class="hide" >

<meta itemprop="name" content="Монтажный комплект Miele WTV 502" />



<meta itemprop="brand" content="Miele" />

<meta itemprop="description" content="Категория: монтажный комплект, Назначение: для стиральных и сушильных машин, " />

<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
<meta itemprop="price" content="6500" />
<meta itemprop="priceCurrency" content="RUB" />

<meta itemprop="availability" content="http://schema.org/InStock" />
<meta itemprop="url" content="https://miele.ret-team.ru/market/aksessuary/aksessuary-k-stiralnym-i-sushilnym-mashinam/miele-montazhnyy-komplekt-miele-wtv-502/" />
</div>


</div>


					</div>
					<!-- /.special-offers__content -->
				</div>






				<div class="swiper-slide special-offers__slide js-ecom_product-item" data-id="33391"  id="bx_3589829689_33391">
					<div class="swiper" data-swiper>
						<div class="swiper-container">
							<div class="swiper-wrapper">



								<div class="swiper-slide">
									<a class="special-offers__pic" href="/market/aksessuary/aksessuary-k-stiralnym-i-sushilnym-mashinam/miele-tsokol-miele-wts-510/" title="Цоколь Miele WTS 510">

											<picture>

													<source type="image/webp" data-srcset="/upload/resize_cache/iblock/3a4/238_228_1/3a47927d3d3821450a637114433a6744.webp" />

												<img data-src="/upload/resize_cache/iblock/3a4/238_228_1/3a47927d3d3821450a637114433a6744.jpg" alt="Цоколь Miele WTS 510" class="lazyload special-offers__img" />
											</picture>

									</a>
								</div>

								<div class="swiper-slide">
									<a class="special-offers__pic" href="/market/aksessuary/aksessuary-k-stiralnym-i-sushilnym-mashinam/miele-tsokol-miele-wts-510/" title="Цоколь Miele WTS 510">

											<picture>

													<source type="image/webp" data-srcset="/upload/resize_cache/iblock/0aa/238_228_1/0aa7792577695c75950d2ebefd7480a8.webp" />

												<img data-src="/upload/resize_cache/iblock/0aa/238_228_1/0aa7792577695c75950d2ebefd7480a8.jpg" alt="Цоколь Miele WTS 510" class="lazyload special-offers__img" />
											</picture>

									</a>
								</div>

								<div class="swiper-slide">
									<a class="special-offers__pic" href="/market/aksessuary/aksessuary-k-stiralnym-i-sushilnym-mashinam/miele-tsokol-miele-wts-510/" title="Цоколь Miele WTS 510">

											<picture>

													<source type="image/webp" data-srcset="/upload/resize_cache/iblock/f83/238_228_1/f83b8466c6aa3f0451921fbbcaba35f4.webp" />

												<img data-src="/upload/resize_cache/iblock/f83/238_228_1/f83b8466c6aa3f0451921fbbcaba35f4.jpg" alt="Цоколь Miele WTS 510" class="lazyload special-offers__img" />
											</picture>

									</a>
								</div>

								<div class="swiper-slide swiper-slide-text">
									<a href="/market/aksessuary/aksessuary-k-stiralnym-i-sushilnym-mashinam/miele-tsokol-miele-wts-510/" title="Цоколь Miele WTS 510" class="special-offers__new">
										<div class="special-offers__caption">
											Характеристики
										</div>
										<!-- /.special-offers__caption -->
										<div class="special-offers__desc">
											<ul>
																																				<li>Категория: <b>цоколь</b></li>
																																														<li>Назначение: <b>для стиральных и сушильных машин</b></li>


											</ul>
										</div>
										<!-- /.special-offers__desc -->
										<div class="special-offers__info">Цоколь Miele WTS 510 предназначен для использования со стиральными и сушильными машина серий W1 / T1. Аксессуар отличается высокой эргономичностью и качеством изготовления.</div>
										<!-- /.special-offers__info -->
									</a>
									<!-- /.special-offers__new -->
								</div>
							</div>
						</div>
						<a href="/market/aksessuary/aksessuary-k-stiralnym-i-sushilnym-mashinam/miele-tsokol-miele-wts-510/" title="Цоколь Miele WTS 510" class="swiper-pagination"></a>
						<!-- /.swper-pagination -->
					</div>
					<div class="special-offers__content">
						<div class="announcing">












							<!-- /.announcing__item -->

							<div class="announcing__status">
								<span>В наличии</span>

																																			</div>
							<!-- /.announcing__status -->
						</div>
						<!-- /.announcing -->
						<div class="announcing announcing-mobile">
							<div class="announcing__status">
								<span>В наличии</span>
							</div>
							<!-- /.announcing__status -->




																			<span class="special-offers__price ">

										46 100 <i class="special-offers__rub">руб.</i>
																								</span>



						</div>
						<!-- /.announcing announcing-mobile -->
						<a href="/market/aksessuary/aksessuary-k-stiralnym-i-sushilnym-mashinam/miele-tsokol-miele-wts-510/" title="Цоколь Miele WTS 510" class="special-offers__text">
							<p>Цоколь</p> Miele WTS 510												</a>
						<div class="special-offers__sale">




																			<span class="special-offers__price ">

										46 100 <i class="special-offers__rub">руб.</i>
																								</span>






			<a href="" class="special-offers__fav tooltip  js-add2favorite" data-id="33391" data-tippy-content="Добавить избранное"></a>
												<a href="" class="special-offers__compare tooltip js-compare " data-id="33391" data-tippy-content="Добавить в сравнение"></a>



								<a href="" data-tippy-content="Добавить в корзину" class="special-offers__buy tooltip tooltip js-add2basket" data-id="33391">купить</a>
																			</div>



<div itemscope itemtype="http://schema.org/Product" class="hide" >

<meta itemprop="name" content="Цоколь Miele WTS 510" />



<meta itemprop="brand" content="Miele" />

<meta itemprop="description" content="Категория: цоколь, Назначение: для стиральных и сушильных машин, " />

<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
<meta itemprop="price" content="46100" />
<meta itemprop="priceCurrency" content="RUB" />

<meta itemprop="availability" content="http://schema.org/InStock" />
<meta itemprop="url" content="https://miele.ret-team.ru/market/aksessuary/aksessuary-k-stiralnym-i-sushilnym-mashinam/miele-tsokol-miele-wts-510/" />
</div>


</div>


					</div>
					<!-- /.special-offers__content -->
				</div>






				<div class="swiper-slide special-offers__slide js-ecom_product-item" data-id="33388"  id="bx_3589829689_33388">
					<div class="swiper" data-swiper>
						<div class="swiper-container">
							<div class="swiper-wrapper">



								<div class="swiper-slide">
									<a class="special-offers__pic" href="/market/aksessuary/aksessuary-k-stiralnym-i-sushilnym-mashinam/miele-montazhnyy-komplekt-dlya-ustanovki-v-kolonnu-w1-t1-whiteedition-wtv512-belyy-lotos/" title="Монтажный комплект для установки в колонну W1/T1 (WhiteEdition) WTV512 белый лотос">

											<picture>

													<source type="image/webp" data-srcset="/upload/resize_cache/iblock/62f/238_228_1/62f21e6ebf593728076e33bb6cbcb84d.webp" />

												<img data-src="/upload/resize_cache/iblock/62f/238_228_1/62f21e6ebf593728076e33bb6cbcb84d.jpg" alt="Монтажный комплект для установки в колонну W1/T1 (WhiteEdition) WTV512 белый лотос" class="lazyload special-offers__img" />
											</picture>

									</a>
								</div>

								<div class="swiper-slide">
									<a class="special-offers__pic" href="/market/aksessuary/aksessuary-k-stiralnym-i-sushilnym-mashinam/miele-montazhnyy-komplekt-dlya-ustanovki-v-kolonnu-w1-t1-whiteedition-wtv512-belyy-lotos/" title="Монтажный комплект для установки в колонну W1/T1 (WhiteEdition) WTV512 белый лотос">

											<picture>

													<source type="image/webp" data-srcset="/upload/resize_cache/iblock/1cb/238_228_1/1cb7f89dc41b281a3a613b37968d868c.webp" />

												<img data-src="/upload/resize_cache/iblock/1cb/238_228_1/1cb7f89dc41b281a3a613b37968d868c.jpg" alt="Монтажный комплект для установки в колонну W1/T1 (WhiteEdition) WTV512 белый лотос" class="lazyload special-offers__img" />
											</picture>

									</a>
								</div>

								<div class="swiper-slide swiper-slide-text">
									<a href="/market/aksessuary/aksessuary-k-stiralnym-i-sushilnym-mashinam/miele-montazhnyy-komplekt-dlya-ustanovki-v-kolonnu-w1-t1-whiteedition-wtv512-belyy-lotos/" title="Монтажный комплект для установки в колонну W1/T1 (WhiteEdition) WTV512 белый лотос" class="special-offers__new">
										<div class="special-offers__caption">
											Характеристики
										</div>
										<!-- /.special-offers__caption -->
										<div class="special-offers__desc">
											<ul>


											</ul>
										</div>
										<!-- /.special-offers__desc -->
										<div class="special-offers__info">М</div>
										<!-- /.special-offers__info -->
									</a>
									<!-- /.special-offers__new -->
								</div>
							</div>
						</div>
						<a href="/market/aksessuary/aksessuary-k-stiralnym-i-sushilnym-mashinam/miele-montazhnyy-komplekt-dlya-ustanovki-v-kolonnu-w1-t1-whiteedition-wtv512-belyy-lotos/" title="Монтажный комплект для установки в колонну W1/T1 (WhiteEdition) WTV512 белый лотос" class="swiper-pagination"></a>
						<!-- /.swper-pagination -->
					</div>
					<div class="special-offers__content">
						<div class="announcing">









							<!-- /.announcing__item -->

							<div class="announcing__status">
								<span>В наличии</span>

																																			</div>
							<!-- /.announcing__status -->
						</div>
						<!-- /.announcing -->
						<div class="announcing announcing-mobile">
							<div class="announcing__status">
								<span>В наличии</span>
							</div>
							<!-- /.announcing__status -->




																			<span class="special-offers__price ">

										23 000 <i class="special-offers__rub">руб.</i>
																								</span>



						</div>
						<!-- /.announcing announcing-mobile -->
						<a href="/market/aksessuary/aksessuary-k-stiralnym-i-sushilnym-mashinam/miele-montazhnyy-komplekt-dlya-ustanovki-v-kolonnu-w1-t1-whiteedition-wtv512-belyy-lotos/" title="Монтажный комплект для установки в колонну W1/T1 (WhiteEdition) WTV512 белый лотос" class="special-offers__text">
							Монтажный комплект для установки в колонну W1/T1 (WhiteEdition) WTV512 белый лотос												</a>
						<div class="special-offers__sale">




																			<span class="special-offers__price ">

										23 000 <i class="special-offers__rub">руб.</i>
																								</span>






			<a href="" class="special-offers__fav tooltip  js-add2favorite" data-id="33388" data-tippy-content="Добавить избранное"></a>
												<a href="" class="special-offers__compare tooltip js-compare " data-id="33388" data-tippy-content="Добавить в сравнение"></a>



								<a href="" data-tippy-content="Добавить в корзину" class="special-offers__buy tooltip tooltip js-add2basket" data-id="33388">купить</a>
																			</div>



<div itemscope itemtype="http://schema.org/Product" class="hide" >

<meta itemprop="name" content="Монтажный комплект для установки в колонну W1/T1 (WhiteEdition) WTV512 белый лотос" />



<meta itemprop="brand" content="Miele" />

<meta itemprop="description" content="Монтажный комплект для установки в колонну W1/T1 (WhiteEdition) WTV512 белый лотос" />

<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
<meta itemprop="price" content="23000" />
<meta itemprop="priceCurrency" content="RUB" />

<meta itemprop="availability" content="http://schema.org/InStock" />
<meta itemprop="url" content="https://miele.ret-team.ru/market/aksessuary/aksessuary-k-stiralnym-i-sushilnym-mashinam/miele-montazhnyy-komplekt-dlya-ustanovki-v-kolonnu-w1-t1-whiteedition-wtv512-belyy-lotos/" />
</div>


</div>


					</div>
					<!-- /.special-offers__content -->
				</div>






				<div class="swiper-slide special-offers__slide js-ecom_product-item" data-id="33377"  id="bx_3589829689_33377">
					<div class="swiper" data-swiper>
						<div class="swiper-container">
							<div class="swiper-wrapper">



								<div class="swiper-slide">
									<a class="special-offers__pic" href="/market/aksessuary/aksessuary-k-stiralnym-i-sushilnym-mashinam/miele-vstavnoy-korob-dlya-sushki-dlya-t1-tkr-555/" title="Вставной короб для сушки для T1 TKR 555">

											<picture>

													<source type="image/webp" data-srcset="/upload/resize_cache/iblock/456/238_228_1/4560be1df9d634822de3fcb1e4702503.webp" />

												<img data-src="/upload/resize_cache/iblock/456/238_228_1/4560be1df9d634822de3fcb1e4702503.jpg" alt="Вставной короб для сушки для T1 TKR 555" class="lazyload special-offers__img" />
											</picture>

									</a>
								</div>

								<div class="swiper-slide">
									<a class="special-offers__pic" href="/market/aksessuary/aksessuary-k-stiralnym-i-sushilnym-mashinam/miele-vstavnoy-korob-dlya-sushki-dlya-t1-tkr-555/" title="Вставной короб для сушки для T1 TKR 555">

											<picture>

													<source type="image/webp" data-srcset="/upload/resize_cache/iblock/2cb/238_228_1/2cb6788ef02aea7a622fd5c0952ca08b.webp" />

												<img data-src="/upload/resize_cache/iblock/2cb/238_228_1/2cb6788ef02aea7a622fd5c0952ca08b.jpg" alt="Вставной короб для сушки для T1 TKR 555" class="lazyload special-offers__img" />
											</picture>

									</a>
								</div>

								<div class="swiper-slide swiper-slide-text">
									<a href="/market/aksessuary/aksessuary-k-stiralnym-i-sushilnym-mashinam/miele-vstavnoy-korob-dlya-sushki-dlya-t1-tkr-555/" title="Вставной короб для сушки для T1 TKR 555" class="special-offers__new">
										<div class="special-offers__caption">
											Характеристики
										</div>
										<!-- /.special-offers__caption -->
										<div class="special-offers__desc">
											<ul>


											</ul>
										</div>
										<!-- /.special-offers__desc -->
										<div class="special-offers__info">Вставной короб для сушки для всех сушильных машин T1Страна-изготовитель: Германия.Обязательной сертификации не подлежит.</div>
										<!-- /.special-offers__info -->
									</a>
									<!-- /.special-offers__new -->
								</div>
							</div>
						</div>
						<a href="/market/aksessuary/aksessuary-k-stiralnym-i-sushilnym-mashinam/miele-vstavnoy-korob-dlya-sushki-dlya-t1-tkr-555/" title="Вставной короб для сушки для T1 TKR 555" class="swiper-pagination"></a>
						<!-- /.swper-pagination -->
					</div>
					<div class="special-offers__content">
						<div class="announcing">









							<!-- /.announcing__item -->

							<div class="announcing__status">
								<span>Снят с производства</span>

																																			</div>
							<!-- /.announcing__status -->
						</div>
						<!-- /.announcing -->
						<div class="announcing announcing-mobile">
							<div class="announcing__status">
								<span>Снят с производства</span>
							</div>
							<!-- /.announcing__status -->




						</div>
						<!-- /.announcing announcing-mobile -->
						<a href="/market/aksessuary/aksessuary-k-stiralnym-i-sushilnym-mashinam/miele-vstavnoy-korob-dlya-sushki-dlya-t1-tkr-555/" title="Вставной короб для сушки для T1 TKR 555" class="special-offers__text">
							Вставной короб для сушки для T1 TKR 555												</a>
						<div class="special-offers__sale">







			<a href="" class="special-offers__fav tooltip  js-add2favorite" data-id="33377" data-tippy-content="Добавить избранное"></a>
												<a href="" class="special-offers__compare tooltip js-compare " data-id="33377" data-tippy-content="Добавить в сравнение"></a>


																			</div>



<div itemscope itemtype="http://schema.org/Product" class="hide" >

<meta itemprop="name" content="Вставной короб для сушки для T1 TKR 555" />



<meta itemprop="brand" content="Miele" />

<meta itemprop="description" content="Вставной короб для сушки для T1 TKR 555" />

<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
<meta itemprop="price" content="5600" />
<meta itemprop="priceCurrency" content="RUB" />

<meta itemprop="availability" content="http://schema.org/Discontinued" />
<meta itemprop="url" content="https://miele.ret-team.ru/market/aksessuary/aksessuary-k-stiralnym-i-sushilnym-mashinam/miele-vstavnoy-korob-dlya-sushki-dlya-t1-tkr-555/" />
</div>


</div>


					</div>
					<!-- /.special-offers__content -->
				</div>





		</div>
				</div>
				<div class="swiper-pagination_2"></div>
				<div class="swiper-button-prev special-offers_prev"></div>
				<div class="swiper-button-next special-offers_next"></div>
			</div>
		</div>




	<form action="/cart/" method="POST" name="ORDER_FORM" id="ORDER_FORM" class="form__payment">
		<span class="form__title">Оформление заказа<a class="delivery_terms" href="/shipping_and_payment/"
				target="_blank">Условия
				доставки<i></i></a></span>
		<input type="hidden" name="sessid" id="sessid" value="0764b7ac9495fd87937ecc63a5bbf108">
		<input type="hidden" name="confirmorder" id="confirmorder" value="Y">
		<input type="hidden" name="profile_change" id="profile_change" value="N">
		<input type="hidden" name="is_ajax_post" id="is_ajax_post" value="Y">
		<input type="hidden" name="PERSON_TYPE" value="16">
		<input type="hidden" name="PERSON_TYPE_OLD" value="16">
		<div class="form__row">
			<label>Ваше имя&nbsp;<span class="sof-req">*</span></label>
			<input type="text" maxlength="250" size="0" value="" name="ORDER_PROP_269" id="ORDER_PROP_269" class="">
		</div>
		<div class="form__row">
			<label>Телефон&nbsp;<span class="sof-req">*</span></label>
			<input type="tel" maxlength="250" size="0" value="" name="ORDER_PROP_270" id="ORDER_PROP_270"
				class="order_phone">
		</div>
		<div class="form__row">
			<label>E-mail&nbsp;<span class="sof-req">*</span></label>
			<input type="email" maxlength="250" size="0" value="" name="ORDER_PROP_271" id="ORDER_PROP_271" class="">
		</div>
		<div class="form__row">
			<label>Желаемая дата <br> доставки</label>
			<input type="calendar" maxlength="250" size="0" value="" name="ORDER_PROP_274" class="js-datapicker">
		</div>
		<div class="form__row">
			<label>Город&nbsp;<span class="sof-req">*</span></label>
			<input type="text" maxlength="250" size="0" value="" name="ORDER_PROP_274" id="DELIVERY_DATE" class="">
		</div>
		<div class="form__row">
			<label>Адрес доставки&nbsp;<span class="sof-req">*</span></label>
			<textarea rows="4" cols="40" name="ORDER_PROP_272" id="ORDER_PROP_272"></textarea>
		</div>
		<div class="form__row">
			<input type="hidden" value="" name="ORDER_PROP_273" id="TRACKCODE">
			<label>Лифт</label>
			<select name="ORDER_PROP_388" id="ORDER_PROP_388" size="1">
				<option value="грузовой" selected="">Грузовой</option>
				<option value="пассажирский">Пассажирский</option>
				<option value="нет">Нет</option>
			</select>
		</div>
		<div class="form__row">
			<label>Этаж</label>
			<input type="text" maxlength="250" size="0" value="" name="ORDER_PROP_391" id="ORDER_PROP_391" class="">
			<input type="hidden" name="PAY_SYSTEM_ID" value="1">
		</div>
		<div class="form__row">
			<label>Дополнительная страница</label>
			<textarea rows="4" cols="40" name="ORDER_PROP_272" id="ORDER_PROP_272"></textarea>
		</div>
		<div class="ordering__payment">
			<h2 class="ordering_heading">Выберите способ оплаты</h2>
			<div class="ordering__payment-list">
				<label class="ordering__payment-label">
					<input type="radio" name="ordering__payment" class="ordering__payment-input">
					<div class="ordering__payment-item">
						<img src="images/cash.svg" class="ordering__payment-icon">
						<span class="ordering__payment-text">Наличными
							при получении
							товара</span>
						<div class="ordering__payment-circle"></div>
						<!-- /.ordering__payment-circle -->
					</div>
				</label>
				<!-- /.ordering__payment-item -->
				<label class="ordering__payment-label">
					<input type="radio" name="ordering__payment" class="ordering__payment-input">
					<div class="ordering__payment-item">
						<img src="images/on_delivery.svg" class="ordering__payment-icon">
						<span class="ordering__payment-text">Оплата
							картой при получении
							товара</span>
						<div class="ordering__payment-circle"></div>
						<!-- /.ordering__payment-circle -->
					</div>
				</label>
				<!-- /.ordering__payment-item -->
				<label class="ordering__payment-label">
					<input type="radio" name="ordering__payment" class="ordering__payment-input">
					<div class="ordering__payment-item">
						<img src="images/online.svg" class="ordering__payment-icon">
						<span class="ordering__payment-text">Онлайн
							оплата <br> на сайте</span>
						<div class="ordering__payment-circle"></div>
						<!-- /.ordering__payment-circle -->
					</div>
				</label>
				<!-- /.ordering__payment-item -->
				<label class="ordering__payment-label">
					<input type="radio" name="ordering__payment" class="ordering__payment-input">
					<div class="ordering__payment-item">
						<img src="images/bank.svg" class="ordering__payment-icon">
						<span class="ordering__payment-text">Оплата по
							счету (банковский
							перевод)</span>
						<div class="ordering__payment-circle"></div>
						<!-- /.ordering__payment-circle -->
					</div>
				</label>
				<!-- /.ordering__payment-item -->
			</div>
			<!-- /.ordering__payment-list -->
		</div>
		<div class="form__button">
			<label class="checkbox checkbox_oferta ">
				<input type="checkbox" name="" class="checkbox__input" checked="">
				<span class="checkbox__icon"></span>
				<span class="checkbox__text">Согласен с<a href="#">использованием персональных данных</a>для обработки
					обращения</span>
			</label>
			<input type="submit" name="submitbutton"
				onclick="if(!$(this).hasClass('disabledSubmit')) return submitForm('Y');" value="Оформить заказ">
		</div>
		<!--<input class="pers_data_check ffield_validate  ffield_req" type="checkbox" title="Согласие" checked/>
<label>Согласен с <a href="/personal_data/">использованием персональных данных</a> для обработки обращения</label>
-->
		<span class="copyright">* — поля помеченные звездочкой обязательны к заполнению</span>
		<span class="copyright">После оформления заявки, заказ обязательно подтверждается по телефону. В течение 30
			минут с Вами свяжется консультант l-rus.ru и уточнит выбранные наименования продукции, предпочитаемую
			форму оплаты и удобное время доставки. Только после этого заказ будет считаться оформленным и будет
			отправлен на исполнение. В случае, если заявка оформлена после 20:00, то менеджер по продажам свяжется с
			Вами утром следующего дня.</span>
	</form>
</div>
