<article class="seo-text text-default ">
	<div class="about-store__button js-about-store__button">Читать подробнее</div>
	<div class="container">
		<img src="images/main-seo-text.png" alt="" class="pic_left  loaded lazyloaded">
		<h2 class="seo-text__title">
			Почему покупают технику Miele
		</h2>
		<p>
			Уже в 1916 году фирма выдавала гарантию на свои изделия до 10 лет, настолько производители были уверены в
			качестве
			продукции. В настоящий момент концерн объединяет 37 филиалов по всему миру, на всех этапах производства
			осуществляется
			строгий контроль. В ассортименте поставляется бытовая и профессиональная техника. Новинки неоднократно
			отмечены
			престижными премиями Universal, IF, RED DOT в области дизайна и технологий. Уделяется большое внимание
			удобству и
			надежности управления, экологичности. Большая часть приборов имеет класс энергопотребления А, А+, А++, А+++.
		</p>
		<p>
			Почему покупают у нас. ml-russia.ru — фирменная студия Miele, мы предлагаем оптимальные цены, доставку
			товаров с
			гарантией завода производителя. Перед покупкой можно получить консультацию у специалиста, который подскажет,
			на какие
			параметры стоит обратить внимание, расскажет о новинках и особенностях бренда. Поможет подобрать модели из
			одной серии в
			рамках бюджета, выгодно сэкономить благодаря акциями и скидкам.
		</p>
	</div>
</article>
<article class="seo-text text-default ">
	<div class="about-store__button js-about-store__button">Читать подробнее</div>
	<div class="container">
		<img src="images/main-seo-text-2.png" alt="" class="pic_right loaded lazyloaded">
		<h2 class="seo-text__title">
			Бытовая техника Миле
		</h2>
		<p align="justify">
			Стиральная машина Miele с сушкой позволяет получить чистое сухое белье в самый короткий срок. Машины
			немецкой сборки
			отвечают высоким стандартам энергосбережения. Новейшие модели имеют сертификаты, подтверждающие класс
			энергоэффективности A-40% по стандартам Евросоюза.
		</p>
		<p>
			Узкие стиральные машины Миле и модели с фронтальной загрузкой остаются среди лидеров продаж в России,
			популярность
			приобретают и сушильные автоматы и гладильные системы, которые используются не только в гостиницах,
			медицинских и
			социальных учреждениях, но и в быту.
		</p>
	</div>
</article>
<div class="gallery__items">
	<div class="container">
		<div class="gallery__el">
			<a href="#" class="gallery__link">
				<picture>
					<source media="(max-width: 767px)" srcset="images/gallery-link-mob-1.png">
					<img src="images/gallery-link_5.png" alt="" class="lazyload">
				</picture>
				<div class="gallery__parent">
					<span class="gallery__article">
						Официальная гарантия
					</span>
					<!-- /.gallery__article -->
					<span class="gallery__text">
						Гарантийный сервис Miele
					</span>
					<!-- /.gallery__text -->
				</div>
				<!-- /.gallery__parent -->
			</a>
			<!-- /.gallery__link -->
		</div>
		<!-- /.gallery__el -->
		<div class="gallery__el">
			<a href="#" class="gallery__link">
				<picture>
					<source media="(max-width: 767px)" srcset="images/gallery-link-mob-2.png">
					<img src="images/gallery-link_6.png" alt="">
				</picture>
				<div class="gallery__parent">
					<span class="gallery__article">
						Сервис и обслуживание
					</span>
					<!-- /.gallery__article -->
					<span class="gallery__text">
						Об установке и подклчении
					</span>
					<!-- /.gallery__text -->
				</div>
				<!-- /.gallery__parent -->
			</a>
			<!-- /.gallery__link -->
		</div>
		<!-- /.gallery__el -->
		<div class="gallery__el">
			<a href="#" class="gallery__link">
				<picture>
					<source media="(max-width: 767px)" srcset="images/gallery-link-mob-3.png">
					<img src="images/gallery-link_7.png" alt="">
				</picture>
				<div class="gallery__parent">
					<span class="gallery__article">
						Глоссарий
					</span>
					<!-- /.gallery__article -->
					<span class="gallery__text">
						Глоссарий Miele
					</span>
					<!-- /.gallery__text -->
				</div>
				<!-- /.gallery__parent -->
			</a>
			<!-- /.gallery__link -->
		</div>
		<!-- /.gallery__el -->
		<div class="gallery__el">
			<a href="#" class="gallery__link">
				<picture>
					<source media="(max-width: 767px)" srcset="images/gallery-link-mob-4.png">
					<img src="images/gallery-link_8.png" alt="">
				</picture>
				<div class="gallery__parent">
					<span class="gallery__article">
						Отзывы
					</span>
					<!-- /.gallery__article -->
					<span class="gallery__text">
						Отзывы о техние Miele
					</span>
					<!-- /.gallery__text -->
				</div>
				<!-- /.gallery__parent -->
			</a>
			<!-- /.gallery__link -->
		</div>
		<!-- /.gallery__el -->
	</div>
	<!-- /.container -->
</div>
<article class="seo-text text-default">
	<div class="about-store__button js-about-store__button">Читать подробнее</div>
	<div class="container">
		<h2 class="center">Официальные сайты и дилеры Miele</h2>
		<p>
			Купить бытовую и другую технику Miele не составит труда — в каталоге с помощью удобного поиска вы отыщете
			нужную
			модель, для осуществления покупки просто отправьте выбранную технику в «Корзину». Наш менеджер свяжется с
			вами для
			уточнения деталей заказа. Для вас работает доставка по России, Москве и Московской области. Качественная
			бытовая
			техника «Смег» гарантированно сделает вашу жизнь проще, и покупка долгие годы будет радовать вас своей
			надежностью и
			универсальностью.
		</p>
		<div class="official-dealers">
			<a class="official-dealers__link" data-fancybox="gallery" data-type="iframe"
				href="//www.youtube.com/embed/hXlZLJs_pO8" id="bx_3322728009_11700">
				<picture>
					<source type="image/webp" class=" lazyloading" data-srcset="images/official-dealers.png"
						srcset="images/official-dealers.png">
					<img data-src="images/official-dealers.png" alt="видео 1 на главной"
						class="official-dealers__pic lazyloaded" src="images/official-dealers.png">
				</picture>
			</a>
			<a class="official-dealers__link" data-fancybox="gallery" data-type="iframe"
				href="//www.youtube.com/embed/41QGgxGqjb4" id="bx_3322728009_11701">
				<picture>
					<source type="image/webp" class=" lazyloading" data-srcset="images/official-dealers-2.png"
						srcset="images/official-dealers-2.png">
					<img data-src="images/official-dealers.png" alt="видео 2 на главной"
						class="official-dealers__pic lazyloaded" src="images/official-dealers-2.png">
				</picture>
			</a>
		</div>
		<p>
			В отличие от других морозильных отделений в Monolith все пространство занято не контейнерами, а похоже на
			холодильное: полки, ящики и дверные емкости. Это удобнее для быстрого доступа к часто используемым
			продуктам, не нужно перебирать все упаковки, чтобы
			найти нужную. Прозрачные передняя стенка позволяет быстро найти нужные продукты. На дверцах можно хранить
			упаковки ягод для коктейлей и смузи, мороженое, замороженные травы и овощи для заправки супов.
		</p>
	</div>
</article>
<article class="seo-text text-default">
	<div class="container">
		<h2 class="seo-text__title">Клиентский сервис Miele всегда готов помочь</h2>
		<p>
			Покупатели техники Miele могут оценить все преимущества сервисного обслуживания, которое неоднократно
			признавалось
			лучшим по сравнению с конкурентами. Если вы нуждаетесь в персональных рекомендациях по использованию прибора
			или
			профессиональном уходе за своей техникой, Miele всегда к вашим услугам.
		</p>
		<div class="service">
			<a href="#" class="service__item">
				<div class="service__pic">
					<img src="images/service-1.svg" alt="">
				</div>
				<!-- /.service__pic -->
				<div class="service__info">
					<div class="service__title">Удобная доставка</div>
					<!-- /.service__title -->
					<div class="service__text">Компания Miele может по запросу доставить и установить технику</div>
					<!-- /.service__text -->
				</div>
				<!-- /.service__info -->
			</a>
			<!-- /.service__item -->
			<a href="#" class="service__item">
				<div class="service__pic">
					<img src="images/service-2.svg" alt="">
				</div>
				<!-- /.service__pic -->
				<div class="service__info">
					<div class="service__title">Установка и настройка</div>
					<!-- /.service__title -->
					<div class="service__text">Техника Miele будет служить долго. Наши специалисты могут установить
						приобретённую технику и подключить её</div>
					<!-- /.service__text -->
				</div>
				<!-- /.service__info -->
			</a>
			<!-- /.service__item -->
			<a href="#" class="service__item">
				<div class="service__pic">
					<img src="images/service-3.svg" alt="">
				</div>
				<!-- /.service__pic -->
				<div class="service__info">
					<div class="service__title">Ремонт и обслуживание</div>
					<!-- /.service__title -->
					<div class="service__text">Многие неисправности и сбои, которые могут произойти при ежедневной
						эксплуатации, можно легко исправить</div>
					<!-- /.service__text -->
				</div>
				<!-- /.service__info -->
			</a>
			<!-- /.service__item -->
			<a href="#" class="service__item">
				<div class="service__pic">
					<img src="images/service-4.svg" alt="">
				</div>
				<!-- /.service__pic -->
				<div class="service__info">
					<div class="service__title">Премиальные сервисные продукты</div>
					<!-- /.service__title -->
					<div class="service__text">Использование оригинальных запчастей при сервисных работах обеспечит
						безопасную и корректную работу</div>
					<!-- /.service__text -->
				</div>
				<!-- /.service__info -->
			</a>
			<!-- /.service__item -->
		</div>
		<!-- /.service -->
	</div>
</article>
