<article class="about-brand">
	<div class="container">
		<h2 class="about-brand__title">
			О бренде Miele
		</h2>
		<img src="images/about-brand.png" class="pic_right loaded lazyloaded" alt="">
		<p>
			Девиз компании был придуман Карлом Миле и Райнхардом Цинканном, основавшими в 1899 году производство
			молочных
			сепараторов на бывшей лесопилке на севере Германии. В 1903 году была выпущена новейшая стиральная машина
			немецкой
			сборки, а в 1911 году она была усовершенствована — появился электропривод, существенно упростивший процесс
			стирки. Это
			была революция в домашнем хозяйстве и жизни простой немецкой женщины, мечущейся между kinder, küche, kirche.
			В 1931 году
			был выпущен первый пылесос, дизайн которого принес производителям уже европейскую известность, — привлекал
			внимание
			корпус в форме торпеды. Производство росло — варочная панель, духовой шкаф, холодильник, встраиваемая
			кофемашина Мiele.
		</p>
		<p>
			Miele позиционирует себя как семейный бизнес и по сей день, в руководстве работают только потомки
			основателей, в
			корпоративной культуре уделяется большое значение семейным ценностям, стабильности.
		</p>
	</div>
</article>
