<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		{% include 'section/sidebar/sidebar.html' %}
	</div>
	<div class="col-md-9">
		<div class="breadcrumbs">
			<div itemscope="" itemtype="http://schema.org/BreadcrumbList">
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem"><a href="/" title="Главная" itemprop="item"><span
							itemprop="name">Miele</span></a>
					<meta itemprop="position" content="1">
				</div>
				<div class="breadcrumbs__sep">/</div>
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem"><span itemprop="name">Возврат товара</span><a itemprop="item"
						href="/kachestvo/" title="Возврат товара"></a>
					<meta itemprop="position" content="2">
				</div>
			</div>
		</div>
		<h1 class="title">Возврат товара</h1>
		<div class="text-default">
			<p style="text-align: justify;"><b>Правила приема товара. </b>Внимательно осмотрите внешний вид техники
				и&nbsp;комплектацию. Убедитесь в&nbsp;отсутствии внешних дефектов до&nbsp;подписания договора.
				По&nbsp;результатам осмотра вы&nbsp;можете отказаться от&nbsp;товара, оформив акт об&nbsp;отказе. После
				передачи товара претензии к&nbsp;внешнему виду техники не&nbsp;принимаются.</p>
			<p style="text-align: justify;"><b>Обмен и&nbsp;возврат товара надлежащего качества</b> регулируется ЗОЗПП
				статьей 26.1 «Дистанционный способ продажи товара», а&nbsp;также Постановление Правительства Российской
				Федерации от&nbsp;19&nbsp;января 1998 года N&nbsp;55, включая Перечень непродовольственных товаров
				надлежащего качества, не&nbsp;подлежащих возврату или обмену на&nbsp;аналогичный товар других размера,
				формы, габарита, фасона, расцветки или комплектации.</p>
			<p style="text-align: justify;"><b>Обмен и&nbsp;возврат товара ненадлежащего качества</b> регулируется
				статьями 18. Права потребителя при обнаружении в&nbsp;товаре недостатков, 19. Сроки Предъявления
				потребителем требований в&nbsp;отношении недостатков товара, 20. Устранение недостатков изготовителем;
				21&nbsp;Замена товара ненадлежащего качества, 22. Сроки удовлетворения отдельных требований
				потребителя.&nbsp;23. Ответственность продавца.&nbsp;24. Расчеты с&nbsp;потребителем в&nbsp;случае
				приобретения им&nbsp;товара ненадлежащего качества.</p>

		</div>
	</div>
</div>
