.breadcrumbs {
	color: #a6a6a6;
	font-family: "HelveticaNeueCyr-Roman";
	font-size: 12px;
	line-height: 24px;
	text-align: left;
	margin-top: 16px;
	width: 100%;

	div {
		display: flex;
		flex-wrap: wrap;
	}

	&__link {
		color: #a6a6a6;
	}

	&__link {

		// color: #394791;
		&>a {
			color: #a6a6a6;
			text-decoration: none;
		}

		&>span {
			color: #000000;
		}
	}

	&__sep {
		margin: 0 5px;
	}

	@media screen and (max-width: 767px) {
		line-height: 17px;
		margin-top: 18px;

		&__sep {
			margin: 0 3px;
		}
	}
}
