<div class="gallery">
	<!-- Slider main container -->
	<div class="swiper-container-main js-swiper-main">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			<div class="swiper-slide">
				<picture>
					<source media="(max-width: 767px)" srcset="{{src}}main-mob.jpeg">
					<img src='{{src}}main-1.jpeg' alt="" class="lazyload">
				</picture>
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							Вертикальный беспроводной пылесос Triflex.
						</span>
						<span class="span span__big">
							Технология Vortex для превосходных результатов на любом напольном покрытии
						</span>
						<a href="#" title="ECBN 6156" class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<picture>
					<source media="(max-width: 767px)" srcset="{{src}}main-mob.jpeg">
					<img src='{{src}}main-1.jpeg' alt="" class="lazyload">
				</picture>
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							Вертикальный беспроводной пылесос Triflex.
						</span>
						<span class="span span__big">
							Технология Vortex для превосходных результатов на любом напольном покрытии
						</span>
						<a href="#" title="ECBN 6156" class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<picture>
					<source media="(max-width: 767px)" srcset="{{src}}main-mob.jpeg">
					<img src='{{src}}main-1.jpeg' alt="" class="lazyload">
				</picture>
				<div class="swiper__item">
					<div class="swiper__title">
						<span class="span span__small">
							Вертикальный беспроводной пылесос Triflex.
						</span>
						<span class="span span__big">
							Технология Vortex для превосходных результатов на любом напольном покрытии
						</span>
						<a href="#" title="ECBN 6156" class="swiper__link">Посмотреть</a>
					</div>
				</div>
			</div>
		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>
		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev swiper-button-main main_prev"></div>
		<div class="swiper-button-next swiper-button-main main_next"></div>
		<!-- If we need scrollbar -->
		<div class="swiper-scrollbar"></div>
	</div>
	<div class="gallery__items swiper-container">
		<div class="swiper-wrapper">
			<div class="gallery__el swiper-slide">
				<a href="#" class="gallery__link">
					<picture>
						<img src="{{src}}gallery-link_1.jpeg" alt="">
					</picture>
					<div class="gallery__parent">
						<span class="gallery__article">
							Выгода 50 000 рублей!
						</span>
						<!-- /.gallery__article -->
						<span class="gallery__text">
							Специальная цена на KFN 29683 D
						</span>
						<!-- /.gallery__text -->
					</div>
					<!-- /.gallery__parent -->
				</a>
				<!-- /.gallery__link -->
			</div>
			<!-- /.gallery__el -->
			<div class="gallery__el swiper-slide">
				<a href="#" class="gallery__link">
					<picture>
						<img src="{{src}}gallery-link_2.jpeg" alt="">
					</picture>
					<div class="gallery__parent">
						<span class="gallery__article">
							Бытовая химия Miele
						</span>
						<!-- /.gallery__article -->
						<span class="gallery__text">
							Наслаждайтесь комфортом с Miele
						</span>
						<!-- /.gallery__text -->
					</div>
					<!-- /.gallery__parent -->
				</a>
				<!-- /.gallery__link -->
			</div>
			<!-- /.gallery__el -->
			<div class="gallery__el swiper-slide">
				<a href="#" class="gallery__link">
					<picture>
						<img src="{{src}}gallery-link_3.jpeg" alt="">
					</picture>
					<div class="gallery__parent">
						<span class="gallery__article">
							Спецпредложение от Miele
						</span>
						<!-- /.gallery__article -->
						<span class="gallery__text">
							Уборка с Miele стала ещё доступнее
						</span>
						<!-- /.gallery__text -->
					</div>
					<!-- /.gallery__parent -->
				</a>
				<!-- /.gallery__link -->
			</div>
			<!-- /.gallery__el -->
			<div class="gallery__el swiper-slide">
				<a href="#" class="gallery__link">
					<picture>
						<img src="{{src}}gallery-link_4.jpeg" alt="">
					</picture>
					<div class="gallery__parent">
						<span class="gallery__article">
							Набор картриджей PowerDisk в подарок
						</span>
						<!-- /.gallery__article -->
						<!-- <span class="gallery__text">
							при покупке комплекта
						</span> -->
						<!-- /.gallery__text -->
					</div>
					<!-- /.gallery__parent -->
				</a>
				<!-- /.gallery__link -->
			</div>
			<!-- /.gallery__el -->
		</div>
		<!-- /.container -->
		<!-- If we need pagination -->
		<div class="gallery__items-pagination"></div>
	</div>
</div>
