.gallery {
	position: relative;
	width: 100%;
	max-width: 1436px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f1f1f1;
	margin-bottom: 41px;

	.swiper-container-main {
		position: relative;
		overflow: hidden;
	}

	.swiper-scrollbar {
		display: none;
	}

	.swiper {
		&__item {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			max-width: 100%;
			height: 100%;
			max-height: 100%;
			padding-top: 44px;
			// background: #0000006b
		}

		&__title {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			width: 516px;
			margin-left: 130px;
			margin-top: 0;
			border-radius: 3px;
			// background: rgba(186, 18, 18, 0.7);
			padding-left: 34px;
			padding-top: 29px;
			padding-bottom: 32px;
			padding-right: 26px;

			@media only screen and (max-width: 1024px) {
				margin-left: 18px;
			}

			.span {
				&__small {
					color: #ffffff;
					font-family: "HelveticaNeueCyr-Light";
					font-size: 30px;
					font-weight: 400;
					line-height: 40px;
					margin-bottom: 16px;

					a {
						color: #ffffff;
						text-decoration: none;
					}
				}

				&__big {
					color: #ffffff;
					font-family: "HelveticaNeueCyr-Roman";
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
					margin-bottom: 34px;
				}
			}
		}

		&__box {
			display: flex;
			justify-content: center;
			width: 100%;
			margin-top: -80px;
		}

		&__link {
			display: flex;
			align-self: flex-start;
			justify-content: center;
			width: auto;
			max-width: 172px;
			height: 39px;
			padding: 8px 22px;
			border-radius: 3px;
			color: #ffffff;
			font-family: "HelveticaNeueCyr-Roman";
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
			text-align: center;
			text-transform: uppercase;
			color: #ffffff;
			text-transform: uppercase;
			text-decoration: none !important;
			background-color: $base;

			&:hover {
				background-color: #b90c24;
				box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .16);
				text-decoration: none;
			}
		}

		&-slide {
			// display: flex;
			// align-items: baseline;
			// justify-content: flex-end;
			overflow: hidden;
			padding-left: 0;

			img {
				width: 100%;
				max-width: unset;
				max-height: 365px;
				object-fit: contain;

				@media only screen and (max-width: 1024px) {
					transform: translateX(-10%);
				}
			}

			// picture {
			// 	display: flex;
			// 	justify-content: flex-end;
			// 	align-items: center;
			// }
		}

		&-pagination {
			// border-radius: 8px;
			// background-color: rgba(102, 102, 102, 0.6);
			display: flex;
			align-items: center;
			z-index: 5;
			left: 50% !important;
			width: auto !important;
			height: 16px;
			padding: 0;
			transform: translateX(-50%);
			border-radius: 8px;
			background: hsla(0, 0%, 40%, 0.69);

			&-bullet {
				margin: 3px 8px !important;
				opacity: 1;
				background: #ffffff !important;
			}
		}

		&-pagination-bullet-active {
			box-sizing: border-box;
			background: $base !important;
			opacity: 1;
		}

		&-button-main {
			opacity: 0;
		}
	}

	&__items {
		display: flex;
		align-items: flex-start;
		width: 100%;
		max-width: 1240px;
		padding: 24px 33px;
		margin-left: auto;
		margin-right: auto;

		&.swiper-container {
			@media screen and (min-width: 768px) {
				padding: 22px 33px !important;
			}

			.swiper-wrapper {
				flex-wrap: nowrap;
			}

			.gallery__items-pagination {
				display: none;
			}
		}
	}

	&__item {
		display: flex;
		flex-shrink: 0;
		position: relative;
		position: relative;
		z-index: 9;
		width: 100%;
		height: auto;
		max-height: 458px;
		margin-top: 0;
		margin-left: 0;
		margin-bottom: 0;
		list-style: none;

		.swiper-wrapper {
			width: 100%;
			height: 100%;
			// transform: none !important;
			// .swiper-slide {
			// 	opacity: 0;
			// 	// max-width:471px ;
			// }
			// .swiper-slide-active {
			// 	opacity: 1;
			// }
			// .swiper-slide-next,.swiper-slide-prev{
			// 	position: absolute;
			// 	top: 0;
			// 	left: 0;
			// }
		}

		.button__open {
			position: absolute;
			z-index: 9999;
			top: 5%;
			left: 5%;
			width: 34px;
			height: 34px;
			overflow: hidden;
			border-radius: 3px;
			background-color: #394791;
			color: #ffffff;
			background: url("../images/holod-button.png") no-repeat;
			cursor: pointer;

			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: -18px;
				width: 205%;
				height: 100%;
				// -moz-transform: skewX(-50deg);
				// -o-transform: skewX(-50deg);
				// -webkit-transform: skewX(-50deg);
				transform: skewX(-50deg);
				border-radius: 3px;
				background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, .8), rgba(255, 255, 255, 1)) no-repeat -2em 0%;
				background-size: 2em 100%;
			}

			&.blink_on:after {
				transition: 1.5s linear;
				background-position: 60px 0%;
			}

			&.active {
				transform: rotate(180deg);

				&:after {
					transform: skewX(-50deg) rotate(-180deg);
				}
			}
		}

		.swiper-slide {
			display: flex;
			padding-left: 0;
		}
	}

	&__point {
		position: absolute;
		z-index: 9;
		width: 24px;
		height: 24px;
		background: url("../images/point-small.svg") 0/24px no-repeat;
		cursor: pointer;

		&.active {
			width: 48px;
			height: 48px;
			background: url("../images/point-big.svg") 0/48px no-repeat;

			.gallery__description {
				display: block;
			}
		}
	}

	&__description {
		display: none;
		flex-direction: column;
		// display: flex;
		align-items: baseline;
		justify-content: unset;
		position: absolute;
		z-index: 99999;
		z-index: -1;
		top: 50%;
		// left: 40px;
		right: 0;
		width: 372px;
		height: 100%;
		padding: 8px 11px 8px 0;
		transform: translateY(-50%);
		border-radius: 2px;
		// box-shadow: 0 2px 12px 0 rgba(82, 64, 64, 0.17);
		background-color: #ffffff;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: condensed;
		line-height: normal;
		letter-spacing: normal;
		color: #212121;
		// justify-content: center;
		padding-top: 16px;

		img {
			margin-bottom: 24px;
		}

		picture {
			width: auto !important;
		}
	}

	&__subtitle {
		margin-bottom: 18px;
		font-family: "HelveticaNeueCyr-Light";
		font-size: 20px;
		font-weight: 400;
		line-height: 24px;

		@media screen and (min-width: 768px) {
			min-height: 48px;
		}
	}

	&__tablet {
		display: flex;
		align-items: flex-start;
		width: 100%;

		.gallery__text {
			padding: 0 24px 10px;
			margin-bottom: unset;
		}
	}

	&__el {
		display: flex;
		// height: 230px;
		// flex-grow: 1;
		flex-basis: calc(25% - 21.5px);
		transition: .3s;
		margin-right: auto;
		background-color: #ffffff;

		&:hover {
			box-shadow: 0 2px 21px rgba(0, 0, 0, 0.09);
		}

		.gallery__parent {
			display: flex;
			flex-direction: column;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}

	&__link {
		display: flex;
		flex-direction: column;
		z-index: 9;
		width: 100%;

		@media screen and (min-width: 768px) {
			margin-top: auto;
			margin-bottom: 30px;
		}

		&:hover {
			text-decoration: none !important;

			.gallery__article {
				color: $base;
				text-decoration: underline;
			}
		}

		img {
			width: 100%;
			max-width: 100%;
			height: auto;
			max-height: 100%;
			object-fit: cover;
		}
	}

	&__article {
		padding: 13px 12px 6px 16px;
		color: #212121;
		font-family: "HelveticaNeueCyr-Roman";
		font-size: 18px;
		font-weight: 400;
		line-height: 28px;
	}

	&__text {
		padding: 0;
		padding: 0 12px 0 16px;
		text-decoration: none !important;
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		margin-bottom: 13px;
		color: #666666;

		font[color="#ff0000"] {
			color: $base !important;
		}
	}

	&__pagination {
		right: 124px;
	}

	img {
		width: auto;
		height: 100%;
	}
}

.seo-text.text-default+.gallery {
	@media screen and (max-width: 767px) {
		&__items {
			padding: 24px 16px !important;
			margin-bottom: 25px;

			.gallery__el {
				flex-basis: unset;
				width: 100%;
				height: unset;
				margin-left: unset;
				margin-bottom: 10px;

				.gallery__text {
					color: #4b4b4b;
					font-family: "HelveticaNeueCyr-Roman";
					font-size: 14px;
					font-weight: 400;
					line-height: 19px;
					margin-bottom: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}

			.container {
				margin: 0 !important;
				padding: 0 !important;
			}
		}
	}

	&__items {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		align-items: flex-start;
		max-width: unset;
		margin: 0 0 53px;
		padding: 25px 0 20px;
		-webkit-box-align: start;
		-ms-flex-align: start;
		background-color: #f1f1f1;

		.gallery__article, .gallery__text {
			padding-left: 29px;
		}
	}
}

.new-gallery {
	display: flex;
	flex-direction: column;
	position: relative;
	height: auto;
	max-height: 604px;
	border-bottom: 1px solid #ececec;
	padding-bottom: 29px;
	margin-bottom: 49px;

	.new-gallery__title {
		max-width: 73%;
		font-family: "HelveticaNeueCyr-Light";
		font-size: 26px;
		font-weight: 400;
		line-height: 32px;
		margin-bottom: 38px;
	}

	picture {
		width: 471px;
	}

	.gallery__parent {
		// position: absolute;
		top: 0;
		width: 100%;
		height: 100%;

		.gallery__text {
			padding: 0;
		}

		&.active {
			position: absolute;

			.gallery__description {
				display: flex;
				z-index: 1;
			}

			img {
				width: auto;
				max-width: 100%;
				height: auto;
				max-height: 100%;

				@media screen and (min-width: 768px) {
					min-height: 48px;
				}
			}

			.gallery__point {
				width: 32px;
				height: 32px;
				background: url("../images/point-big.svg") 0/32px no-repeat;
			}
		}
	}

	.gallery__item {
		.swiper-slide {
			display: block;
			overflow: hidden;
		}
	}

	.swiper {

		&-button-prev, &-button-next {
			top: 21px;
		}

		&-pagination {
			top: 13px;
		}
	}
}

@media screen and (max-width: 900px) {}

@media screen and (max-width: 767px) {
	.gallery {
		margin-bottom: 24px;
		max-width: 100%;

		.swiper-slide {
			display: flex;
			flex-direction: column;
			align-content: baseline;
			justify-content: flex-start;
			overflow: hidden;

			// display: none;
			// &-active,&-next {
			// 	display: flex;
			// }
			img {
				max-width: 100%;
				height: auto;
				max-height: unset;
				transform: unset;
				// display: block;
				// position: absolute;
				// top: 0;
				// // right: 0px;
				// right: 0px;
			}

			picture {
				position: static;
				z-index: 1;
			}
		}

		.swiper__item {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			align-items: center;
			// padding-top: 286px;
			justify-content: center;
			position: static;
			z-index: 0;
			height: auto;
			background-color: #4b4b4b;
			padding-bottom: 0;
			padding-top: 0;

			.gallery__parent {
				min-width: 212px;
			}
		}

		.swiper__title {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			align-items: center;
			justify-content: flex-start;
			width: 100% !important;
			max-width: unset;
			padding: 17px 16px 16px;
			margin-left: 0;
			background: #4b4b4b;

			.span__small {
				margin-bottom: 8px;
				color: #ffffff;
				font-family: "HelveticaNeueCyr-Light";
				font-size: 24px;
				font-weight: 400;
				line-height: 32px;
				text-align: left;
			}

			.span__big {
				margin-bottom: 19px;
				color: #ffffff;
				font-family: "HelveticaNeueCyr-Roman";
				font-size: 14px;
				font-weight: 400;
				line-height: 22px;
				text-align: left;
			}

			.swiper__link {
				// margin: auto auto 0;
				background-color: $base;
			}

			p {
				margin-bottom: 0;
			}
		}

		.swiper-wrapper {
			// align-items: baseline;
		}

		.swiper-pagination {
			top: 351px;

			// bottom: 233px;
			&-bullet {
				opacity: 0.5;
			}
		}

		.gallery__items {
			display: none;
		}

		&__items {
			position: relative;
			// padding: 16px 0;
			max-width: 100%;
			margin: 0;
			padding: 16px;

			.gallery__items-pagination {
				display: flex !important;
				justify-content: center;
				position: static;
				margin: 16px 0 12px;
				-webkit-transform: none;
				transform: none;
				-webkit-box-pack: center;
				-ms-flex-pack: center;

				.swiper-pagination-bullet {
					background: #d8d8d8 !important;
					opacity: 1;

					&-active {
						background: #ba1212 !important;
					}
				}
			}

			&.swiper-container {
				flex-direction: column;
			}
		}

		&__item {
			// display: none;
		}

		&__article {
			font-family: "HelveticaNeueCyr-Light";
			font-size: 18px;
			font-weight: 400;
			line-height: 24px;
			padding: 8px 15px 6px;
		}

		&__text {
			color: #4b4b4b;
			font-family: "HelveticaNeueCyr-Roman";
			font-size: 14px;
			font-weight: 400;
			line-height: 19px;
			padding: 0 12px 5px 12px;
		}

		&__tablet {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			// padding-left: 10%;
		}

		&__el {
			flex-basis: unset;
			width: 100%;
			height: unset;
			margin-left: unset;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}

			.gallery__text {
				padding: 0 12px 8px 12px;
			}

			&.swiper-slide {
				picture {
					width: 100%;
					padding: 0;

					img {
						position: static;
						transform: unset;
					}
				}

				.gallery__link {
					flex-direction: column;
					align-items: unset;
				}

				.gallery__article {
					color: #212121;
					font-size: 18px;
					font-weight: 400;
					line-height: 28px;
				}

				.gallery__text {
					color: #666666;
					font-size: 14px;
					font-weight: 400;
					line-height: 19px;
				}
			}
		}

		&__link {
			flex-direction: row;
			align-items: center;
			margin: 0 auto;

			picture {
				flex-shrink: 0;
				width: 105px;
				height: auto;
				height: auto;
				padding-top: 0;
			}

			img {
				// height: auto;
				// max-width: unset;
				// min-height: 56px;
				// position: absolute;
				// top: 0;
				// left: 0;
				// right: 0;
			}
		}

		&+.special-offers {
			margin-top: 0;
		}

		&+.js-ecom_product-list[data-list="Main Result"] {
			.special-offers {
				margin-top: 0;
			}
		}
	}

	.new-gallery {
		height: auto;
		max-height: unset;
		border-bottom: 0;
		padding-bottom: 6px;
		margin-bottom: 15px;

		* {
			transition: 0.4s;
		}

		.swiper-slide {
			display: flex !important;

			// overflow: visible !important;
			.services__bg {
				display: none;
			}
		}

		.gallery__text {
			padding: 0;
			font-size: 14px;
			font-weight: 400;
			line-height: 22px;
			margin-bottom: 18px;
		}

		.new-gallery__title {
			font-size: 20px;
			font-weight: 400;
			line-height: 26px;
			margin-bottom: 7px;
			max-width: unset;
		}

		.gallery__description {
			padding-right: 0;

			img {
				margin-bottom: 17px;
			}
		}

		.gallery__subtitle {
			font-family: "HelveticaNeueCyr-Light";
			font-size: 18px;
			font-weight: 400;
			line-height: 24px;
			margin-bottom: 7px;
		}

		.gallery__prev, .gallery__next {
			display: none !important;
			top: 25px;
		}

		.gallery__parent {
			display: flex;
			flex-shrink: 0;

			&.active {
				display: flex;
				order: -1;
				position: static !important;
			}

			.gallery__description {
				display: flex;
				position: static !important;
				left: 0;
				width: 100%;
				max-width: 100%;
				padding: 8px 0 8px 0;
				transform: translateY(0%);
			}

			.gallery__point {
				display: none;
			}
		}

		.gallery__pagination {
			display: flex;
			order: 4;
			position: static;
			margin: 17px 0 10px;
		}
	}

	// .fixed {
	// 	.header__icons {
	// 		position: absolute;
	// 		top: 18px;
	// 		right: 25px;
	// 	}
	// }
}

// @media screen and (max-width: 640px) {
// 	.gallery {
// 		&__item {
// 			display: none;
// 		}
// 		&__tablet {
// 			padding-right: 0;
// 			padding-left: 0;
// 		}
// 		.swiper__item {
// 			justify-content: center;
// 			padding-right: 0;
// 			padding-top: 0;
// 		}
// 		.swiper__title {
// 			.span {
// 				&__small {
// 					font-size: 33px;
// 				}
// 				&__big {
// 					font-size: 15px;
// 				}
// 			}
// 		}
// 		.swiper-pagination {
// 			bottom: 16px;
// 			text-align: center;
// 			padding-right: 0;
// 		}
// 	}
// }
// @media screen and (max-width: 480px) {
// 	.gallery {
// 		.swiper__item {
// 			padding: 0;
// 		}
// 		.gallery__el {
// 			height: 56px;
// 			margin-bottom: 8px;
// 			img {
// 				width: 60px;
// 				height: 100%;
// 			}
// 			.gallery__parent {
// 				padding: 3px;
// 				width: 100%;
// 			}
// 		}
// 		.swiper-slide {}
// 		.swiper__title {
// 			margin: 0;
// 		}
// 		.swiper__link {
// 			max-width: 240px;
// 		}
// 		&__article {
// 			font-size: 16px;
// 			font-weight: 400;
// 			line-height: 28px;
// 			padding: 0 13px;
// 		}
// 		&__items {
// 			padding: 16px 16px 9px;
// 		}
// 		&__text {
// 			font-family: Arial,sans-serif;
// 			font-size: 14px;
// 			line-height: 19px;
// 			padding: 0 13px;
// 		}
// 	}
// }
