.new-items {
	background: #f6f6f6;
	margin: 0 auto;
	padding-top: 48px;

	@media screen and (max-width: 767px) {
		margin-top: 0;
		padding-top: 0;
		margin-bottom: 14px !important;

		.new-items__link {
			display: none;
			order: 4;
			margin: 27px auto 9px;
		}

		.new-items__caption {
			display: flex;
			// flex-wrap: wrap;
			flex-direction: column;
			width: 100%;
			margin-bottom: 15px;
		}

		.new-items__title {
			margin-top: 31px;
			margin-right: 20px;
			margin-bottom: 1px !important;
			font-size: 20px;
			line-height: 28px;
			padding-left: 0;
		}

		.special-offers__text {
			// padding-top: 19px !important;
			// padding-bottom: 13px !important;
		}

		.special-offers__sale {
			// align-items: flex-end !important;
			padding-top: 0;
		}

		.special-offers__slide {
			padding-bottom: 13px !important;
		}

		.swiper-pagination_3 {
			position: relative;
			top: unset;
			right: unset;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			margin-top: 24px;
		}

		.swiper-pagination_2 {
			position: static;
		}

		.swiper-pagination-bullet {
			margin-left: 8px;
		}

		.container {

			.new-items_prev, .new-items_next {
				top: 47px;
			}

			.new-items_next {
				right: 0;
			}
		}

		.new-items__how {
			color: #2e2e2e;
			// font-family: Arial, sans-serif;
			font-size: 14px;
			margin-right: 0;
			margin-top: 0;

			a {
				padding: 0 5px;
			}
		}

		.announcing {
			top: 15px;
			left: 16px;
		}

		.swiper-container {
			margin-bottom: 0;
		}

		.swiper {
			margin-bottom: 18px;
		}
	}

	.container {
		padding-top: 0 !important;
	}

	.new-items__slide {
		min-height: unset;
	}

	&__caption {
		display: flex;
		margin-bottom: 32px;

		span {}
	}

	&__title.special-offers__title {
		font-family: "HelveticaNeueCyr-Light";
		font-size: 26px;
		font-weight: 400;
		line-height: 32px;
		margin-bottom: 0 !important;
		margin-right: 23px;
	}

	// .special-offers__text {
	// 	padding-bottom: 0;
	// 	color: #333333;
	// 	font-family: "Roboto Condensed";
	// 	font-size: 18px;
	// 	font-weight: 400;
	// 	line-height: 26px;
	// 	// padding-top: 24px;
	// }
	// .special-offers__sale {
	// 	padding-top: 14px;
	// }
	&__how {
		font-family: "HelveticaNeueCyr-Roman";
		font-size: 14px;
		font-weight: 400;
		line-height: 19px;
		display: flex;
		align-items: flex-end;
		white-space: nowrap;
		margin-bottom: 3px;

		&:before {
			content: "В разделе";
		}

		a, i {
			color: $base;
			font-style: initial;
			padding: 0 5px;
		}
	}

	&__link {
		margin: 41px auto;
		border: solid 1px $base;
		padding: 8px 15px;
		border-radius: 3px;
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: $base;
		text-transform: uppercase;
		text-decoration: none !important;
		&:hover {
			background: #fff4f4;
		}
	}
}
