<div class="benefits">
	<div class="container">
		<!-- /.container -->
		<div class="benefits__title">
			Преимущества Miele
		</div>
		<!-- /.benefits__title -->
		<div id="tabs" class="tabs">
			<ul>
				<li>
					<a href="#tabs-1">Холодильники и морозильники</a>
				</li>
				<li>
					<a href="#tabs-2">Стиральные машины</a>
				</li>
				<li>
					<a href="#tabs-3">
						Посудомоечные машины
					</a>
				</li>
				<li>
					<a href="#tabs-4">
						Кофемашины
					</a>
				</li>
				<li>
					<a href="#tabs-5">
						Вытяжки
					</a>
				</li>
			</ul>
			<div id="tabs-1">
				<div class="swiper">
					<div class="swiper-container benefits-slide">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="benefits__item">
									<div class="benefits__pic">
										<picture>
											<source media="(max-width: 767px)" srcset="images/benefits_768w.jpg">
											<img src="images/benefits.jpg" alt="" class="lazyload">
										</picture>
									</div>
									<!-- /.benefits__pic -->
									<div class="benefits__icon">
										<ul>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample1.png" alt="">
													Генератор льда IceMaker*
												</div>
												<!-- /.benefits__caption -->
												Быстрое образование и хранение льда: генератор льда IceMaker
												имеет независимую систему управления и может производить
												около 100 кубиков льда в сутки.
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample2.png" alt="">
													Освещение FlexiLight*
												</div>
												<!-- /.benefits__caption -->
												Идеальная система освещения, не создающая бликов: в зависимости
												от размера продуктов, хранящихся в отделениях, полки с
												подсветкой можно
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample3.png" alt="">
													Система NoFrost*
												</div>
												<!-- /.benefits__caption -->
												Непревзойденное удобство: Вам больше не нужно размораживать
												холодильник вручную. Холодный воздух циркулирует внутри
												камеры, предотвращая образование льда
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample1.png" alt="">
													Технология PerfectFresh Pro*
												</div>
												<!-- /.benefits__caption -->
												Ещё больше свежести: инновационная технология Miele позволят
												хранить фрукты и овощи ещё дольше.
											</li>
										</ul>
										<a href="" class="benefits__link">
											Перейти в глоссарий
										</a>
									</div>
									<!-- /.benefits__icon -->
								</div>
								<!-- /.benefits__item -->
							</div>
							<div class="swiper-slide">
								<div class="benefits__item">
									<div class="benefits__pic">
										<picture>
											<source media="(max-width: 767px)" srcset="images/benefits_768w.jpg">
											<img src="images/benefits.jpg" alt="" class="lazyload">
										</picture>
									</div>
									<!-- /.benefits__pic -->
									<div class="benefits__icon">
										<ul>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample1.png" alt="">
													Генератор льда IceMaker*
												</div>
												<!-- /.benefits__caption -->
												Быстрое образование и хранение льда: генератор льда IceMaker
												имеет независимую систему управления и может производить
												около 100 кубиков льда в сутки.
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample2.png" alt="">
													Освещение FlexiLight*
												</div>
												<!-- /.benefits__caption -->
												Идеальная система освещения, не создающая бликов: в зависимости
												от размера продуктов, хранящихся в отделениях, полки с
												подсветкой можно
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample3.png" alt="">
													Система NoFrost*
												</div>
												<!-- /.benefits__caption -->
												Непревзойденное удобство: Вам больше не нужно размораживать
												холодильник вручную. Холодный воздух циркулирует внутри
												камеры, предотвращая образование льда
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample1.png" alt="">
													Технология PerfectFresh Pro*
												</div>
												<!-- /.benefits__caption -->
												Ещё больше свежести: инновационная технология Miele позволят
												хранить фрукты и овощи ещё дольше.
											</li>
										</ul>
										<a href="" class="benefits__link">
											Перейти в глоссарий
										</a>
									</div>
									<!-- /.benefits__icon -->
								</div>
								<!-- /.benefits__item -->
							</div>
							<div class="swiper-slide">
								<div class="benefits__item">
									<div class="benefits__pic">
										<picture>
											<source media="(max-width: 767px)" srcset="images/benefits_768w.jpg">
											<img src="images/benefits.jpg" alt="" class="lazyload">
										</picture>
									</div>
									<!-- /.benefits__pic -->
									<div class="benefits__icon">
										<ul>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample1.png" alt="">
													Генератор льда IceMaker*
												</div>
												<!-- /.benefits__caption -->
												Быстрое образование и хранение льда: генератор льда IceMaker
												имеет независимую систему управления и может производить
												около 100 кубиков льда в сутки.
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample2.png" alt="">
													Освещение FlexiLight*
												</div>
												<!-- /.benefits__caption -->
												Идеальная система освещения, не создающая бликов: в зависимости
												от размера продуктов, хранящихся в отделениях, полки с
												подсветкой можно
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample3.png" alt="">
													Система NoFrost*
												</div>
												<!-- /.benefits__caption -->
												Непревзойденное удобство: Вам больше не нужно размораживать
												холодильник вручную. Холодный воздух циркулирует внутри
												камеры, предотвращая образование льда
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample1.png" alt="">
													Технология PerfectFresh Pro*
												</div>
												<!-- /.benefits__caption -->
												Ещё больше свежести: инновационная технология Miele позволят
												хранить фрукты и овощи ещё дольше.
											</li>
										</ul>
										<a href="" class="benefits__link">
											Перейти в глоссарий
										</a>
									</div>
									<!-- /.benefits__icon -->
								</div>
								<!-- /.benefits__item -->
							</div>
						</div>
						<!-- Add Arrows -->
					</div>
					<div class="swiper-button-next swiper-button-white benefits-next"></div>
					<div class="swiper-button-prev swiper-button-white benefits-prev"></div>
					<div class="swiper-pagination benefits-pagination"></div>
					<!-- /.swiper-pagination -->
				</div>
			</div>
			<div id="tabs-2">
				<div class="swiper">
					<div class="swiper-container benefits-slide">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="benefits__item">
									<div class="benefits__pic">
										<picture>
											<source media="(max-width: 767px)" srcset="images/benefits_768w.jpg">
											<img src="images/benefits.jpg" alt="" class="lazyload">
										</picture>
									</div>
									<!-- /.benefits__pic -->
									<div class="benefits__icon">
										<ul>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample1.png" alt="">
													Генератор льда IceMaker*
												</div>
												<!-- /.benefits__caption -->
												Быстрое образование и хранение льда: генератор льда IceMaker
												имеет независимую систему управления и может производить
												около 100 кубиков льда в сутки.
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample1.png" alt="">
													Генератор льда IceMaker*
												</div>
												<!-- /.benefits__caption -->
												Быстрое образование и хранение льда: генератор льда IceMaker
												имеет независимую систему управления и может производить
												около 100 кубиков льда в сутки.
											</li>
										</ul>
										<a href="" class="benefits__link">
											Перейти в глоссарий
										</a>
									</div>
									<!-- /.benefits__icon -->
								</div>
								<!-- /.benefits__item -->
							</div>
							<div class="swiper-slide">
								<div class="benefits__item">
									<div class="benefits__pic">
										<picture>
											<source media="(max-width: 767px)" srcset="images/benefits_768w.jpg">
											<img src="images/benefits.jpg" alt="" class="lazyload">
										</picture>
									</div>
									<!-- /.benefits__pic -->
									<div class="benefits__icon">
										<ul>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample2.png" alt="">
													Освещение FlexiLight*
												</div>
												<!-- /.benefits__caption -->
												Идеальная система освещения, не создающая бликов: в зависимости
												от размера продуктов, хранящихся в отделениях, полки с
												подсветкой можно
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample2.png" alt="">
													Освещение FlexiLight*
												</div>
												<!-- /.benefits__caption -->
												Идеальная система освещения, не создающая бликов: в зависимости
												от размера продуктов, хранящихся в отделениях, полки с
												подсветкой можно
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample2.png" alt="">
													Освещение FlexiLight*
												</div>
												<!-- /.benefits__caption -->
												Идеальная система освещения, не создающая бликов: в зависимости
												от размера продуктов, хранящихся в отделениях, полки с
												подсветкой можно
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample2.png" alt="">
													Освещение FlexiLight*
												</div>
												<!-- /.benefits__caption -->
												Идеальная система освещения, не создающая бликов: в зависимости
												от размера продуктов, хранящихся в отделениях, полки с
												подсветкой можно
											</li>
										</ul>
										<a href="" class="benefits__link">
											Перейти в глоссарий
										</a>
									</div>
									<!-- /.benefits__icon -->
								</div>
								<!-- /.benefits__item -->
							</div>
							<div class="swiper-slide">
								<div class="benefits__item">
									<div class="benefits__pic">
										<picture>
											<source media="(max-width: 767px)" srcset="images/benefits_768w.jpg">
											<img src="images/benefits.jpg" alt="" class="lazyload">
										</picture>
									</div>
									<!-- /.benefits__pic -->
									<div class="benefits__icon">
										<ul>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample1.png" alt="">
													Генератор льда IceMaker*
												</div>
												<!-- /.benefits__caption -->
												Быстрое образование и хранение льда: генератор льда IceMaker
												имеет независимую систему управления и может производить
												около 100 кубиков льда в сутки.
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample2.png" alt="">
													Освещение FlexiLight*
												</div>
												<!-- /.benefits__caption -->
												Идеальная система освещения, не создающая бликов: в зависимости
												от размера продуктов, хранящихся в отделениях, полки с
												подсветкой можно
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample3.png" alt="">
													Система NoFrost*
												</div>
												<!-- /.benefits__caption -->
												Непревзойденное удобство: Вам больше не нужно размораживать
												холодильник вручную. Холодный воздух циркулирует внутри
												камеры, предотвращая образование льда
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample1.png" alt="">
													Технология PerfectFresh Pro*
												</div>
												<!-- /.benefits__caption -->
												Ещё больше свежести: инновационная технология Miele позволят
												хранить фрукты и овощи ещё дольше.
											</li>
										</ul>
										<a href="" class="benefits__link">
											Перейти в глоссарий
										</a>
										<a href="" class="benefits__link">
											Перейти в глоссарий
										</a>
									</div>
									<!-- /.benefits__icon -->
								</div>
								<!-- /.benefits__item -->
							</div>
						</div>
						<!-- Add Arrows -->
					</div>
					<div class="swiper-button-next swiper-button-white benefits-next"></div>
					<div class="swiper-button-prev swiper-button-white benefits-prev"></div>
					<div class="swiper-pagination benefits-pagination"></div>
					<!-- /.swiper-pagination -->
				</div>
			</div>
			<div id="tabs-3">
				<div class="swiper">
					<div class="swiper-container benefits-slide">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="benefits__item">
									<div class="benefits__pic">
										<picture>
											<source media="(max-width: 767px)" srcset="images/benefits_768w.jpg">
											<img src="images/benefits.jpg" alt="" class="lazyload">
										</picture>
									</div>
									<!-- /.benefits__pic -->
									<div class="benefits__icon">
										<ul>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample3.png" alt="">
													Система NoFrost*
												</div>
												<!-- /.benefits__caption -->
												Непревзойденное удобство: Вам больше не нужно размораживать
												холодильник вручную. Холодный воздух циркулирует внутри
												камеры, предотвращая образование льда
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample3.png" alt="">
													Система NoFrost*
												</div>
												<!-- /.benefits__caption -->
												Непревзойденное удобство: Вам больше не нужно размораживать
												холодильник вручную. Холодный воздух циркулирует внутри
												камеры, предотвращая образование льда
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample3.png" alt="">
													Система NoFrost*
												</div>
												<!-- /.benefits__caption -->
												Непревзойденное удобство: Вам больше не нужно размораживать
												холодильник вручную. Холодный воздух циркулирует внутри
												камеры, предотвращая образование льда
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample3.png" alt="">
													Система NoFrost*
												</div>
												<!-- /.benefits__caption -->
												Непревзойденное удобство: Вам больше не нужно размораживать
												холодильник вручную. Холодный воздух циркулирует внутри
												камеры, предотвращая образование льда
											</li>
										</ul>
										<a href="" class="benefits__link">
											Перейти в глоссарий
										</a>
									</div>
									<!-- /.benefits__icon -->
								</div>
								<!-- /.benefits__item -->
							</div>
							<div class="swiper-slide">
								<div class="benefits__item">
									<div class="benefits__pic">
										<picture>
											<source media="(max-width: 767px)" srcset="images/benefits_768w.jpg">
											<img src="images/benefits.jpg" alt="" class="lazyload">
										</picture>
									</div>
									<!-- /.benefits__pic -->
									<div class="benefits__icon">
										<ul>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample1.png" alt="">
													Генератор льда IceMaker*
												</div>
												<!-- /.benefits__caption -->
												Быстрое образование и хранение льда: генератор льда IceMaker
												имеет независимую систему управления и может производить
												около 100 кубиков льда в сутки.
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample2.png" alt="">
													Освещение FlexiLight*
												</div>
												<!-- /.benefits__caption -->
												Идеальная система освещения, не создающая бликов: в зависимости
												от размера продуктов, хранящихся в отделениях, полки с
												подсветкой можно
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample3.png" alt="">
													Система NoFrost*
												</div>
												<!-- /.benefits__caption -->
												Непревзойденное удобство: Вам больше не нужно размораживать
												холодильник вручную. Холодный воздух циркулирует внутри
												камеры, предотвращая образование льда
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample1.png" alt="">
													Технология PerfectFresh Pro*
												</div>
												<!-- /.benefits__caption -->
												Ещё больше свежести: инновационная технология Miele позволят
												хранить фрукты и овощи ещё дольше.
											</li>
										</ul>
									</div>
									<!-- /.benefits__icon -->
								</div>
								<!-- /.benefits__item -->
							</div>
							<div class="swiper-slide">
								<div class="benefits__item">
									<div class="benefits__pic">
										<picture>
											<source media="(max-width: 767px)" srcset="images/benefits_768w.jpg">
											<img src="images/benefits.jpg" alt="" class="lazyload">
										</picture>
									</div>
									<!-- /.benefits__pic -->
									<div class="benefits__icon">
										<ul>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample1.png" alt="">
													Генератор льда IceMaker*
												</div>
												<!-- /.benefits__caption -->
												Быстрое образование и хранение льда: генератор льда IceMaker
												имеет независимую систему управления и может производить
												около 100 кубиков льда в сутки.
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample2.png" alt="">
													Освещение FlexiLight*
												</div>
												<!-- /.benefits__caption -->
												Идеальная система освещения, не создающая бликов: в зависимости
												от размера продуктов, хранящихся в отделениях, полки с
												подсветкой можно
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample3.png" alt="">
													Система NoFrost*
												</div>
												<!-- /.benefits__caption -->
												Непревзойденное удобство: Вам больше не нужно размораживать
												холодильник вручную. Холодный воздух циркулирует внутри
												камеры, предотвращая образование льда
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample1.png" alt="">
													Технология PerfectFresh Pro*
												</div>
												<!-- /.benefits__caption -->
												Ещё больше свежести: инновационная технология Miele позволят
												хранить фрукты и овощи ещё дольше.
											</li>
										</ul>
										<a href="" class="benefits__link">
											Перейти в глоссарий
										</a>
									</div>
									<!-- /.benefits__icon -->
								</div>
								<!-- /.benefits__item -->
							</div>
						</div>
						<!-- Add Arrows -->
					</div>
					<div class="swiper-button-next swiper-button-white benefits-next"></div>
					<div class="swiper-button-prev swiper-button-white benefits-prev"></div>
					<div class="swiper-pagination benefits-pagination"></div>
					<!-- /.swiper-pagination -->
				</div>
			</div>
			<div id="tabs-4">
				<div class="swiper">
					<div class="swiper-container benefits-slide">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="benefits__item">
									<div class="benefits__pic">
										<picture>
											<source media="(max-width: 767px)" srcset="images/benefits_768w.jpg">
											<img src="images/benefits.jpg" alt="" class="lazyload">
										</picture>
									</div>
									<!-- /.benefits__pic -->
									<div class="benefits__icon">
										<ul>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample2.png" alt="">
													Освещение FlexiLight*
												</div>
												<!-- /.benefits__caption -->
												Идеальная система освещения, не создающая бликов: в зависимости
												от размера продуктов, хранящихся в отделениях, полки с
												подсветкой можно
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample3.png" alt="">
													Система NoFrost*
												</div>
												<!-- /.benefits__caption -->
												Непревзойденное удобство: Вам больше не нужно размораживать
												холодильник вручную. Холодный воздух циркулирует внутри
												камеры, предотвращая образование льда
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample2.png" alt="">
													Освещение FlexiLight*
												</div>
												<!-- /.benefits__caption -->
												Идеальная система освещения, не создающая бликов: в зависимости
												от размера продуктов, хранящихся в отделениях, полки с
												подсветкой можно
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample3.png" alt="">
													Система NoFrost*
												</div>
												<!-- /.benefits__caption -->
												Непревзойденное удобство: Вам больше не нужно размораживать
												холодильник вручную. Холодный воздух циркулирует внутри
												камеры, предотвращая образование льда
											</li>
										</ul>
										<a href="" class="benefits__link">
											Перейти в глоссарий
										</a>
									</div>
									<!-- /.benefits__icon -->
								</div>
								<!-- /.benefits__item -->
							</div>
							<div class="swiper-slide">
								<div class="benefits__item">
									<div class="benefits__pic">
										<picture>
											<source media="(max-width: 767px)" srcset="images/benefits_768w.jpg">
											<img src="images/benefits.jpg" alt="" class="lazyload">
										</picture>
									</div>
									<!-- /.benefits__pic -->
									<div class="benefits__icon">
										<ul>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample1.png" alt="">
													Генератор льда IceMaker*
												</div>
												<!-- /.benefits__caption -->
												Быстрое образование и хранение льда: генератор льда IceMaker
												имеет независимую систему управления и может производить
												около 100 кубиков льда в сутки.
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample2.png" alt="">
													Освещение FlexiLight*
												</div>
												<!-- /.benefits__caption -->
												Идеальная система освещения, не создающая бликов: в зависимости
												от размера продуктов, хранящихся в отделениях, полки с
												подсветкой можно
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample3.png" alt="">
													Система NoFrost*
												</div>
												<!-- /.benefits__caption -->
												Непревзойденное удобство: Вам больше не нужно размораживать
												холодильник вручную. Холодный воздух циркулирует внутри
												камеры, предотвращая образование льда
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample1.png" alt="">
													Технология PerfectFresh Pro*
												</div>
												<!-- /.benefits__caption -->
												Ещё больше свежести: инновационная технология Miele позволят
												хранить фрукты и овощи ещё дольше.
											</li>
										</ul>
										<a href="" class="benefits__link">
											Перейти в глоссарий
										</a>
									</div>
									<!-- /.benefits__icon -->
								</div>
								<!-- /.benefits__item -->
							</div>
							<div class="swiper-slide">
								<div class="benefits__item">
									<div class="benefits__pic">
										<picture>
											<source media="(max-width: 767px)" srcset="images/benefits_768w.jpg">
											<img src="images/benefits.jpg" alt="" class="lazyload">
										</picture>
									</div>
									<!-- /.benefits__pic -->
									<div class="benefits__icon">
										<ul>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample1.png" alt="">
													Генератор льда IceMaker*
												</div>
												<!-- /.benefits__caption -->
												Быстрое образование и хранение льда: генератор льда IceMaker
												имеет независимую систему управления и может производить
												около 100 кубиков льда в сутки.
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample2.png" alt="">
													Освещение FlexiLight*
												</div>
												<!-- /.benefits__caption -->
												Идеальная система освещения, не создающая бликов: в зависимости
												от размера продуктов, хранящихся в отделениях, полки с
												подсветкой можно
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample3.png" alt="">
													Система NoFrost*
												</div>
												<!-- /.benefits__caption -->
												Непревзойденное удобство: Вам больше не нужно размораживать
												холодильник вручную. Холодный воздух циркулирует внутри
												камеры, предотвращая образование льда
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample1.png" alt="">
													Технология PerfectFresh Pro*
												</div>
												<!-- /.benefits__caption -->
												Ещё больше свежести: инновационная технология Miele позволят
												хранить фрукты и овощи ещё дольше.
											</li>
										</ul>
										<a href="" class="benefits__link">
											Перейти в глоссарий
										</a>
									</div>
									<!-- /.benefits__icon -->
								</div>
								<!-- /.benefits__item -->
							</div>
						</div>
						<!-- Add Arrows -->
					</div>
					<div class="swiper-button-next swiper-button-white benefits-next"></div>
					<div class="swiper-button-prev swiper-button-white benefits-prev"></div>
					<div class="swiper-pagination benefits-pagination"></div>
					<!-- /.swiper-pagination -->
				</div>
			</div>
			<div id="tabs-5">
				<div class="swiper">
					<div class="swiper-container benefits-slide">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="benefits__item">
									<div class="benefits__pic">
										<picture>
											<source media="(max-width: 767px)" srcset="images/benefits_768w.jpg">
											<img src="images/benefits.jpg" alt="" class="lazyload">
										</picture>
									</div>
									<!-- /.benefits__pic -->
									<div class="benefits__icon">
										<ul>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample1.png" alt="">
													Генератор льда IceMaker*
												</div>
												<!-- /.benefits__caption -->
												Быстрое образование и хранение льда: генератор льда IceMaker
												имеет независимую систему управления и может производить
												около 100 кубиков льда в сутки.
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample2.png" alt="">
													Освещение FlexiLight*
												</div>
												<!-- /.benefits__caption -->
												Идеальная система освещения, не создающая бликов: в зависимости
												от размера продуктов, хранящихся в отделениях, полки с
												подсветкой можно
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample3.png" alt="">
													Система NoFrost*
												</div>
												<!-- /.benefits__caption -->
												Непревзойденное удобство: Вам больше не нужно размораживать
												холодильник вручную. Холодный воздух циркулирует внутри
												камеры, предотвращая образование льда
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample1.png" alt="">
													Технология PerfectFresh Pro*
												</div>
												<!-- /.benefits__caption -->
												Ещё больше свежести: инновационная технология Miele позволят
												хранить фрукты и овощи ещё дольше.
											</li>
										</ul>
										<a href="" class="benefits__link">
											Перейти в глоссарий
										</a>
									</div>
									<!-- /.benefits__icon -->
								</div>
								<!-- /.benefits__item -->
							</div>
							<div class="swiper-slide">
								<div class="benefits__item">
									<div class="benefits__pic">
										<picture>
											<source media="(max-width: 767px)" srcset="images/benefits_768w.jpg">
											<img src="images/benefits.jpg" alt="" class="lazyload">
										</picture>
									</div>
									<!-- /.benefits__pic -->
									<div class="benefits__icon">
										<ul>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample1.png" alt="">
													Генератор льда IceMaker*
												</div>
												<!-- /.benefits__caption -->
												Быстрое образование и хранение льда: генератор льда IceMaker
												имеет независимую систему управления и может производить
												около 100 кубиков льда в сутки.
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample2.png" alt="">
													Освещение FlexiLight*
												</div>
												<!-- /.benefits__caption -->
												Идеальная система освещения, не создающая бликов: в зависимости
												от размера продуктов, хранящихся в отделениях, полки с
												подсветкой можно
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample3.png" alt="">
													Система NoFrost*
												</div>
												<!-- /.benefits__caption -->
												Непревзойденное удобство: Вам больше не нужно размораживать
												холодильник вручную. Холодный воздух циркулирует внутри
												камеры, предотвращая образование льда
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample1.png" alt="">
													Технология PerfectFresh Pro*
												</div>
												<!-- /.benefits__caption -->
												Ещё больше свежести: инновационная технология Miele позволят
												хранить фрукты и овощи ещё дольше.
											</li>
										</ul>
										<a href="" class="benefits__link">
											Перейти в глоссарий
										</a>
									</div>
									<!-- /.benefits__icon -->
								</div>
								<!-- /.benefits__item -->
							</div>
							<div class="swiper-slide">
								<div class="benefits__item">
									<div class="benefits__pic">
										<picture>
											<source media="(max-width: 767px)" srcset="images/benefits_768w.jpg">
											<img src="images/benefits.jpg" alt="" class="lazyload">
										</picture>
									</div>
									<!-- /.benefits__pic -->
									<div class="benefits__icon">
										<ul>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample1.png" alt="">
													Генератор льда IceMaker*
												</div>
												<!-- /.benefits__caption -->
												Быстрое образование и хранение льда: генератор льда IceMaker
												имеет независимую систему управления и может производить
												около 100 кубиков льда в сутки.
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample2.png" alt="">
													Освещение FlexiLight*
												</div>
												<!-- /.benefits__caption -->
												Идеальная система освещения, не создающая бликов: в зависимости
												от размера продуктов, хранящихся в отделениях, полки с
												подсветкой можно
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample3.png" alt="">
													Система NoFrost*
												</div>
												<!-- /.benefits__caption -->
												Непревзойденное удобство: Вам больше не нужно размораживать
												холодильник вручную. Холодный воздух циркулирует внутри
												камеры, предотвращая образование льда
											</li>
											<li>
												<div class="benefits__caption">
													<img src="images/iconsexample1.png" alt="">
													Технология PerfectFresh Pro*
												</div>
												<!-- /.benefits__caption -->
												Ещё больше свежести: инновационная технология Miele позволят
												хранить фрукты и овощи ещё дольше.
											</li>
										</ul>
										<a href="" class="benefits__link">
											Перейти в глоссарий
										</a>
									</div>
									<!-- /.benefits__icon -->
								</div>
								<!-- /.benefits__item -->
							</div>
						</div>
						<!-- Add Arrows -->
					</div>
					<div class="swiper-button-next swiper-button-white benefits-next"></div>
					<div class="swiper-button-prev swiper-button-white benefits-prev"></div>
					<div class="swiper-pagination benefits-pagination"></div>
					<!-- /.swiper-pagination -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.benefits -->
