.benefits {
	margin-bottom: 36px;

	// .benefits__title
	&__title {
		font-family: "HelveticaNeueCyr-Light";
		font-size: 26px;
		font-weight: 400;
		line-height: 32px;
		margin-bottom: 30px;
	}

	// .benefits__item
	&__item {
		display: flex;
	}

	// .benefits__pic
	&__pic {
		display: flex;
		align-items: baseline;
		width: 463px;
		height: 396px;
		flex-shrink: 0;
		margin-right: 40px;
		padding-left: 3px;
		padding-top: 4px;

		img {}
	}

	// .benefits__icon
	&__icon {
		display: flex;
		flex-direction: column;

		ul {
			list-style: none;
			padding-left: 0;
			display: flex;
			flex-wrap: wrap;
			padding-top: 21px;
			justify-content: space-between;
			margin-bottom: 34px;

			li {
				width: calc(50% - 12px);
				font-family: "HelveticaNeueCyr-Roman";
				font-size: 14px;
				font-weight: 400;
				line-height: 22px;

				&:not(:nth-last-child(-n+2)) {
					margin-bottom: 39px;
				}

				img {
					max-width: 32px;
					margin-right: 16px;
				}
			}
		}
	}

	// .benefits__caption
	&__caption {
		margin-bottom: 16px;
		font-family: "HelveticaNeueCyr-Light";
		font-size: 20px;
		font-weight: 400;
		line-height: 24px;
	}

	&__link {
		font-family: "HelveticaNeueCyr-Roman";
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
	}

	.container {}

	.ui-tabs {
		display: flex;
		flex-direction: column;
		max-width: 100%;

		&-nav {
			display: flex;
			list-style: none;
			padding-left: 0;
			border-bottom: 1px solid #ececec;
		}

		&-anchor {
			font-family: "HelveticaNeueCyr-Light";
			font-size: 20px;
			font-weight: 400;
			line-height: 24px;
			color: black;
			text-decoration: unset !important;
		}

		&-tab {
			margin-right: 26px;
			padding-bottom: 8px;
			border-bottom: 2px solid transparent;

			&.ui-tabs-active {
				border-color: #8c0014;

				a {
					color: $base;
				}
			}
		}

		&-panel {
			display: flex !important;

			&[aria-hidden="true"] {
				max-height: 0;
				opacity: 0;
			}

			&[aria-hidden="false"] {
				max-height: unset;
				opacity: 1;
			}
		}
	}

	.swiper {
		display: flex;
		flex-direction: column;
		max-width: 100%;
		position: relative;

		.swiper-container {
			max-width: 100%;
		}

		.swiper-wrapper {}

		.swiper-slide {
			width: auto;
		}

		.benefits-next {
			background: url(../images/special-offers_next.svg) 0/24px no-repeat;
			top: -28px;
			right: 3px;
			width: 24px;
			height: 24px;
			position: absolute;
			&:hover  {
				background: url(../images/swiper-button-color-next.svg) 0/24px no-repeat;
			}
		}

		.benefits-prev {
			background: url(../images/special-offers_prev.svg) 0/24px no-repeat;
			position: absolute;
			top: -28px;
			right: 36px;
			left: unset;
			width: 24px;
			height: 24px;
			&:hover  {
				background: url(../images/swiper-button-color-prev.svg) 0/24px no-repeat;
			}
		}

		.benefits-pagination {
			top: -41px;
			right: 76px;

			.swiper-pagination-bullet {
				margin-left: 16px;
			}
		}
	}

	.benefits-thumbs {
		.swiper-slide {}

		span {}
	}

	.benefits-top {}

	@media screen and (max-width: 767px) {
		margin-bottom: 14px;

		&__title {
			// font-family: "HelveticaNeueCyr-medium";
			font-size: 20px;
			font-weight: 400;
			line-height: 26px;
			margin-bottom: 18px;
		}

		&__item {
			flex-direction: column;
			flex-grow: 1;
			height: 100%;
		}

		&__pic {
			height: auto;
			width: 100%;
			margin-right: 0;
			margin-bottom: 3px;
		}

		&__icon {
			flex-grow: 1;

			ul {
				flex-direction: column;
				padding-top: 16px;

				li {
					width: 100%;
					margin-bottom: 22px;
					width: 100%;
					margin-bottom: 22px;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 4;
					overflow: hidden;

					&:not(:nth-last-child(-n+2)) {
						margin-bottom: 22px;
					}
				}
			}
		}

		&__caption {
			font-family: "HelveticaNeueCyr-Light";
			font-size: 18px;
			font-weight: 400;
			line-height: 24px;
		}

		.ui-tabs {
			&-anchor {
				font-family: "HelveticaNeueCyr-Roman";
				font-size: 14px;
				font-weight: 400;
				line-height: 24px;
				color: black !important;
				display: flex;
				padding-bottom: 0;
			}

			&-nav {
				flex-direction: column;
				background: #ffffff;
				height: 46px;
				width: 100%;
				padding: 0;
				overflow: hidden;
				margin-bottom: 2px;
				align-items: center;

				&.active {
					overflow: visible;
					z-index: 999;
					background: white;
					position: relative;

					&:after {
						content: '';
						width: 100%;
						height: 312px;
						position: absolute;
						top: 0;
						left: 0;
						background: white;
					}

					li {
						z-index: 9999;
						position: relative;
						// &:before {
						// 	position: absolute;
						// 	content: '';
						// 	width: 100vw;
						// 	height: calc(100% + 64px);
						// 	background: white;
						// 	left: -30vw;
						// }
					}

					~.ui-tabs-panel {
						// opacity: 0;
					}

					.ui-tabs-tab[aria-selected=true]:after {
						content: "";
						background: url(../images/triangle-down.svg) 50% no-repeat;
						transform: rotate(180deg);
						background-size: 24px;
						width: 24px;
						height: 24px;
						position: absolute;
						right: 6px;
						bottom: 10px;
					}
				}
			}

			&-tab {
				border-bottom: unset;
				width: 100%;
				margin-right: 0;
				border-radius: 2px;
				border: 1px solid #d6d6d6;
				background-color: #fff;
				padding: 9px 12px 10px;
				margin-bottom: 13px;

				&.ui-tabs-active {
					border: 1px solid #d6d6d6;
				}

				&[aria-selected="true"] {
					order: -1;
					position: relative;

					&:after {
						content: '';
						background: url("../images/triangle-down.svg")center no-repeat;
						background-size: 24px;
						width: 24px;
						height: 24px;
						position: absolute;
						right: 6px;
						bottom: 10px;
					}

					a {
						pointer-events: none;
					}
				}

				&[aria-selected="false"] {}
			}

			&-panel {}

			.swiper .benefits {

				&-next,
				&-prev {
					display: none;
				}
			}
		}

		.swiper {
			.benefits-pagination {
				top: unset;
				right: unset;
				bottom: 62px;
				width: 100%;
				display: flex;
				justify-content: center;

				// position: static;
				.swiper-pagination-bullet {
					&:first-of-type {
						margin-left: 0px;
					}
				}
			}
		}

		&__link {
			text-align: center;
			font-family: "HelveticaNeueCyr-Roman";
			font-size: 16px;
			font-weight: 400;
			line-height: 20px;
			text-align: center;
			margin-top: auto;
		}
	}
}
