.contact {
	display: flex;
	flex-wrap: wrap;
	padding-top: 10px;
	margin-bottom: 37px;

	@media screen and (max-width: 767px) {
		padding-top: 3px;
		margin-bottom: 0;

		.return-exchange__input {
			margin-bottom: 16px;
		}

		.return-exchange__textarea {
			height: 124px;
			padding: 13px 15px;
		}

		.abuse-popup__submit {
			width: 100%;
			padding: 12px 0 8px;
		}

		&__detail {
			.return-exchange__input {
				font-size: 14px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.71;
				letter-spacing: normal;
				text-align: left;
				color: #666666;
			}
		}

		&__element {
			width: 100%;
			height: unset;
		}

		&__detail {
			width: 100%;
			padding-right: 0;

			.return-exchange__input {
				padding-left: 16px;
			}

			&-textarea {
				margin-top: 0;
				margin-bottom: 17px;
			}
		}

		&__form {
			margin-top: 12px;
			margin-bottom: 0;
			padding-bottom: 18px;
			border-bottom: unset;

			label {
				margin-bottom: 22px;

				.checkbox__icon {
					top: 2px;
					transform: unset;
				}
			}
		}

		&__title {
			.d-flex & {
				margin-top: 7px;
			}
		}

		&__item {
			&:first-of-type {
				.contact__element {
					margin-right: 0;
					margin-bottom: 10px;

					&:first-of-type {
						max-width: 100%;

						p {
							margin-bottom: 16px;

							&:last-of-type {
								margin-bottom: 10px;
							}
						}
					}

					&:nth-child(2) {
						padding-left: 3px;
						padding-bottom: 4px;

						b {
							margin-bottom: 9px;
						}

						span {
							line-height: 22px;
							margin-bottom: 6px;
						}
					}
				}
			}

			&:nth-of-type(2) {
				margin-top: 0;
				padding-left: 0;
			}

			h3 {
				font-size: 20px;
				font-weight: 400;
				line-height: 26px;
				width: 100%;
			}

			&.claim {
				display: none;
			}
		}

		p {
			font-size: 14px;
			line-height: 22px;
		}

		// .contact__adress
		&__adress {
			padding: 24px 22px 7px;
			margin-left: -16px;
			margin-right: -16px;

			p {
				font-family: "HelveticaNeueCyr-Light";
				font-size: 20px;
				font-weight: 400;
				line-height: 24px;
				margin-bottom: 4px;
			}

			b {
				line-height: 26px;
			}

			ul {
				margin-bottom: 8px;

			}

			li {
				font-size: 12px;
				font-weight: 400;
				line-height: 22px;
			}

			li:not(:last-of-type) {
				margin-bottom: 7px;
			}

			li:before {
				top: 8px;
				left: -23px;
			}
		}

		// .contact__info
		&__info {
			background: #ececec;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 24px 15px 23px;
			margin-bottom: 24px;
			margin-left: -16px;
			margin-right: -16px;

			p {

				margin-bottom: 0;
				font-size: 12px;
				font-weight: 400;
				line-height: 18px;

				span {
					font-size: 12px;
					font-weight: 400;
					line-height: 18px;
				}
			}

			b {
				font-size: 32px;
				font-weight: 400;
				line-height: 36px;
				padding-right: 0px;
				margin:16px 0 16px;
			}
		}
	}

	@media screen and (max-width: 767px) {
		// .return-exchange__name {
		//   display: flex;
		//   font-size: 14px;
		//   font-weight: normal;
		//   font-style: normal;
		//   font-stretch: normal;
		//   line-height: 2.29;
		//   letter-spacing: normal;
		//   text-align: left;
		//
		// }
		// .return-exchange__input::placeholder,
		// .return-exchange__textarea::placeholder {
		//   opacity: 0;
		// }
	}

	.abuse-popup__submit {
		width: 172px;
		height: 40px;
		margin-left: auto;
		// margin-right: 20px;
		border-radius: 3px;
		margin-right: 1px;
	}

	.return-exchange__name {
		display: none;
	}

	.return-exchange__input {
		width: 100%;
		padding-left: 18px;
	}

	.return-exchange__textarea {
		width: 100%;
		padding: 15px 18px;
	}

	// &__items {}
	p {
		z-index: 99;
		width: 100%;
		font-size: 14px;
		line-height: 22px;
		text-align: left;
		margin-bottom: 0;

		a {
			color: $base;

			&.header__phone {
				font-size: 14px;
				font-weight: 400;
				line-height: 22px;
			}
		}

		span {
			width: 100%;
			padding: 0;
			font-size: 14px;
			font-weight: 400;
			line-height: 23px;

			&:not(:last-of-type) {
				margin-bottom: 5px;
			}
		}

		strong {
			display: block;
			margin-bottom: 1rem;
		}
	}

	b {
		display: block;
		width: 100%;
		margin-bottom: 11px;
		font-size: 18px;
		// font-weight: 400;
		line-height: 24px;
		text-align: left;
		font-weight: bold;
		font-family: "HelveticaNeueCyr-Light";
		font-size: 20px;
		font-weight: 400;
		line-height: 24px;
		padding-left: 1px;
	}

	span {
		b {
			display: inline;
			font-size: 14px;
			// font-weight: 400;
			line-height: 22px;
		}
	}

	h3 {
		font-family: "HelveticaNeueCyr-Light";
		font-size: 26px;
		font-weight: 400;
		line-height: 32px;
		margin-bottom: 2px;
	}

	&__form {
		display: flex;
		flex-wrap: wrap;
		margin-top: 25px;
		padding-bottom: 33px;
		margin-bottom: 34px;
		border-bottom: 1px solid #e2e2e2;
		color: #666666;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		justify-content: space-between;

		label {
			display: flex;
			align-items: center;
			color: #666666;
			font-size: 12px;
			line-height: 18px;

			.checkbox__icon {
				top: 50%;
				left: 1;
				transform: translateY(-50%);
			}

			.checkbox__text {
				padding-bottom: 4px;
			}
		}

		a {
			color: $base;
			margin-right: 2px;
		}
	}

	&__detail {
		width: calc((100%/3) - 18px);

		// padding-right: 20px;
		&-textarea {
			width: 100%;
			margin-top: 20px;
			margin-bottom: 25px;
		}
	}

	&__item {
		display: flex;
		flex-wrap: wrap;

		&:first-of-type {
			flex-wrap: wrap;

			.contact__element {
				margin-right: 32px;
				align-content: baseline;

				// padding-bottom: 4px;
				&:first-of-type {
					max-width: 272px;

					p {
						margin-bottom: 33px;
					}
				}

				&:nth-of-type(2) {
					p {
						font-size: 14px;
						font-weight: 400;
						line-height: 27px;
					}
				}
			}
		}

		&:nth-of-type(2) {
			padding-top: 25px;
			border-top: 1px solid #e2e2e2;
			margin-top: 5px;
			padding-left: 2px;
		}

		&:last-child {
			margin-bottom: 14px;
		}

		&.claim {
			padding-left: 1px;

			b {
				font-family: "HelveticaNeueCyr-Light";
				font-size: 26px;
				font-weight: 400;
				line-height: 32px;
				margin-bottom: 12px;
			}
		}
	}

	&__element {
		display: flex;
		flex-wrap: wrap;
		width: 50%;
		height: auto;

		span {
			display: block !important;
			font-weight: 400 !important;
		}
	}

	&__row {
		display: flex;
		flex-direction: column;
		width: 100%;

		// padding-left: 4px;
		p {
			margin-bottom: 23px;
		}
	}

	// .contact__adress
	&__adress {
		display: flex;
		flex-direction: column;
		padding: 24px 24px 7px;
		background: #f6f6f6;
		margin-top: 2px;

		p {
			font-family: "HelveticaNeueCyr-Light";
			font-size: 20px;
			font-weight: 400;
			line-height: 24px;
			margin-bottom: 14px;
		}

		ul {
			list-style: none;
			padding-left: 0;
		}

		li {
			display: flex;
			flex-wrap: wrap;
			position: relative;
			margin-left: 24px;
			// margin-bottom: 15px;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
		}

		li:not(:last-of-type) {
			margin-bottom: 4px;
		}

		li:before {
			content: "";
			display: inline-flex;
			position: absolute;
			top: 8px;
			left: -23px;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background: #f59b00;
		}
	}

	// .contact__info
	&__info {
		background: #ececec;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 15px 15px 18px;
		margin-bottom: 22px;

		p {
			text-align: center;
			margin-bottom: 0;

			span {
				color: #8c0014;
				font-family: "HelveticaNeueCyr-Bold";
			}
		}

		b {
			font-family: "HelveticaNeueCyr-Light";
			font-size: 40px;
			font-weight: 400;
			line-height: 36px;
			text-align: center;
			padding-right: 17px;
			margin: 10px 0 14px;
		}
	}
}
