.card-accessories {
	max-width: 100%;

	&__delivery {
		color: #4b4b4b;
		font-family: "HelveticaNeueCyr-Roman";
		font-size: 14px;
		font-weight: 400;
		max-width: 217px;
		margin-left: auto;
		line-height: 18px;
	}

	.product {
		&__header {
			margin-bottom: 32px;
		}
	}

	.product-card {
		.product__header_bottom {
			border: none;
			padding-bottom: 0;
		}

		&__announcing {
			.announcing {
				&__item {
					&:not(:last-of-type) {
						margin-right: 0;
					}

					margin-left: 32px;

					&:first-child {
						margin-left: 0;
					}
				}
			}
		}

		.tabs {
			.characteristic__copyright {
				border: none;
			}
		}

		.reviews {
			&-list {
				&:last-child {
					border: none;
				}
			}

			&__top {
				max-width: 700px;
				flex-wrap: wrap;
			}

			&-no {
				margin-top: 24px;
			}
		}

		.product-card__collection {
			margin: 25px 0 48px;

			.ui-tabs-nav {
				border-bottom: none;
				margin-bottom: 24px;
			}

			.tags__item {
				font-size: 26px;
				font-weight: 400;
			}

			.swiper {
				&-pagination-collection {
					position: absolute;
					top: 10px;
					right: 84px;
				}
			}

			.collection {
				&__prev {
					position: absolute;
					top: 0;
					right: 36px;
				}

				&__next {
					position: absolute;
					top: 0;
					right: 0;
				}
			}
		}

		.similar-accessories {
			max-width: 100%;
			position: relative;

			&__title {
				font-size: 26px;
				font-weight: 400;
				margin-bottom: 24px;
			}

			&__slide {
				border: solid 1px #f6f6f6;
				background: #ffffff;
				padding: 20px;
			}

			&__desc {
				&-title {
					display: flex;
					flex-direction: column;
					color: #4b4b4b;
					font-size: 13px;
					margin-bottom: 32px;

					span {
						font-size: 18px;
						font-weight: 400;
					}
				}
			}

			&__price {
				font-size: 18px;
			}

			&__pagination {
				display: block;
				top: 0;
				right: 84px;
			}

			&__next,
			&__prev {
				position: absolute;
				width: 24px;
				height: 24px;
			}

			&__next {
				top: 23px;
				right: 0;
				background: url("../images/special-offers_next.svg") 0/24px no-repeat;
			}

			&__prev {
				top: 23px;
				right: 36px;
				background: url("../images/special-offers_prev.svg") 0/24px no-repeat;
				left: auto;
			}
		}
	}

	@media screen and (max-width: 797px) {
		.product-card {
			.product__header_bottom {
				.card-accessories__delivery {
					margin-left: 0;
					text-align: center;
					order: 1;
				}

				.product-card__button {
					order: 0;
					margin-bottom: 24px;
				}

				.product-card__social {
					margin-top: 24px;
				}
			}

			.product-card__announcing {
				.announcing {
					&__item {
						margin: 0 0 24px 0;
					}
				}
			}

			.product-card__collection {
				padding: 0 12px 12px;

				.tags__item {
					font-size: 24px;
					line-height: 32px;

					&:hover {
						line-height: 32px;
						color: black;
					}
				}

				.swiper-pagination-collection {
					top: unset;
					right: unset;
					left: 50%;
					transform: translateX(-50%);
					bottom: -7px;
					display: flex !important;
				}
			}

			.similar-accessories {
				margin-bottom: 47px;
				padding: 0 12px;

				&__title {
					font-size: 20px;
				}

				&__prev,
				&__next {
					display: none;
				}

				&__pagination {
					display: flex;
					top: unset;
					right: unset;
					bottom: -24px;
				}
			}

			.reviews {
				.reviews__top {
					flex-direction: column;
				}

				.reviews__link {
					order: 1;
				}

				&__section {
					margin-bottom: 0;
				}

				&-no {
					margin: 16px 0 18px;
					font-size: 14px;
				}
			}

			.sidebar-right {
				.yandex {
					order: 0;
				}
			}
		}
	}
}
